.web-app-container.container-fluid {
    padding-right: 0px;
    padding-left: 0px;
    height:100%;
  }
  .column{
      transition:.3s all;
  }
  .row{
      margin:0;
      padding:0;
  }

  body>.web-app-container.container-fluid{
      padding-bottom: 40px;
      position: relative;
      height: auto;
      min-height:100%;
  }