.ui-wLeftSidebar {
    background: #c3deef;
  }
  .ui-wLeftSidebar .metismenu .nav-menu-item > a {
    height: 49px;
    padding: 14px 20px;
    line-height: 21px;
    border-top: 1px solid #fff;
    display: block;
    background-color: #069dd5;
    color: #fff;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  .ui-wLeftSidebar .metismenu .nav-menu-item > a .badge {
    background-color: #057aa6;
    color: #fff;
    margin-left: 5px;
  }
  .ui-wLeftSidebar .metismenu .nav-menu-item > a .iconfont {
    font-size: 17px;
    vertical-align: middle;
  }
  .ui-wLeftSidebar .metismenu .nav-menu-item > a:hover,
  .ui-wLeftSidebar .metismenu .nav-menu-item > a:focus,
  .ui-wLeftSidebar .metismenu .nav-menu-item > a:active {
    color: #79daff;
    text-decoration: none;
  }
  .ui-wLeftSidebar .metismenu .nav-menu-item.nav-menu-active > a {
    background: #057aa6;
  }
  .ui-wLeftSidebar .metismenu .nav-menu-item.nav-menu-active > a .badge {
    background-color: #069dd5;
    color: #fff;
  }
  .ui-wLeftSidebar .metismenu .collapse > .nav-menu-item.subnav-menu-item > a,
  .ui-wLeftSidebar .metismenu .collapse > .nav-menu-item.thirdnav-menu-item > a {
    color: #333;
    height: 40px;
    display: block;
    border-top: 1px solid #daedf8;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    text-decoration: none;
  }
  .ui-wLeftSidebar .metismenu .collapse > .nav-menu-item.subnav-menu-item > a {
    background: url(images/erji.jpg) center left no-repeat #c3deef;
    padding: 10px 15px 10px 38px;
  }
  .ui-wLeftSidebar .metismenu .collapse > .nav-menu-item.subnav-menu-item:hover,
  .ui-wLeftSidebar .metismenu .collapse .nav-menu-item.subnav-menu-item:focus,
  .ui-wLeftSidebar .metismenu .collapse .nav-menu-item.subnav-menu-item:active {
    opacity: 1;
  }
  .ui-wLeftSidebar .metismenu .collapse > .nav-menu-item.subnav-menu-item:hover > a,
  .ui-wLeftSidebar .metismenu .collapse .nav-menu-item.subnav-menu-item:focus > a,
  .ui-wLeftSidebar .metismenu .collapse .nav-menu-item.subnav-menu-item:active > a {
    background: url(images/erji-hover1.jpg) center left no-repeat #c3deef;
    color: #069dd5;
  }
  .ui-wLeftSidebar .metismenu .collapse > .nav-menu-item.subnav-menu-item:first-child a {
    border: 0;
  }
  .ui-wLeftSidebar .metismenu .collapse > .nav-menu-item.subnav-menu-item.nav-menu-active > a {
    background: url(images/erji-visited.jpg) center left no-repeat #58c0ff;
    color: #fff;
    border-top: #58c0ff;
  }
  .ui-wLeftSidebar .metismenu .collapse > .nav-menu-item.thirdnav-menu-item > a {
    background: url(images/sanji.jpg) center left no-repeat #e1eef5;
    padding: 10px 15px 10px 58px;
  }
  .ui-wLeftSidebar .metismenu .collapse > .nav-menu-item.thirdnav-menu-item:hover,
  .ui-wLeftSidebar .metismenu .collapse .nav-menu-item.thirdnav-menu-item:focus,
  .ui-wLeftSidebar .metismenu .collapse .nav-menu-item.thirdnav-menu-item:active {
    opacity: 1;
  }
  .ui-wLeftSidebar .metismenu .collapse > .nav-menu-item.thirdnav-menu-item:hover > a,
  .ui-wLeftSidebar .metismenu .collapse .nav-menu-item.thirdnav-menu-item:focus > a,
  .ui-wLeftSidebar .metismenu .collapse .nav-menu-item.thirdnav-menu-item:active > a {
    background: url(images/sanji-hover.jpg) center left no-repeat #e1eef5;
    color: #069dd5;
  }
  .ui-wLeftSidebar .metismenu .collapse > .nav-menu-item.thirdnav-menu-item:first-child a {
    border: 0;
  }
  .ui-wLeftSidebar .metismenu .collapse > .nav-menu-item.thirdnav-menu-item.nav-menu-active > a {
    background: url(images/sanji-visited.jpg) center left no-repeat #58c0ff;
    color: #fff;
    border-top: #58c0ff;
  }