@import '../variables/pt-variables.less';
@import '../mixin/mixin.less';
//头部皮肤
.ui-wHeader {
  .navbar-danger {
    background: @danger;
  }
  .navbar-primary {
    background: @primary;
  }
  .navbar-info {
    background: @info;
  }
  .navbar-warning {
    background: @warning;
  }
  .navbar-success {
    background: @success;
  }
  .navbar-default {
    background: @default;
  }
  .navbar-inverse {
    background: @inverse;
  }
  .navbar-themeColor {
    background: @themebgcolor;
  }
  &.wHeader-default {
    .navbar-nav {
      > li > a {
        color: @white;
      }
      > li.item-0 {
        background: #50ccf0;
      }
      > li.item-1 {
        background: #fabb3d;
      }
      > li.item-2 {
        background: #ab4ee0;
      }
      > li.item-3 {
        background: #78cd51;
      }
      > li.item-4 {
        background: #ea4c89;
      }
      > li.item-5 {
        background: #00aced;
      }
    }
  }
  &.wheader-type1 {
    .navbar-nav {
      > li {
        > a {
          color: @white;
          &:hover,
          &:focus {
            background: none;
          }
        }
        &.active,
        &:hover {
          > a {
            background: @themebg-darker;
            color: @white;
          }
        }
      }
    }
    .navbar-danger,
    .navbar-primary,
    .navbar-info,
    .navbar-warning,
    .navbar-success,
    .navbar-inverse {
      li {
        a {
          color: @white;
        }
      }
    }
  }
}

.ui-wNavbar {
  .ui-navbar-nav {
    > li {
      > a {
        color: @white;
      }
      &.open {
        > a {
          background: lighten(@themebgcolor, 20%);
        }
      }
    }
  }
  .nav-tabs {
    > li {
      &.active {
        background: lighten(@themebgcolor, 20%);
      }
      &.active > a:hover,
      &.active > a:focus,
      &.active > a:visited {
        background: lighten(@themebgcolor, 20%);
      }
    }
  }

  .navbar-danger {
    .setNavbarColor(@danger);
  }
  .navbar-primary {
    .setNavbarColor(@primary);
  }
  .navbar-info {
    .setNavbarColor(@info);
  }
  .navbar-warning {
    .setNavbarColor(@warning);
  }
  .navbar-success {
    .setNavbarColor(@success);
  }
  .navbar-default {
    .setNavbarColor(@default);
  }
  .navbar-inverse {
    .setNavbarColor(@inverse);
  }
  .navbar-themeColor {
    .setNavbarColor(@themebgcolor);
  }
}

.ui-wPanel {
  .panel-heading {
    .background(@themebgcolor,@white);
    .badge {
      .background(darken(@themebgcolor,10%),@white);
    }
    .panel-view-more {
      color: @white;
    }
    .panel-heading-query {
      .btn-default {
        border-color: @themebgcolor;
        .background(@themebgcolor,@white);
      }
    }
    .hover .form-control {
      background: @white;
      border-color: @borderColor;
    }
    .panel-heading-query:hover .btn-default,
    .panel-heading-query.hover .btn-default {
      .background(@white,@themebgcolor);
      border-color: @borderColor;
    }
  }
}

.ui-wFooter {
  .background(@themebgcolor,@white);
  .help-info {
    color: @white;
    a {
      color: @white;
    }
    .fa:hover {
      color: negation(@themebgcolor, #fff);
    }
  }
}

.bootbox {
  .modal-dialog {
    .modal-header {
      background: @themebgcolor;
      .modal-title,
      .close {
        color: @white;
      }
    }
  }
}
.layui-layer {
  .layui-layer-title {
    .background(@themebgcolor,@white);
  }
}
.ui-dialog {
  .ui-widget-header {
    .background(@themebgcolor,@white);
    border: 1px solid @themebgcolor;
  }
}

.ui-wLeftSidebar {
  background: lighten(@themebgcolor, 40%);
  .metismenu {
    .nav-menu-item {
      > a {
        .background(@themebgcolor,@white);
        .badge {
          .background(@themebg-darker,@white);
        }
      }
      > a:hover,
      > a:focus,
      > a:active {
        color: lighten(@themebgcolor, 10%);
      }
    }
    .nav-menu-item.nav-menu-active > a {
      background: @themebg-darker;
    }
    .nav-menu-item.nav-menu-active > a {
      .badge {
        .background(@themebgcolor,@white);
      }
    }
    .collapse {
      > .nav-menu-item.subnav-menu-item,
      > .nav-menu-item.thirdnav-menu-item {
        > a {
          color: @titleColor;
        }
      }
      > .nav-menu-item.subnav-menu-item:hover,
      .nav-menu-item.subnav-menu-item:focus,
      .nav-menu-item.subnav-menu-item:active,
      > .nav-menu-item.thirdnav-menu-item:hover,
      .nav-menu-item.thirdnav-menu-item:focus,
      .nav-menu-item.thirdnav-menu-item:active {
        > a {
          color: @themebgcolor;
        }
      }
      > .nav-menu-item.subnav-menu-item {
        > a {
          background: url(images/erji.jpg) center left no-repeat #c3deef;
        }
      }
      > .nav-menu-item.subnav-menu-item:hover,
      .nav-menu-item.subnav-menu-item:focus,
      .nav-menu-item.subnav-menu-item:active {
        opacity: 1;
        > a {
          background: url(images/erji-hover1.jpg) center left no-repeat #c3deef;
        }
      }
      > .nav-menu-item.subnav-menu-item:first-child a {
        border: 0;
      }
      > .nav-menu-item.subnav-menu-item.nav-menu-active {
        > a {
          background: url(images/erji-visited.jpg) center left no-repeat #58c0ff;
          color: #fff;
          border-top: #58c0ff;
        }
      }
      > .nav-menu-item.thirdnav-menu-item {
        > a {
          background: url(images/sanji.jpg) center left no-repeat #e1eef5;
        }
      }
      > .nav-menu-item.thirdnav-menu-item:hover,
      .nav-menu-item.thirdnav-menu-item:focus,
      .nav-menu-item.thirdnav-menu-item:active {
        opacity: 1;
        > a {
          background: url(images/sanji-hover.jpg) center left no-repeat #e1eef5;
        }
      }
      > .nav-menu-item.thirdnav-menu-item:first-child a {
        border: 0;
      }
      > .nav-menu-item.thirdnav-menu-item.nav-menu-active {
        > a {
          background: url(images/sanji-visited.jpg) center left no-repeat #58c0ff;
          color: #fff;
          border-top: #58c0ff;
        }
      }
    }
  }
  .icon-nav {
    .icon-nav-item {
      background: @themebgcolor;
      i {
        color: @white;
      }
      &:hover,
      &.selected {
        .background(@themebg-darker,@white);
      }
    }
  }
}

.second-page {
  .menu-sidebar {
    background: lighten(@themebgcolor, 50%);
  }
}

.folder-tree.ztree {
  li {
    a.curSelectedNode {
      background: lighten(@themebgcolor, 40%);
      border: 1px solid lighten(@themebgcolor, 30%);
      color: @fontBaseColor;
      opacity: 1;
    }
  }
}

.widget-box {
  > .widget-header {
    background: @themebgcolor;
    > .widget-title {
      color: @white;
    }
  }
  .widget-body {
    background: @bodybg;
    .nav-tabs {
      li {
        a {
          color: @fontBaseColor;
        }
      }
      li.active {
        a {
          color: @themebgcolor;
        }
      }
    }
  }
  .footer.fixed {
    .form-control {
      border: 1px solid @themebgcolor;
    }
    .row-sign-opinion-text {
      .sign_opinion_text {
        .background(@themebgcolor,@white);
      }
    }
    .row-sign-opinion-text {
      .wf-opinion-recent-snapshop {
        .list-group-item {
          border-bottom: 1px solid @themebgcolor;
        }
      }
    }
    .wf-opinion {
      .list-group {
        a {
          border-bottom: 1px @bodybg solid;
          &:hover {
            .background(@bodybg, @themebgcolor);
          }
        }
      }
    }
    .tabs-container {
      .nav-tabs {
        li {
          a:hover {
            background: @bodybg;
          }
          &.active {
            a {
              color: @themebgcolor;
            }
          }
        }
      }
    }
  }
}

.right-sidebar {
  .nav-tabs {
    .background(@themebgcolor,@white);
    > li {
      > a {
        border: 1px solid @themebgcolor;
        .background(@white,@themebgcolor);
        &:hover {
          color: white;
          border: 1px solid @themebg-darker;
          background-color: @themebg-darker;
        }
      }
      &.active {
        > a {
          border: 1px solid @themebgcolor;
          .background(@themebgcolor,@white);
        }
      }
    }
  }
}

.ui-wBootstrapTable {
  .fixed-table-pagination {
    .pagination {
      li {
        a:focus,
        a:hover {
          .background(@themebgcolor,@white);
          border-color: @themebgcolor;
        }
      }
      .active {
        a,
        a:focus,
        a:hover {
          .background(@themebgcolor,@white);
          border-color: @themebgcolor;
        }
      }
    }
  }
}

.ui-jqgrid {
  .ui-jqgrid-titlebar {
    .background(@themebgcolor,@white);
    border-color: @themebgcolor;
  }
}

.ui-wBootstrapTabs.tabs-theme1 {
  .nav-tabs {
    border-color: @themebgcolor;
    > li {
      > a {
        .background(@themebgcolor,@white);
        &:hover,
        &:focus {
          .background(@white,@themebgcolor);
          border-color: @themebgcolor;
          border-bottom-color: transparent;
        }
      }
      &.active {
        > a {
          .background(@white,@themebgcolor);
          border-color: @themebgcolor;
          border-bottom-color: transparent;
        }
      }
    }
  }
  .tab-content {
    background: @white;
    padding-top: 9px;
  }
}

//收藏图标样式
.jquery-ui-favorite:before {
  content: url('../../../theme/images/star-off.png');
}
.jquery-ui-favorite.favorite:before {
  content: url('../../../theme/images/star-on.png');
}
//收藏图标样式结束

/*formBuilder.js中构建bootstrap风格控件用到的样式开始*/
.div-bootstraptable-formbuilder {
  padding: 0 15px;
}
.label-formbuilder {
  padding-top: 7px;
}
.formbuilder input[type='text'],
.formbuilder textarea {
  width: 100%;
}
.formbuilder .minicolors-theme-default.minicolors {
  width: 100%;
}
.formbuilder .minicolors-theme-default .minicolors-input {
  height: inherit;
  width: 100%;
  display: inline-block;
  padding-left: 26px;
}
.formbuilder .input-loading {
  padding-right: 20px;
  background: url('images/loading2.gif') no-repeat scroll right center transparent !important;
}
/*formBuilder.js中构建bootstrap风格控件用到的样式结束*/

/* 数据管理开始 */
.dms-history-version-table td.remark {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 200px;
}
/* 数据管理结束 */

/* 浏览器加载进度条开始 */
.pace {
  height: 2px;
}
.pace .pace-progress {
  height: 2px;
  opacity: 0;
}
.pace .pace-activity {
  background-image: none;
}
/* 浏览器加载进度条结束 */

/* 右键菜单开始  */
.modal-open .ui-menu {
  background-color: #ccc;
  border: 1px solid #000;
  z-index: 9999;
  width: 5em;
  padding: 0 5px;
}
.modal-open .ui-menu-item .ui-icon {
  background-image: none;
}

.modal-open .ui-menu-item .ui-state-active {
  background: none;
  border: none;
}
/* 右键菜单结束  */

/*物品管理弹框样式*/
.dlg-goods-to-outbound table td input.form-control {
  width: 100%;
}
.dlg-goods-to-outbound table td .help-block {
  white-space: normal;
}
/*物品管理弹框样式*/

/*日程模块*/
.fc .fc-toolbar > * > * {
  margin: 0;
}
/*日程模块*/

/* select2开始 */
form .select2-container {
  padding: 0 !important;
}

form .select2-container .select2-choice {
  height: 35px;
}

form .select2-container .select2-choice span {
  line-height: 35px;
}
/* select2结束 */

/*审批环节*/
.choose-next-task {
  .radio-inline.label-formbuilder {
    display: block;
  }
  .radio-inline + .radio-inline {
    margin: 0;
  }
}

/*表单皮肤部分*/
.dyform {
  .title {
    .background(@themebgcolor,@white);
    border-bottom: 1px solid;
    border-color: @themebgcolor;
  }
  .fileupload-ico {
    border: 1px solid @themebgcolor;
    .background(@themebgcolor,@white);
    div {
      > a:hover {
        color: @themebg-lighter;
      }
    }
  }
  .newContent,
  .imposeContent {
    .background(@themebgcolor,@white);
    &:hover {
      background: @themebg-darker;
    }
  }
  table {
    td {
      input[type='radio'] + label:before {
        color: @themebgcolor;
      }
      input[type='radio'] + label.radiolabel:before {
        color: @themebgcolor;
      }
      input[type='radio']:checked + label:before {
        color: @themebgcolor;
      }
      input[type='checkbox'] + label:before {
        color: @themebgcolor;
      }
      input[type='checkbox']:checked + label:before {
        color: @themebgcolor;
      }
      input[type='checkbox'] + label.checkboxlabel:before {
        color: @themebgcolor;
      }
    }
  }
  .fileUpdateload {
    .background(@themebgcolor,@white);
    border: 1px solid @themebgcolor;
  }
}
/*表单皮肤部分*/
