.uni-body {
  /* 行为相关颜色 */
  --color-primary: #2590ff;
  --color-success: #24ce85;
  --color-warning: #f8a131;
  --color-error: #ed6b63;

  /* 文字基本颜色 */
  --text-color: var(--w-primary-color-10);
  --text-color-inverse: #fff;
  --text-color-grey: #999;
  --text-color-placeholder: #cccccc;
  --text-color-disable: #999999;
  --text-color-label: #666666;
  --text-color-active: var(--w-primary-color);
  --text-color-clear: #cccccc;
  --text-color-arrow: #cccccc;

  /* 按钮颜色 */
  --btn-color-default: #d4d4d4;
  --btn-color-primary: var(--w-primary-color);
  --btn-color-success: #3aa322;
  --btn-color-info: #2aaedd;
  --btn-color-warning: #e99f00;
  --btn-color-danger: #e33033;
  --btn-color-inverse: #000000;

  /* 背景颜色 */
  --bg-color: #f5f6f8;
  --bg-color-grey: #f8f8f8;
  --bg-color-hover: #fafafa;
  --bg-color-mask: rgba(0, 0, 0, 0.4);
  --bg-secondary-color: #fff;
  --bg-search-bar-color: #fafafa;
  --bg-disable-color: #fafafa;

  /* 图标颜色 */
  --icon-color: #333333;

  /* 边框颜色 */
  --border-color: #f2f2f2;
  --border-color-3: #e6e6e6;

  /* 文章场景相关 */

  --color-title: #121b31;
  --color-subtitle: #666666;
  --color-paragraph: #333333;

  /* 平台主题 */
  --w-primary-color: #2590ff;
  --w-primary-color-rgb: 37, 144, 255;
  --w-primary-color-1: #f4faff;
  --w-primary-color-2: #e9f4ff;
  --w-primary-color-3: #d3e9ff;
  --w-primary-color-4: #92c7ff;
  --w-primary-color-5: #51a6ff;
  --w-primary-color-6: var(--w-primary-color);
  --w-primary-color-7: #1a65b3;
  --w-primary-color-8: #165699;
  --w-primary-color-9: #0f3a66;
  --w-primary-color-10: #071d33;
  --w-color-white: white;
  --w-gray-color-1: white;
  --w-gray-color-2: #fafafa;
  --w-gray-color-3: #f5f5f5;
  --w-gray-color-4: #f2f2f2;
  --w-gray-color-5: #e6e6e6;
  --w-gray-color-6: #d9d9d9;
  --w-gray-color-7: #cccccc;
  --w-gray-color-8: #b3b3b3;
  --w-gray-color-9: #999999;
  --w-gray-color-10: #808080;
  --w-gray-color-11: #666666;
  --w-gray-color-12: #4d4d4d;
  --w-gray-color-13: #333333;
  --w-gray-color-14: black;
  --w-text-color-darker: var(--w-gray-color-14);
  --w-text-color-mobile: var(--w-primary-color-10);
  --w-text-color-dark: var(--w-gray-color-13);
  --w-text-color-base: var(--w-gray-color-11);
  --w-text-color-light: var(--w-gray-color-9);
  --w-text-color-lighter: var(--w-gray-color-7);
  --w-text-color-inverse: white;
  --w-border-color-darker: var(--w-gray-color-8);
  --w-border-color-dark: var(--w-gray-color-7);
  --w-border-color-base: #d9d9d9;
  --w-border-color-light: var(--w-gray-color-5);
  --w-border-color-lighter: var(--w-gray-color-4);
  --w-border-color-inverse: #fff;
  --w-border-color-mobile: var(--w-gray-color-4);
  --w-fill-color-base: var(--w-color-white);
  --w-fill-color-light: var(--w-gray-color-4);
  --w-fill-color-dark: var(--w-gray-color-5);
  --w-fill-color-darker: var(--w-gray-color-7);
  --w-bg-color-body: var(--w-color-white);
  --w-bg-color-popup: var(--w-color-white);
  --w-bg-color-component: var(--w-color-white);
  --w-bg-color-popover: var(--w-color-white);
  --w-bg-color-layout: var(--w-gray-color-4);
  --w-bg-color-spotlight: var(--w-gray-color-13);
  --w-bg-color-mobile-bg: #f5f6f8;
  --w-bg-color-mobile-th: var(--w-gray-color-2);
  --w-bg-color-mobile-light: var(--w-gray-color-2);
  --w-success-color: #24ce85;
  --w-success-color-1: #f4fdf9;
  --w-success-color-2: #e9faf3;
  --w-success-color-3: #d3f5e7;
  --w-success-color-4: #92e6c2;
  --w-success-color-5: #50d89d;
  --w-success-color-6: var(--w-success-color);
  --w-success-color-7: #19905d;
  --w-success-color-8: #167c50;
  --w-success-color-9: #0e5235;
  --w-success-color-10: #07291b;
  --w-warning-color: #f8a131;
  --w-warning-color-1: #fffaf5;
  --w-warning-color-2: #fef6ea;
  --w-warning-color-3: #feecd6;
  --w-warning-color-4: #fcd098;
  --w-warning-color-5: #f9b45a;
  --w-warning-color-6: var(--w-warning-color);
  --w-warning-color-7: #c68127;
  --w-warning-color-8: #95611d;
  --w-warning-color-9: #634014;
  --w-warning-color-10: #32200a;
  --w-danger-color: #ed6b63;
  --w-danger-color-1: #fef8f7;
  --w-danger-color-2: #fdf0ef;
  --w-danger-color-3: #fbe1e0;
  --w-danger-color-4: #f6b5b1;
  --w-danger-color-5: #f18982;
  --w-danger-color-6: var(--w-danger-color);
  --w-danger-color-7: #be564f;
  --w-danger-color-8: #8e403b;
  --w-danger-color-9: #5f2b28;
  --w-danger-color-10: #2f1514;
  --w-info-color: #36c8e5;
  --w-info-color-1: #f5fcfe;
  --w-info-color-2: #ebfafc;
  --w-info-color-3: #d7f4fa;
  --w-info-color-4: #9be3f2;
  --w-info-color-5: #5ed3ea;
  --w-info-color-6: var(--w-info-color);
  --w-info-color-7: #2ba0b7;
  --w-info-color-8: #207889;
  --w-info-color-9: #16505c;
  --w-info-color-10: #0b282e;
  --w-link-color: #165dff;
  --w-link-color-1: #f3f7ff;
  --w-link-color-2: #e8efff;
  --w-link-color-3: #d0dfff;
  --w-link-color-4: #8aaeff;
  --w-link-color-5: #457dff;
  --w-link-color-6: var(--w-link-color);
  --w-link-color-7: #124acc;
  --w-link-color-8: #0d3899;
  --w-link-color-9: #092566;
  --w-link-color-10: #041333;
  --w-sub-color: #9779e6;
  --w-sub-color-1: #faf8fe;
  --w-sub-color-2: #f5f2fd;
  --w-sub-color-3: #eae4fa;
  --w-sub-color-4: #cbbcf3;
  --w-sub-color-5: #ac94eb;
  --w-sub-color-6: var(--w-sub-color);
  --w-sub-color-7: #7961b8;
  --w-sub-color-8: #5b498a;
  --w-sub-color-9: #3c305c;
  --w-sub-color-10: #1e182e;
  --w-border-style-base: solid;
  --w-border-style-dashed: dashed;
  --w-border-width-0: 0px;
  --w-border-width-base: 1px;
  --w-border-width-lg: 2px;
  --w-border-width-xl: 3px;
  --w-border-width-2xl: 4px;
  --w-height-3xs: 20px;
  --w-height-2xs: 24px;
  --w-height-xs: 28px;
  --w-height-sm: 32px;
  --w-height-md: 40px;
  --w-height-lg: 44px;
  --w-height-xl: 48px;
  --w-height-2xl: 60px;
  --w-height-3xl: 72px;
  --w-border-radius-base: 2px;
  --w-border-radius-1: 0px;
  --w-border-radius-2: 4px;
  --w-border-radius-3: 6px;
  --w-border-radius-4: 16px;
  --w-border-radius-5: 18px;
  --w-font-family: Microsoft YaHei;
  --w-code-family: SF Mono;
  --w-font-size: 14px;
  --w-font-size-6xl: calc(var(--w-font-size) + 34px);
  --w-font-size-5xl: calc(var(--w-font-size) + 22px);
  --w-font-size-4xl: calc(var(--w-font-size) + 16px);
  --w-font-size-3xl: calc(var(--w-font-size) + 10px);
  --w-font-size-2xl: calc(var(--w-font-size) + 6px);
  --w-font-size-xl: calc(var(--w-font-size) + 4px);
  --w-font-size-lg: calc(var(--w-font-size) + 2px);
  --w-font-size-md: calc(var(--w-font-size) + 1px);
  --w-font-size-base: var(--w-font-size);
  --w-font-size-sm: calc(var(--w-font-size) - 2px);
  --w-font-weight-regular: 400;
  --w-font-weight-medium: 500;
  --w-font-weight-semibold: 600;
  --w-font-weight-bold: 700;
  --w-line-height: calc(var(--w-font-size) * 1.5715);
  --w-shadow-1: 0 0 4px 0 #000;
  --w-shadow-1-up: 0 -2px 4px 0 #000;
  --w-shadow-1-down: 0 2px 4px 0 #000;
  --w-shadow-1-left: -2px 0 4px 0 #000;
  --w-shadow-1-right: 2px 0 4px 0 #000;
  --w-shadow-2: 0 0 10px 0 #000;
  --w-shadow-2-up: 0 -4px 10px 0 #000;
  --w-shadow-2-down: 0 4px 10px 0 #000;
  --w-shadow-2-left: -4px 0 10px 0 #000;
  --w-shadow-2-right: 4px 0 10px 0 #000;
  --w-shadow-3: 0 0 20px 0 #000;
  --w-shadow-3-up: 0 -8px 20px 0 #000;
  --w-shadow-3-down: 0 8px 20px 0 #000;
  --w-shadow-3-left: -8px 0 20px 0 #000;
  --w-shadow-3-right: 8px 0 20px 0 #000;
  --w-padding-0: 0px;
  --w-padding-3xs: 4px;
  --w-padding-2xs: 8px;
  --w-padding-xs: 12px;
  --w-padding-sm: 16px;
  --w-padding-md: 20px;
  --w-padding-lg: 24px;
  --w-padding-xl: 28px;
  --w-padding-2xl: 32px;
  --w-padding-3xl: 36px;
  --w-padding-4xl: 40px;
  --w-padding-5xl: 44px;
  --w-padding-6xl: 48px;
  --w-margin-0: 0px;
  --w-margin-3xs: 4px;
  --w-margin-2xs: 8px;
  --w-margin-xs: 12px;
  --w-margin-sm: 14px;
  --w-margin-md: 20px;
  --w-margin-lg: 24px;
  --w-margin-xl: 28px;
  --w-margin-2xl: 32px;
  --w-margin-3xl: 48px;
}
