<form action="" id="data_log_module_form" style="margin-top: 15px;">
    <input type="hidden" id="uuid" name="uuid" />
    <div class="well-form form-horizontal">
        <div class="form-group">
            <label class="well-form-label control-label">环节</label>
            <div class="well-form-control">
                <input type="text" class="form-control" id="node" name="node">
            </div>
        </div>
        <div class="form-group">
            <label class="well-form-label control-label">批次号</label>
            <div class="well-form-control">
                <input type="text" class="form-control" id="batchId" name="batchId">
            </div>
        </div>
        <div class="form-group">
            <label class="well-form-label control-label">统一查询号</label>
            <div class="well-form-control">
                <input type="text" class="form-control" id="dataId" name="dataId">
            </div>
        </div>
        <div class="form-group">
            <label class="well-form-label control-label">版本号</label>
            <div class="well-form-control">
                <input type="text" class="form-control" id="recVer" name="recVer">
            </div>
        </div>
        <div class="form-group">
            <label class="well-form-label control-label">code</label>
            <div class="well-form-control">
                <input type="text" class="form-control" id="code" name="code">
            </div>
        </div>
        <div class="form-group">
            <label class="well-form-label control-label">状态</label>
            <div class="well-form-control">
                <input type="text" class="form-control" id="status" name="status">
            </div>
        </div>
        <div class="form-group">
            <label class="well-form-label control-label">源单位</label>
            <div class="well-form-control">
                <input type="text" class="form-control" id="fromUnitId" name="fromUnitId">
            </div>
        </div>
        <div class="form-group">
            <label class="well-form-label control-label">目的单位</label>
            <div class="well-form-control">
                <input type="text" class="form-control" id="toUnitId" name="toUnitId">
            </div>
        </div>
        <div class="form-group">
            <label class="well-form-label control-label">创建时间</label>
            <div class="well-form-control">
                <input type="text" class="form-control" id="createTime" name="createTime">
            </div>
        </div>
        <div class="form-group">
            <label class="well-form-label control-label">说明</label>
            <div class="well-form-control">
                <input type="text" class="form-control" id="msg" name="msg">
            </div>
        </div>
    </div>

</form>