<form action="" id="dxExchangeLog_form" style="margin-top: 15px;">
    <input type="hidden" id="dxExchangeLog_uuid" name="uuid" />
    <div class="well-form form-horizontal">
        <div class="form-group">
            <label class="well-form-label control-label">批次号</label>
            <div class="well-form-control">
                <input type="text" class="form-control" id="dxExchangeLog_batchId" name="batchId">
            </div>
        </div>
        <div class="form-group">
            <label class="well-form-label control-label">源单位</label>
            <div class="well-form-control">
                <input type="text" class="form-control" id="dxExchangeLog_fromUnitId" name="fromUnitId">
            </div>
        </div>
        <div class="form-group">
            <label class="well-form-label control-label">创建时间</label>
            <div class="well-form-control">
                <input type="text" class="form-control" id="dxExchangeLog_createTime" name="createTime">
            </div>
        </div>
        <div class="form-group">
            <label class="well-form-label control-label">说明</label>
            <div class="well-form-control">
                <input type="text" class="form-control" id="dxExchangeLog_msg" name="msg">
            </div>
        </div>
    </div>
</form>