/*钉钉接入_组织同步日志、钉钉接入_业务事件同步日志H*/
.info-content {
  background: rgba(72, 140, 238, 0.1);
  padding: 10px 16px;
  color: @text-color;
  font-size: @font-size-base;
  margin: 10px 0;

  p {
    margin-bottom: 0;

    .error {
      color: @danger-color;
    }

    .success {
      color: @success-color;
    }
  }
}

// 多部门标签
.multi-depts-item {
  background: @primary-2;
  border: @border-default;
  border-radius: @border-radius-base;
  padding: 3px 4px;
  font-size: @font-size-sm;
  color: @text-color-primary;
}
