<form style="margin-top: 15px" class="form-widget business_set_form" id="business_set_form">
  <div class="well-form form-horizontal">
    <input type="hidden" name="uuid" id="uuid" />
    <div class="form-group">
      <label for="attrValue" class="well-form-label control-label required">所属行业</label>
      <div class="well-form-control">
        <input type="text" class="form-control" id="attrName" name="attrName" />
        <input type="hidden" class="form-control" id="attrValue" name="attrValue" />
      </div>
    </div>
  </div>
  <div class="row" style="margin-top: 80px; padding-bottom: 300px">
    <div class="col-sm-12 text-center">
      <button type="button" class="well-btn w-btn-primary" id="business_set_btn_save">保存</button>
    </div>
  </div>
</form>
