<form action="" id="business_category_form" style="margin-top: 15px">
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active">
            <a href="#business_category_basic_info" aria-controls="business_category_basic_info" role="tab" data-toggle="tab" aria-expanded="true">基本信息</a>
        </li>
        <li role="presentation">
            <a href="#business_category_role" aria-controls="business_category_role" role="tab" data-toggle="tab" aria-expanded="true">业务角色</a>
        </li>
    </ul>
    <input type="hidden" id="category_uuid" name="uuid">
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="business_category_basic_info" style="padding-top: 10px;">
            <div class="well-form form-horizontal">
                <div class="form-group">
                    <label for="business_category_name" class="well-form-label control-label required">名称</label>
                    <div class="well-form-control">
                        <input type="text" class="form-control" id="business_category_name" name="name">
                    </div>
                </div>
                <div class="form-group">
                    <label for="business_category_id" class="well-form-label control-label required">ID</label>
                    <div class="well-form-control">
                        <input type="text" class="form-control" id="business_category_id" name="id">
                    </div>
                </div>
                <div class="form-group">
                    <label for="business_category_code" class="well-form-label control-label required">编号</label>
                    <div class="well-form-control">
                        <input type="text" class="form-control" id="business_category_code" name="code">
                    </div>
                </div>
                <div class="form-group">
                    <label for="business_category_manageDeptValue" class="well-form-label control-label required">业务管理单位</label>
                    <div class="well-form-control">
                        <input type="hidden" class="form-control" id="business_category_manageDeptValue" name="manageDeptValue">
                        <input type="hidden" class="form-control" id="business_category_manageDept" name="manageDept">
                    </div>
                </div>
            </div>
        </div>
        <div role="tabpanel" class="tab-pane" id="business_category_role" style="padding-top: 10px;">
            <div class="form-horizontal">
                <div id="div_business_category_toolbar" class="btn-group">
                    <button id="btn_add_business_category" type="button" class="well-btn w-btn-primary">
                        <i class="iconfont icon-ptkj-jiahao" aria-hidden="true"></i>新增
                    </button>
                    <button id="btn_delete_business_category" type="button" class="well-btn w-btn-danger">
                        <i class="iconfont icon-ptkj-shanchu" aria-hidden="true"></i>删除
                    </button>
                </div>
                <table id="business_category_table" class=""></table>
            </div>
        </div>
    </div>
    <div class="row" style="margin-top:30px;">
        <div class="col-sm-12 text-center">
            <button type="button" class="well-btn w-btn-primary" id="business_category_btn_save">保存</button>
        </div>
    </div>
    </div>
</form>

