<div class="info-content">
  <input type="hidden" id="p_business_uuid" />
  <p>
    <span class="eventName"></span>
    &nbsp;&nbsp;&nbsp;
    <span class="dingTimeStamp"></span>
    &nbsp;&nbsp;&nbsp;
    <span class="syncContent"></span>
    &nbsp;&nbsp;&nbsp;
    <span class="syncStatus"></span>
    <span class="error" style="display: none">
      <i class="iconfont icon-ptkj-mianxingjinggaotishi"></i>
    </span>
    <span class="success" style="display: none">
      <i class="iconfont icon-ptkj-mianxingchenggongtishi"></i>
    </span>
    &nbsp;&nbsp;&nbsp;
    <span class="optTime"></span>
  </p>
</div>
