.job-item {
  font-size: 0;
  .main-job {
    width: 230px;
    display: inline-block;
    margin-right: 15px;
    vertical-align: middle;
  }
  .del-job-level {
    display: inline-block;
    width: 30px;
    height: 30px;
    line-height: 28px;
    border: 1px solid #ddd;
    border-radius: 50%;
    text-align: center;
    color: #666;
    font-size: 24px;
    vertical-align: middle;
    cursor: pointer;
  }
}
.group_org_form .well-form .well-form-control {
  width: 64%;
}
span.orgVerMoren {
  position: absolute;
  top: 0;
  right: 0;
  line-height: 1;
  font-size: 32px;
  color: @text-color-primary;
}

.group_org_form button[disabled]{
  cursor: not-allowed;
  background:#ccc;
}
.ztree li span.button.icon-doc_ico_open,
.ztree li span.button.icon-doc_ico_close,
.ztree li span.button.icon-doc_ico_docu{
  margin-right: 8px;
  background-position: -143px -69px;
  vertical-align: middle;
}
.ztree li span.button.icon-folder_ico_open,
.ztree li span.button.icon-folder_ico_docu,
.ztree li span.button.icon-folder_ico_close{
  margin-right: 8px;
  background-position: -143px 0;
  vertical-align: sub;
}