<div style="margin-top: 10px;" id="org_ver_config_tree">
    <div>
        <input id="systemUnitId" type="hidden" value="">
        <input id="orgFullName" type="text" value=""/>
        <input id="orgVersionId" type="hidden" value=""/>
    </div>
    <div class="btn-group"  style="margin-top: 20px;">
        <button id="btn_imp" type="button" class="well-btn w-btn-primary">导 入</button>
        <button type="button" type="button" class="well-btn w-btn-primary" id="btn_exp" >导出</button>
        <input id="iexpPath" type="hidden" value=""  />
        <button id="unfold_all" type="button" class="well-btn w-btn-primary">展开</button>
        <button id="fold_all" type="button" class="well-btn w-btn-danger">收起</button>
    </div>
    <div>
        <ul id="org_tree" class="ztree" style="min-height:600px;"></ul>
    </div>
</div>