<div class="rank-mgr-header">
  <div class="rank-mgr-header-left">
    <span class="ran-text">职务体系</span>
    <div class="switch-wrap active">
      <input type="text" name="isPwdValidity" id="isPwdValidity" hidden="hidden" />
      <span class="switch-radio" data-status="0"></span>
    </div>
    <span class="rank-tip">(开启职务体系后必须通过职务创建职位)</span>
  </div>
  <div class="rank-mgr-header-right">
    <span data-id="1" class="active iconfont icon-wsbs-liebiaoshitu" title="管理视图"></span>
    <span data-id="2" class="iconfont icon-wsbs-fangkuaishitu" title="体系视图"></span>
  </div>
</div>
