<div class="password-modify">
  <div class="password-modify-content">
    <div class="password-modify-title">修改密码</div>
    <form class="form-horizontal pwd-dialog" role="form" id="personalInfoModifyPwdForm">
      <p id="pwdMsg" style="display: none; color: #f00; margin-bottom: 15px"></p>
      <div class="form-group">
        <label class="col-sm-2 control-label" style="color: #666; font-weight: normal">
          <font style="color: #f00">*</font>
          旧密码
        </label>
        <div class="col-sm-10">
          <input type="password" class="form-control" name="oldPwd" id="oldPwd" placeholder="验证旧密码" autocomplete="off" />
          <label class="error iconfont icon-ptkj-wentiziduantishi" style="text-align: left"></label>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label" style="color: #666; font-weight: normal">
          <font style="color: #f00">*</font>
          新密码
        </label>
        <div class="col-sm-10">
          <input type="password" class="form-control" name="newPwd" id="newPwd" autocomplete="off" />
          <label class="error iconfont icon-ptkj-wentiziduantishi" style="text-align: left"></label>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label" style="color: #666; font-weight: normal">
          <font style="color: #f00">*</font>
          确认密码
        </label>
        <div class="col-sm-10">
          <input type="password" class="form-control" name="confirmPwd" id="confirmPwd" placeholder="请再次输入新密码" autocomplete="off" />
          <label class="error iconfont icon-ptkj-wentiziduantishi" style="text-align: left"></label>
        </div>
      </div>
      <div class="col-sm-12 text-center" style="margin-top: 20px">
        <button type="button" class="well-btn w-btn-primary" id="password_rule_btn_save">保存</button>
      </div>
    </form>
  </div>
</div>
