/*! laydate-v5.0.9 日期与时间组件 MIT License  http://www.layui.com/laydate/  By 贤心 */

/** laydate */
.laydate-set-ym,
.layui-laydate,
.layui-laydate *,
.layui-laydate-list {
  box-sizing: border-box;
}

html #layuicss-laydate {
  display: none;
  position: absolute;
  width: 1989px;
}

.layui-laydate * {
  margin: 0;
  padding: 0;
}

.layui-laydate {
  position: absolute;
  z-index: 66666666;
  margin: 5px 0;
  border-radius: 2px;
  font-size: 14px;
  animation-duration: @animation-duration-slow;
  animation-fill-mode: both;
  animation-name: laydate-upbit;
}

.layui-laydate-main {
  width: 272px;
}

.layui-laydate-content td,
.layui-laydate-header *,
.layui-laydate-list li {
  transition-duration: @animation-duration-slow;
}

@-webkit-keyframes laydate-upbit {
  from {
    opacity: 0.3;
  }

  to {
    opacity: 1;
  }
}

@keyframes laydate-upbit {
  from {
    transform: translate3d(0, 20px, 0);
    opacity: 0.3;
  }

  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

.layui-laydate-static {
  position: relative;
  z-index: 0;
  display: inline-block;
  margin: 0;
  animation: none;
}

.laydate-ym-show .laydate-next-m,
.laydate-ym-show .laydate-prev-m {
  display: none !important;
}

.laydate-ym-show .laydate-next-y,
.laydate-ym-show .laydate-prev-y {
  display: inline-block !important;
}

.laydate-time-show .laydate-set-ym span[lay-type='month'],
.laydate-time-show .laydate-set-ym span[lay-type='year'],
.laydate-time-show .layui-laydate-header .layui-icon,
.laydate-ym-show .laydate-set-ym span[lay-type='month'],
.laydate-time-show .laydate-prev-y,
.laydate-time-show .laydate-prev-m,
.laydate-time-show .laydate-next-m,
.laydate-time-show .laydate-next-y {
  display: none !important;
}

.layui-laydate-header {
  position: relative;
  line-height: 30px;
  padding: 10px 70px 5px;
}

.laydate-set-ym span,
.layui-laydate-header i {
  padding: 0 5px;
  cursor: pointer;
}

.layui-laydate-header * {
  display: inline-block;
  vertical-align: bottom;
}

.layui-laydate-header i {
  position: absolute;
  top: 10px;
  color: @text-color;
  font-size: 20px;
  transform: scale(0.5);

  &.laydate-prev-y {
    left: 15px;
  }

  &.laydate-prev-m {
    left: 45px;
  }

  &.laydate-next-y {
    right: 15px;
  }

  &.laydate-next-m {
    right: 45px;
  }
}

.laydate-set-ym {
  .text-overflow();

  width: 100%;
  text-align: center;
}

.laydate-time-text {
  cursor: default !important;
}

.layui-laydate-content {
  position: relative;
  padding: 10px;

  table {
    border-collapse: collapse;
    border-spacing: 0;

    th {
      .size(36px 30px);

      padding: @padding-3xs;
      text-align: center;
    }

    td {
      .size(36px 30px);

      position: relative;
      cursor: pointer;
      padding: @padding-3xs;
      text-align: center;
    }
  }
}

.laydate-day-mark {
  .square(100%);
  .absolute(0 false false 0);

  line-height: 30px;
  font-size: 12px;
  overflow: hidden;

  &::after {
    .square(5px);
    .absolute(2px false false 2px);

    content: '';
    border-radius: 50%;
  }
}

.layui-laydate-footer {
  position: relative;
  height: 46px;
  line-height: 26px;
  padding: 10px 20px;

  .layui-laydate-footer span {
    margin-right: 15px;
    display: inline-block;
    cursor: pointer;
    font-size: @font-size-sm;

    &:hover {
      color: @text-color-primary;
    }
  }
}

.laydate-footer-btns {
  .absolute(10px 10px false false);

  span {
    .size(56px 26px);
    display: inline-block;
    line-height: 24px;
    margin-right: 0;
    margin-left: 10px;
    border: @border-default-light;
    background-color: @text-color-inverse;
    white-space: nowrap;
    vertical-align: top;
    border-radius: @border-radius-base;
    text-align: center;
    transition: all @animation-duration-base ease-in-out;
    cursor: pointer;
  }

  .laydate-btns-confirm {
    border: @border-default-primary;
    background-color: @text-color-primary;
    color: @text-color-inverse;

    &:hover {
      color: @text-color-inverse;
      background-color: @primary-8;
      border-color: @primary-8;
    }

    &:active {
      color: @text-color-inverse;
      background-color: @primary-4;
      border-color: @primary-4;
    }
  }
}

.laydate-footer-btns .laydate-btns-now {
  color: @text-color-primary;
  background-color: @text-color-inverse;
  border-color: fade(@primary-color, 30%);
}

.laydate-footer-btns .laydate-btns-clear {
  color: @text-color;
  background-color: @text-color-inverse;
  border-color: @border-color-dark;
}

.laydate-footer-btns .laydate-btns-now:hover,
.laydate-footer-btns .laydate-btns-clear:hover {
  background-color: @text-color-inverse;
  border-color: @text-color-primary;
}

.laydate-footer-btns .laydate-btns-now:active,
.laydate-footer-btns .laydate-btns-clear:active {
  color: @text-color-inverse;
  background-color: @text-color-primary;
  border-color: @text-color-primary;
}

.laydate-footer-btns .laydate-disabled,
.laydate-footer-btns .laydate-disabled:hover,
.laydate-footer-btns .laydate-disabled:active {
  color: @text-color-light;
  border-color: @border-color-dark;
  background-color: @primary-2;
  cursor: not-allowed;
}

.layui-laydate-list > li,
.layui-laydate-range .layui-laydate-main {
  display: inline-block;
  vertical-align: middle;
}

.layui-laydate-list {
  .absolute(0 false false 0);
  .square(100%);

  padding: 10px 0;
  background-color: @text-color-inverse;

  > li {
    .size(33.3% 36px);

    position: relative;
    line-height: 36px;
    margin: 3px 0;
    text-align: center;
    cursor: pointer;

    .l-ym {
      .size(64px 24px);

      line-height: 24px;
      margin: 6px auto;
    }
  }
}

.laydate-month-list > li {
  margin: 10px 0;
}

.laydate-time-list > li {
  height: 100%;
  margin: 0;
  line-height: normal;
  cursor: default;
}

.laydate-time-list p {
  position: relative;
  top: -4px;
  line-height: 29px;
}

.laydate-time-list ol {
  height: calc(100% - 25px);
  overflow: hidden;
}

.laydate-time-list > li:hover ol {
  overflow-y: auto;
}

.laydate-time-list ol li {
  width: 130%;
  padding-left: 33px;
  line-height: 30px;
  text-align: left;
  cursor: pointer;
}

.layui-laydate-hint {
  position: absolute;
  top: 115px;
  left: 50%;
  width: 250px;
  margin-left: -125px;
  line-height: 20px;
  padding: 15px;
  text-align: center;
  font-size: 12px;
}

.layui-laydate-range {
  width: 548px;
}

.layui-laydate-header .disabled {
  color: #e2e2e2;
}

.layui-laydate-range .laydate-main-list-1 .layui-laydate-content {
  border-left: @border-default;
}

.layui-laydate,
.layui-laydate-hint {
  border: @border-default-dark;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.12);
  background-color: @text-color-inverse;
  color: @text-color;
}

.layui-laydate-header {
  border-bottom: @border-default;
}

.layui-laydate-header i:hover,
.layui-laydate-header span:hover {
  color: @text-color-primary;
}

.layui-laydate-header i.disabled:hover,
.layui-laydate-header span.disabled:hover {
  cursor: default;
  color: #e2e2e2;
}

.layui-laydate-content {
  border-top: none 0;
  border-bottom: none 0;
}

.layui-laydate-content th {
  font-weight: 400;
  color: @text-color-dark;
}

.layui-laydate-content td {
  color: @text-color;
}

.layui-laydate-content td.l-today .l-date {
  color: @text-color-primary;
  font-weight: bold;
}

.layui-laydate-content td.laydate-selected .l-date,
.layui-laydate-week tbody tr td .l-date {
  position: relative;
}

.layui-laydate-content td.laydate-selected .l-date::before,
.layui-laydate-week tbody tr:hover td .l-date::before {
  content: '';
  position: absolute;
  top: 0px;
  left: -6px;
  right: -6px;
  bottom: 0px;
  background: fade(@primary-color, 15%);
}

.layui-laydate-content td.layui-this.range-start .l-date::before,
.layui-laydate-content tr td:first-child.laydate-selected .l-date::before,
.layui-laydate-week tbody tr:hover td:first-child .l-date::before {
  left: 0;
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
}

.layui-laydate-content td.layui-this.range-end .l-date::before,
.layui-laydate-content tr td:last-child.laydate-selected .l-date::before,
.layui-laydate-week tbody tr:hover td:last-child .l-date::before {
  right: 0;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
}

.laydate-selected:hover .l-date {
  background-color: fade(@primary-color, 15%) !important;
  color: @text-color !important;
}

.layui-laydate-content td:hover .l-date,
.layui-laydate-list li:hover .l-ym {
  background-color: fade(@primary-color, 15%);
  color: @text-color;
  border-radius: 12px;
}

.layui-laydate-week .layui-laydate-content td:hover .l-date {
  background-color: transparent !important;
  color: inherit !important;
}

.laydate-time-list li ol {
  margin: 0;
  padding: 0;
  border: @border-default;
  border-left-width: 0;
}

.laydate-time-list li:last-child ol {
  border-right-width: 0;
}

.laydate-time-list > li:hover {
  background: 0 0;
}

.layui-laydate-content .laydate-day-next,
.layui-laydate-content .laydate-day-prev {
  color: @text-color-dark;
}

.layui-laydate-content .laydate-day-next .l-date,
.layui-laydate-content .laydate-day-prev .l-date {
  color: @text-color-light;
}

.layui-laydate-content td.laydate-selected.laydate-day-next .l-date::before,
.layui-laydate-content td.laydate-selected.laydate-day-prev .l-date::before {
  background: transparent;
}

.layui-laydate-footer {
  border-top: @border-default;
}

.layui-laydate-hint {
  color: @warning-color;
}

.laydate-day-mark::after {
  background-color: @text-color-primary;
}

.layui-laydate-content td.layui-this .laydate-day-mark::after {
  display: none;
}

.layui-laydate-footer span[lay-type='date'] {
  color: @text-color-primary;
}

.layui-laydate .layui-this .l-date {
  background-color: @primary-color !important;
  color: @text-color-inverse !important;
  border-radius: 50%;
}

.laydate-theme-molv {
  border: none;
}

.laydate-theme-molv.layui-laydate-range {
  width: 548px;
}

.laydate-theme-molv .layui-laydate-main {
  width: 274px;
}

.laydate-theme-molv .layui-laydate-header {
  border: none;
  background-color: @info-color;
}

.laydate-theme-molv .layui-laydate-header i,
.laydate-theme-molv .layui-laydate-header span {
  color: @primary-2;
}

.laydate-theme-molv .layui-laydate-header i:hover,
.laydate-theme-molv .layui-laydate-header span:hover {
  color: @text-color-inverse;
}

.laydate-theme-molv .layui-laydate-content {
  border: @border-default;
  border-top: none;
  border-bottom: none;
}

.laydate-theme-molv .laydate-main-list-1 .layui-laydate-content {
  border-left: none;
}

.laydate-theme-grid .laydate-month-list > li,
.laydate-theme-grid .laydate-year-list > li,
.laydate-theme-grid .layui-laydate-content td,
.laydate-theme-grid .layui-laydate-content thead,
.laydate-theme-molv .layui-laydate-footer {
  border: @border-default;
}

.laydate-theme-grid .laydate-selected,
.laydate-theme-grid .laydate-selected:hover {
  background-color: #f2f2f2 !important;
  color: #009688 !important;
}

.laydate-theme-grid .laydate-selected.laydate-day-next,
.laydate-theme-grid .laydate-selected.laydate-day-prev {
  color: @text-color-dark !important;
}

.laydate-theme-grid .laydate-month-list,
.laydate-theme-grid .laydate-year-list {
  margin: 1px 0 0 1px;
}

.laydate-theme-grid .laydate-month-list > li,
.laydate-theme-grid .laydate-year-list > li {
  margin: 0 -1px -1px 0;
}

.laydate-theme-grid .laydate-year-list > li {
  height: 43px;
  line-height: 43px;
}

.laydate-theme-grid .laydate-month-list > li {
  height: 71px;
  line-height: 71px;
}

@font-face {
  font-family: laydate-icon;
  src: url(font/iconfont.eot);
  src: url(font/iconfont.eot#iefix) format('embedded-opentype'), url(font/iconfont.svg#iconfont) format('svg'),
    url(font/iconfont.woff) format('woff'), url(font/iconfont.ttf) format('truetype');
}

.laydate-icon {
  font-family: laydate-icon !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.laydate-time-list ol li {
  width: 100%;
  padding-left: 0;
  line-height: 30px;
  text-align: center;
}

.layui-laydate-list.time-hm > li {
  width: 50%;
}

.layui-laydate-list.time-h > li {
  width: 100%;
}

.laydate-time-list .layui-this,
.laydate-time-list ol li:hover {
  background: fade(@primary-color, 5%) !important;
  color: @text-color-primary !important;
  border-radius: 0 !important;
}

.laydate-year-list li:hover,
.laydate-month-list li:hover {
  border-radius: 12px;
}

.laydate-year-list .layui-this .l-ym,
.laydate-month-list .layui-this .l-ym {
  background: @primary-color !important;
  color: @text-color-inverse !important;
  border-radius: 12px !important;
}

.layui-laydate-header i.laydate-prev-y {
  left: 0;
}

.layui-laydate-header i.laydate-prev-m {
  left: 20px;
}

.layui-laydate-header i.laydate-next-y {
  right: 0;
}

.layui-laydate-header i.laydate-next-m {
  right: 20px;
}

.layui-laydate-content td .l-date {
  width: 24px;
  height: 24px;
  line-height: 24px;
  font-size: 14px;
  color: @text-color;
  border-radius: 50%;
}

.layui-laydate-content td.laydate-disabled .l-date,
.layui-laydate-content td.laydate-disabled:hover .l-date,
.layui-laydate-content td.laydate-disabled:active .l-date,
.layui-laydate-content .layui-laydate-list .laydate-disabled,
.layui-laydate-content .layui-laydate-list .laydate-disabled:hover,
.layui-laydate-content .layui-laydate-list .laydate-disabled:active {
  color: @text-color-light;
  background-color: transparent;
  cursor: not-allowed;
}

.layui-laydate-header-switch {
  width: 100%;
  padding: 5px;
  border-bottom: @border-default-inverse;
}

.layui-laydate-header-switch input {
  display: inline-block;
  width: calc(50% - 5px);
  padding: 0 5px;
}

.layui-laydate-header-switch input:first-child {
  margin-right: 10px;
}

.layui-laydate-header-switch.switch-range input {
  width: calc(50% - 15px);
}
.layui-laydate-header-switch.switch-range {
  position: relative;
}
.laydate-main-list-1 .layui-laydate-header-switch input:first-child {
  margin-left: 20px;
}
.switch-range-text {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 50%;
  width: 50px;
  height: 45px;
  margin-left: -25px;
  line-height: 45px;
  text-align: center;
}
.laydate-btns-confirm.quickConfirm {
  display: none;
}

/** laydate-pro */

.date-icon {
  z-index: 10;
  position: absolute;
  right: 5px;
  top: 0;
  line-height: 34px;
  color: @text-color-light;
}
