    <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
    <html xmlns="http://www.w3.org/1999/xhtml">
        <head>
            <title>工作台缺少权限</title>
        </head>
        <body style="text-align:center;background:#F0F2F6;margin-top: 0;">
            <div style="transform: translateY(50%);">
                <img src="{{helper.staticPrefix()}}/js/pt/images/work_bench.png" alt="" style="width:400px;height:300px;">
                <h1 style="color:#666;font-size: 24px;margin-top: 30px;font-weight: normal;">暂未分配工作台</h1>
                <p style="font-size:14px;margin-top:15px;color:#999">请联系管理员分配</p>
                <div style="margin-top:10px">
                    <a href="/j_spring_security_logout" target="_top" style="display:inline-block;padding:10px 25px;text-decoration:none;border:1px solid rgb(72, 140, 238,.3);border-radius:30px;color:#488CEE;">退出登录</a>
                </div>
            </div>
        </body>
    </html>
