<!DOCTYPE html>
<html lang="en">
    <head>
        <title>访问错误</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <meta http-equiv="pragma" content="no-cache"/>
        <meta http-equiv="cache-control" content="no-cache"/>
        <meta http-equiv="expires" content="0"/>

        <link rel="stylesheet" href="{{helper.staticPrefix()/js/bootstrap/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="{{helper.staticPrefix()/js/bootstrap/css/bootstrap-responsive.min.css"/>
    </head>
    <body>
        <div class="container-fluid">
            <div class="row-fluid">
                <div class="span9 offset3">
                    <h3>你当前登录的账号无权限访问该数据，请用有权限的账号访问!</h3>
                </div>
            </div>
        </div>

    </body>
</html>
