.mail_form input[type='text'] {
  width: 100% !important;
}

.tagColorDiv {
  width: 30px;
  height: 30px;
  position: relative;
  bottom: -1px;
  left: 2px;
  z-index: 1;
}

.tagColorInput {
  width: 87% !important;
  padding-left: 35px !important;
  position: absolute !important;
  bottom: 40px !important;
  top: 59px !important;
}

.tagColorRowDiv {
  position: absolute;
  width: 30px;
  height: 30px;
  margin-top: -15px;
}
.emailTrTagDivContainer {
  overflow-x: hidden;
  text-overflow: initial !important;
  /*right: 0px;*/
  display: block;
}

.emailTrTagDiv {
  display: inline-block;
  /*float: right;*/
  vertical-align: middle;
  position: relative;
  cursor: pointer;
  outline: 0;
  margin-left: 4px;
  /*top: -1px;*/
  zoom: 1;
}

.emailTrTagTextSpan {
  float: left;
  overflow: hidden;
  cursor: pointer;
  padding: 0 4px;
  border-radius: 3px;
  color: #fff;
  line-height: 15px;
  height: 16px;
}

.emailTrTagTextSpan,
.emailTrTagClose {
  float: left;
  overflow: hidden;
  line-height: 15px;
  height: 16px;
}

.emailTrTagHover .emailTrTagTextSpan {
  border-radius: 3px 0 0 3px;
}

.emailTrTagHover .emailTrTagClose {
  border-radius: 0 3px 3px 0;
  width: 14px;
}

.emailTrTagClose {
  position: relative;
  color: #fff;
  width: 0;
  -webkit-transition: width 0.3s ease-in-out;
  -moz-transition: width 0.3s ease-in-out;
  -o-transition: width 0.3s ease-in-out;
  -ms-transition: width 0.3s ease-in-out;
  transition: width 0.3s ease-in-out;
  cursor: pointer;
  text-decoration: none;
  float: left;
  overflow: hidden;
  right: 0;
  top: 0;
  text-align: center !important;
}

.emailTrTagCloseIcon {
  position: relative;
  /*left: 3px;*/
  top: -3px;
  font-weight: 400;
  text-align: center !important;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  line-height: normal !important;
}

.btn-group .dropdown-menu {
  overflow: initial;
  max-height: 300px;
}

.tagButtonDiv .dropdown-menu {
  overflow-y: auto;
}

.tagButtonDiv {
  position: relative;
  left: 126px;
  top: -36px;
  display: none;
}

.split_li {
  margin: 4px 0;
  border-color: #e9e9e9;
  border-width: 1px 0 0 0;
  border-style: solid;
}

.wTiles {
  margin: 15px !important;
}

.paperSelected {
  border: 4px solid #7daadc !important;
}

.paperSaveBtn a {
  color: white !important;
}

.previewContainerDiv {
  float: left;
  position: relative;
  top: 60px;
  left: -12px;
  width: 0px;
}

.previewContentDiv {
  width: 450px;
  height: 240px;
  float: right;
  position: absolute;
  left: -80px;
  top: 40px;
  z-index: 100;
  padding: 6px;
  border: 1px solid #d3d3d3;
  box-shadow: 0px 0px 5px #aaa;
  border-radius: 5px;
}

.previewUpIcon {
  width: 0px;
  border-top: 10px solid rgba(0, 0, 0, 0);
  border-right: 10px solid rgba(0, 0, 0, 0);
  border-bottom: 10px solid #efeded;
  border-left: 10px solid rgba(0, 0, 0, 0);
  height: 0px;
  position: absolute;
  top: -20px;
  z-index: 100;
  left: 30px;
}

.previewCloseIcon {
  position: absolute;
  z-index: 100;
  color: #a09595;
  font-size: 14px;
  background-color: white;
  left: 420px;
  border: none;
  top: 9px;
  height: 14px;
  line-height: 15px;
  border-radius: 2px;
}

.previewCloseIcon:hover {
  cursor: pointer;
}

.subcontentDiv {
  position: relative;
  width: 100%;
  height: 100%;
  padding-top: 60px;
  padding-left: 30px;
}

.paperToolIconDiv {
  position: relative;
  width: 17px;
  height: 70px;
  float: right;
  color: #a9a3a3;
  left: 15px;
  padding-left: 5px;
}

.paperToolIconDiv .icon-search {
  position: absolute;
  top: 48px;
}

.btn_width_auto {
  width: auto !important;
}

.send_mail_tool_div {
  float: left;
  margin-right: 30px;
}

.send_mail_tool_div select {
  width: 200px !important;
}

.mail_sign_split {
  color: #909090;
  font-family: Arial Narrow;
  font-size: 12px;
}

.red_tip {
  color: #c30c0c;
}

.mail_icon {
  display: inline-block;
  width: 18px;
  height: 16px;
  overflow: hidden;
  cursor: pointer;
  margin-right: 4px;
  vertical-align: text-bottom;
}

.mail_important {
  width: 12px;
  background: url(images/mail_icon.png) -63px -14px no-repeat;
}

.mail_not_read {
  background: url(images/mail_icon.png) -48px 0 no-repeat;
}

.mail_readed {
  background: url(images/mail_icon.png) -48px -16px no-repeat;
}

.mail_reply {
  background: url(images/mail_icon.png) -48px -32px no-repeat;
}

.mail_attachment {
  background: url(images/mail_icon.png) -65px 0 no-repeat;
  margin-top: 3px;
}

.mail_revoke {
  background: url(images/mail_icon.png) -112px -128px no-repeat;
}

.mail_send_success {
  display: inline-block;
  float: none;
  background: url(images/success.png) no-repeat;
  width: 16px;
  height: 16px;
  margin-top: 5px;
}

.mail_send_fail {
  display: inline-block;
  float: none;
  background: url(images/fail.png) no-repeat;
  width: 16px;
  height: 16px;
  margin-top: 5px;
}

.mail_send_process {
  display: inline-block;
  float: none;
  background: url(images/sending.png) no-repeat;
  width: 16px;
  height: 16px;
  margin-top: 5px;
}

.mail_send_address {
  display: inline-block;
  float: none;
  background: url(images/wait.png) no-repeat;
  width: 16px;
  height: 16px;
  margin-top: 5px;
}

.mail_draft {
  background: url(images/mail_icon.png) -48px -64px no-repeat;
}

.mail_timing_send {
  background: url(images/mail_icon.png) -48px -80px no-repeat;
}

.mail_recent_contact_td {
  min-width: 150px !important;
  vertical-align: top;
}

.recent_contact_bar {
  background-color: #f4f8fa;
  height: 30px;
}

.recent_contact_bar a {
  display: inline-block;
  float: right;
  margin-right: 10px;
  margin-top: 4px;
}

.recent_contact_bar span {
  float: left;
  margin-left: 6px;
  margin-top: 4px;
}

.mail_recent_contact_td ul {
  overflow-y: auto;
}

.mail_recent_contact_td ul li:hover {
  background-color: #ffeec2;
  cursor: pointer;
}

.mail_recent_contact_td ul li {
  padding-left: 10px;
  padding-bottom: 2px;
  padding-top: 2px;
}

.mail_recent_contact_icon_td {
  border: 0px;
  width: 10px !important;
  padding: 0px !important;
}

.mail_recent_contact_right_icon {
  cursor: pointer;
  display: inline-block;
  width: 0px;
  border-top: 5px solid rgba(0, 0, 0, 0);
  border-right: 5px solid rgba(0, 0, 0, 0);
  border-bottom: 5px solid rgba(0, 0, 0, 0);
  border-left: 5px solid #000000;
  height: 0px;
  position: relative;
  left: 3px;
}

.mail_recent_contact_left_icon {
  cursor: pointer;
  display: inline-block;
  width: 0px;
  border-top: 5px solid rgba(0, 0, 0, 0);
  border-right: 5px solid #000000;
  border-bottom: 5px solid rgba(0, 0, 0, 0);
  border-left: 5px solid rgba(0, 0, 0, 0);
  height: 0px;
}

.mail_user_plus {
  border-radius: 2px;
  /*position: relative;*/
  display: inline-block;
  height: 26px;
  width: 26px;
  /*top: 10px;
    left: -39px;*/
  cursor: pointer;
  background-image: url(images/add-user-regular.png);
}

.addOrgUser {
  color: #488cee;
  font-size: 25px;
}

.addOrgUser:hover {
  color: #3d77cb;
  cursor: pointer;
  box-shadow: 2px 1px 7px #c7c8ca;
  border-radius: 20px;
}

.mail_input {
  padding-right: 40px !important;
}

.mail-table .field .Label {
  width: 100px !important;
}

.revoked_block {
  box-shadow: 2px 2px 5px #716969;
  background-color: #f2dede;
  text-align: center;
}

.mail_title_container {
  padding-left: 10px;
  padding-right: 10px;
}

.mail_title {
  white-space: normal;
  word-wrap: break-word;
  word-break: break-all;
  outline: 0;
  padding-top: 6px;
  font-size: 15px;
  line-height: normal;
  margin-right: 12px;
  font-weight: 700;
}

.mail-right-nav-bar {
  background-color: #f4f8fa;
  height: 30px;
  padding-top: 4px;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 0px;
}

.mail-clear-recent-contact {
  float: right;
  padding-top: 2px;
  color: #488cee;
}

.mail-clear-recent-contact:hover {
  cursor: pointer;
  color: #3d77cb;
}

.mail-paper-img {
  margin: 14px;
  width: 70px;
  height: 70px;
}

.mail-paper-img:hover {
  border: 3px solid rgb(153, 153, 153);
  cursor: pointer;
}

.mail-paper-img:active {
  border: 3px solid #3d77cb;
}

.mail-paper-img.active {
  border: 3px solid #3d77cb;
}

#mailRightNavAccordion {
  margin: 0px;
}

.tag-editor-tag.active input[type='text']:hover {
  border: 0px !important;
}
.tag-editor-tag.active input[type='text']:focus {
  border: 0px !important;
}

body > .web-app-container.container-fluid {
  padding-bottom: 0px !important;
}

.cc-bcc-choose {
  margin: 3px;
}

.email-receipt {
  width: 382px;
  padding: 30px;
  margin: 20px;
  background: rgba(72, 140, 238, 0.05);
  border: 1px solid #488cee;
  border-radius: 4px;
  box-sizing: border-box;
}
.email-receipt .email-receipt-text {
  text-align: center;
  color: #666;
  font-size: 14px;
  line-height: 30px;
  margin-bottom: 20px;
}
.email-receipt .email-receipt-text i {
  margin-right: 4px;
  font-size: 14px;
  color: #488cee;
}
.email-receipt .email-receipt-btns {
  text-align: center;
}
.mail-tooltip {
  position: relative;
  display: inline-block;
  vertical-align: middle;
}
.mail-tooltip i {
  color: #999;
  font-weight: normal;
}
.mail-tooltip i:hover + .mail-tooltip-content {
  display: block;
}
.mail-tooltip .mail-tooltip-content {
  display: none;
  position: absolute;
  top: -15px;
  left: 30px;
  width: 250px;
  line-height: 20px;
  padding: 15px;
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  text-align: left;
  color: #999;
  background: #fff;
  font-size: 14px;
  font-weight: normal;
  z-index: 105;
}

.mail-tooltip .mail-tooltip-content:before {
  position: absolute;
  top: 16px;
  left: -10px;
  content: '';
  display: block;
  border-top: 8px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 10px solid #fff;
}

.email-receipt {
  width: 382px;
  padding: 30px;
  margin: 20px;
  background: rgba(72, 140, 238, 0.05);
  border: 1px solid #488cee;
  border-radius: 4px;
  box-sizing: border-box;
}
.email-receipt .email-receipt-text {
  text-align: center;
  color: #666;
  font-size: 14px;
  line-height: 30px;
  margin-bottom: 20px;
}
.email-receipt .email-receipt-text i {
  margin-right: 4px;
  font-size: 14px;
  color: #488cee;
}
.email-receipt .email-receipt-btns {
  text-align: center;
}
.mail-tooltip {
  position: relative;
  display: inline-block;
  vertical-align: middle;
}
.mail-tooltip i {
  color: #999;
  font-weight: normal;
}
.mail-tooltip i:hover + .mail-tooltip-content {
  display: block;
}
.mail-tooltip .mail-tooltip-content {
  display: none;
  position: absolute;
  top: -15px;
  left: 30px;
  width: 250px;
  line-height: 20px;
  padding: 15px;
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  text-align: left;
  color: #999;
  background: #fff;
  font-size: 14px;
  font-weight: normal;
  z-index: 105;
}

.mail-tooltip .mail-tooltip-content:before {
  position: absolute;
  top: 16px;
  left: -10px;
  content: '';
  display: block;
  border-top: 8px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 10px solid #fff;
}
