.widget-form-tag {
  .tag-container {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    line-height: 1;

    >.ant-tag {
      margin-top: 2px;
      margin-bottom: 2px;
    }

    .add-tags {
      background: var(--w-fill-color-base);
      border-style: dashed;

      &:hover {
        border-color: var(--w-primary-color);
      }
    }
  }
}
