.w-form-subform {
  .collapse-item-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
    // background-color: linear-gradient(90deg, rgba(84, 132, 255, 0.15) 0%, rgba(84, 132, 255, 0) 100%);

    .label {
      font-weight: bolder;
      color: var(--color-primary) !important;
      display: flex;
      align-items: center;
      > .uni-table-checkbox {
        margin-right: 5px;
      }
    }
    .icon {
      height: 20px;
    }
  }

  .flex-row-buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around;
    min-height: 45px;
    &.rowEnd {
      justify-content: center;
      min-height: 35px;
      > .button {
        flex: 1;
        width: unset;
        justify-content: center;
        padding: 0px;
      }
    }
    .button {
      // width: 25%;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 5px;
      font-size: 14px;
      color: #3b4144;
      border-radius: 4px;

      &:active {
        background-color: #f5f5f5;
        font-weight: bold;
        color: var(--color-primary);
      }
    }
  }

  .card-display {
    > .uni-card {
      .flex-row-buttons {
        border-top: 1px solid #eee;
      }
    }
    .card-title {
      line-height: 45px;
      font-weight: bolder;
      border-bottom: 1px solid rgba(84, 132, 255, 0.1);
      height: 45px;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    .row-extend-columns {
      .column {
        display: flex;
        align-items: center;
        margin-bottom: 12px;
        &:last-child {
          margin: 0px;
        }
        .row-label {
          flex: 100px;
          color: #787878;
          line-height: 14px;
          font-weight: 400;
        }
        .row-content {
          flex: 100%;
          font-weight: 400;
          color: #000000;
          line-height: 21px;
          text-align: left;
        }
      }
    }
  }

  .table {
    .tr {
      display: flex;
      flex-wrap: nowrap;
      .table-checkbox {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        position: relative;
        margin: 5px 0;

        // 多选样式
        .checkbox__inner {
          /* #ifndef APP-NVUE */
          flex-shrink: 0;
          box-sizing: border-box;
          /* #endif */
          position: relative;
          width: 16px;
          height: 16px;
          border: 1px solid #ccc;
          border-radius: 2px;
          background-color: #fff;
          z-index: 1;

          .checkbox__inner-icon {
            position: absolute;
            /* #ifdef APP-NVUE */
            top: 2px;
            /* #endif */
            /* #ifndef APP-NVUE */
            top: 2px;
            /* #endif */
            left: 5px;
            height: 7px;
            width: 3px;
            border: 1px solid #fff;
            border-left: 0;
            border-top: 0;
            opacity: 0;
            transform-origin: center;
            transform: rotate(45deg);
            box-sizing: content-box;
          }

          &.checkbox--indeterminate {
            border-color: $uni-primary;
            background-color: $uni-primary;

            .checkbox__inner-icon {
              position: absolute;
              opacity: 1;
              transform: rotate(0deg);
              height: 2px;
              top: 0;
              bottom: 0;
              margin: auto;
              left: 0px;
              right: 0px;
              bottom: 0;
              width: auto;
              border: none;
              border-radius: 2px;
              transform: scale(0.5);
              background-color: #fff;
            }
          }
          &:hover {
            border-color: $uni-primary;
          }
          // 禁用
          &.is-disable {
            /* #ifdef H5 */
            cursor: not-allowed;
            /* #endif */
            background-color: #f2f6fc;
            border-color: #ccc;
          }

          // 选中
          &.is-checked {
            border-color: $uni-primary;
            background-color: $uni-primary;

            .checkbox__inner-icon {
              opacity: 1;
              transform: rotate(45deg);
            }
          }
        }
      }

      .th-columns {
        display: flex;
        width: 100%;
        > .th {
          display: flex;
          flex: 1;
        }
      }
      .th {
        padding: 8px 12px;
        flex: 1;
        // width: calc((100% - 62px) / 4);
        // background: rgba(84, 132, 255, 0.05);
        font-weight: bold;
        border-left: 1px solid rgba(84, 132, 255, 0.1);
        border-top: 1px solid rgba(84, 132, 255, 0.1);
        border-bottom: 1px solid rgba(84, 132, 255, 0.1);
        // &:last-child {
        //   border-right: 1px solid rgba(84, 132, 255, 0.1);
        // }
        &.checkbox-th {
          flex: 23px;
        }
      }

      .td {
        background: #fff;
        padding: 8px 12px;
        border-left: 1px solid rgba(84, 132, 255, 0.1);
        word-break: break-all;
      }
    }
    .tbody {
      .tr {
        border-bottom: 1px solid rgba(84, 132, 255, 0.1);

        .td-columns {
          display: flex;
          width: 100%;
          > .td {
            flex: 1;
          }
        }
      }
    }
  }

  .edit-subform-row-navbar {
    .uni-nav-bar-right-text {
      font-weight: bold;
      font-size: 16px;
      color: var(--color-primary) !important;
    }
  }
}
