.modal.ui-front {
  z-index: 1051;
}
.modal-backdrop {
  z-index: 999999998;
}
.bootbox .modal-dialog.modal-lg .modal-header,
.bootbox .modal-dialog.modal-md .modal-header,
.bootbox .modal-dialog.modal-sm .modal-header {
  padding: 0px 15px;
  background: @primary-color;
}
.bootbox .modal-warning,
.bootbox .modal-error,
.bootbox .modal-success,
.bootbox .modal-info,
.bootbox .modal-alert {
  width: 380px;
}
.bootbox .modal-confirm,
.bootbox .modal-progress {
  width: 445px;
}
.bootbox .modal-default {
  min-width: 499px;
}
.modal.in .modal-dialog {
  transform: initial;
}
.modal.fade .modal-dialog {
  transition: initial;
  transform: initial;
}
.bootbox .modal-default:not(.modal-lg) .bootbox-body {
  width: 100%;
  min-height: 106px;
  max-height: 400px;
  overflow-y: auto;
  font-size: @font-size-base;
}
.frontMsgDialog .modal-default:not(.modal-lg) .bootbox-body {
	overflow-y: visible;
}
.bootbox .modal-default.modal-lg .bootbox-body {
  overflow-y: auto;
  height: 100%;
  // padding-top: 5px;
}
.bootbox .modal-warning .modal-body,
.bootbox .modal-error .modal-body,
.bootbox .modal-success .modal-body,
.bootbox .modal-info .modal-body,
.bootbox .modal-alert .modal-body {
  min-height: 160px;
}
.bootbox .modal-confirm .modal-body,
.bootbox .modal-default .modal-body,
.bootbox .modal-progress .modal-body {
  min-height: 136px;
}
.bootbox .modal-warning .modal-body i,
.bootbox .modal-error .modal-body i,
.bootbox .modal-success .modal-body i,
.bootbox .modal-info .modal-body i,
.bootbox .modal-confirm .modal-body i {
  font-size: 30px;
  vertical-align: middle;
  line-height: 1;
}
.bootbox .modal-warning .modal-body i {
  color: @warning-color;
}
.bootbox .modal-error .modal-body i {
  color: @danger-color;
}
.bootbox .modal-success .modal-body i {
  color: @success-color;
}
.bootbox .modal-info .modal-body i {
  color: @primary-color;
}
.bootbox .modal-dialog .modal-header {
  padding: 0 15px;
}
.bootbox .modal-dialog .modal-header .modal-title {
  line-height: 40px;
  padding: 0;
  font-size: @font-size-lg;
  color: @text-color-inverse;
  margin-top: 0;
}
.bootbox .modal-dialog .modal-header .close {
  text-shadow: none;
  opacity: 1;
  color: @text-color-inverse;
}
.bootbox .modal-dialog .modal-header .close i {
  font-size: @font-size-sm;
  font-weight: normal;
}
.bootbox .modal-dialog .modal-header .close i.icon-ptkj-dacha {
  color: rgba(255, 255, 255, 0.65);
}
.bootbox .modal-dialog .modal-header .close i.icon-ptkj-dacha:hover {
  color: @text-color-inverse;
}
.bootbox .modal-dialog .modal-header .close i.icon-ptkj-tuichuquanping {
  font-size: @font-size-lg;
}
.bootbox.default-bg .modal-dialog .modal-header .close:hover i {
  color: @primary-color;
}

.bootbox .modal-dialog .modal-body {
  padding: 15px;
  position: relative;
  background: @component-background;
  box-sizing: border-box;
}

.bootbox .modal-dialog .bootbox-body-tips,
.bootbox .modal-dialog .bootbox-body-tips-msg,
.bootbox .modal-dialog .bootbox-body-tips-time {
  display: block;
  text-align: center;
}

.bootbox .modal-dialog .bootbox-body-tips-msg {
  margin-top: 15px;
  color: @text-color;
  word-break: break-all;
  line-height: 20px;
}

.bootbox .modal-dialog .bootbox-body-tips-time {
  margin-top: 10px;
  color: @text-color-light;
}

.bootbox .modal-dialog .bootbox-body-overflow {
  position: initial;
  transform: translateY(0);
  width: 100%;
}

.bootbox .modal-dialog .bootbox-body-msg-overflow {
  overflow: hidden;
  height: 300px;
}

.bootbox .modal-dialog .show-more-msg {
  display: none;
  color: @primary-color;
  cursor: pointer;
  line-height: 24px;
}

.pt-modal.pt-modal-progress .pt-modal-body {
  padding: 30px 150px;
  min-height: 136px;
  text-align: center;
}

.bootbox .modal-dialog .bootbox-body-progress i {
  display: inline-block;
  width: 80px;
  height: 80px;
  vertical-align: middle;
  background: url('../../pt/images/loading1.gif') no-repeat;
  background-size: 100% 100%;
}

.bootbox .modal-dialog .bootbox-body-progress span {
  margin-left: 19px;
  color: @text-color-light;
  font-size: @font-size-base;
  vertical-align: middle;
  display: inline-block;
  word-break: break-all;
  max-width: 200px;
  text-align: left;
}

.bootbox .modal-dialog .modal-content {
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.15);
  border-radius: 0;
  margin: 30px auto;
  border: none;
}

.bootbox .modal-dialog .modal-footer {
  border-top: @border-default-dark;
  padding: 15px 15px;
  background: @component-background;
}

.bootbox .modal-dialog .modal-footer button {
  padding: 10px 20px;
  line-height: 1;
  border-radius: @border-radius-base;
  height: 34px;
}

.bootbox .modal-dialog .modal-footer button.btn-primary:hover {
  color: @btn-primary-hover-font-color;
  background: @btn-primary-hover-background-color;
  border-color: @btn-primary-hover-border-color;
}

.bootbox .modal-dialog .modal-footer button.btn-line {
  background: @component-background;
  color: @primary-color;
  border-color: @primary-11;
}
.bootbox .modal-dialog .modal-footer button.btn-line:hover {
  border-color: @primary-color;
}
.bootbox .modal-dialog .modal-footer button.btn-default {
  background: @component-background;
  color: @text-color;
  border: @border-default-dark;
}
.bootbox .modal-dialog .modal-ignore {
  float: left;
  color: @text-color-light;
  font-size: 0;
  cursor: pointer;
}
.bootbox .modal-dialog .modal-ignore i {
  line-height: 34px;
  font-size: @font-size-base;
}
.bootbox .modal-dialog .modal-ignore span {
  line-height: 34px;
  font-size: @font-size-base;
  margin-left: 10px;
}
.bootbox .modal-dialog #div_calendar_view_form {
  max-height: initial;
  overflow-y: initial;
  overflow-x: initial;
}
.modal-open {
  overflow: hidden;
}
.modal,
.modal.ui-front {
  z-index: 999999999;
}
.modal-bottom-right {
  .fixed(false 0 0 false);

  z-index: 1050;
  display: none;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
  outline: 0;
}
.widget-box-overlay {
  .square(100%);
  .fixed(0 0 0 0);

  margin: 0 auto;
  z-index: 999999999999;
  background: rgba(0, 0, 0, 0.5);
}
.widget-box-overlay .loading-overlay {
  .fixed(50% false false 50%);
  transform: translate(-50%, -50%);
}
.widget-box-overlay .loading-overlay-gif {
  width: 100px;
  height: 100px;
  margin: 0 auto;
}
.widget-box-overlay .loading-text {
  text-align: center;
  color: @primary-3;
  font-weight: bold;
}
.pt-tips {
  width: 0;
  font-size: 0;
  padding: 16px;
  border-radius: @border-radius-base;
  border: @border-default-inverse;
  box-sizing: border-box;
  line-height: 1;
  position: fixed;
  top: -100px;
  z-index: 999999990;
  color: @text-color-dark;
  background: @component-background;
  opacity: 0;
}
.pt-tips.success {
  color: @success-color;
  background: @success-3;
  border-color: @success-5;
}
.pt-tips.info {
  color: @primary-color;
  background: @primary-3;
  border-color: @primary-3;
}
.pt-tips.warning {
  color: @warning-color;
  background: @warning-3;
  border-color: @warning-5;
}
.pt-tips.error {
  color: @danger-color;
  background: @danger-3;
  border-color: @danger-5;
}
.pt-tips .icon-pre {
  font-size: @font-size-xl;
}
.pt-tips .icon-del {
  font-size: 10px;
  color: @text-color-light;
  line-height: 18px;
}
.pt-tips .pt-tips-msg {
  margin-left: 10px;
  font-size: @font-size-base;
}
.pt-toast {
  .fixed(50% false false 50%);

  display: inline-block;
  padding: 24px 50px;
  color: @text-color-inverse;
  background: rgba(0, 0, 0, 0.65);
  border-radius: 10px;
  font-size: 0;

  transform: translate(-50%, -50%);
  z-index: 999999999;
}
.pt-toast i {
  font-size: 24px;
  margin-right: 20px;
  vertical-align: middle;
  line-height: 1;
}
.pt-toast .pt-toast-msg {
  font-size: @font-size-base;
  line-height: 1;
  font-weight: 400;
  vertical-align: middle;
}
.bootbox.primary-bg .modal-dialog .modal-header {
  background: @primary-color;
}

.bootbox.default-bg .modal-dialog .modal-header {
  background: @gray-2;
}

.bootbox.default-bg .modal-dialog .modal-header .modal-title {
  color: @text-color-dark;
}

.bootbox .modal-dialog .modal-header .modal-title,
.bootbox .modal-dialog .modal-header .close {
  color: @text-color-inverse;
}

.bootbox.default-bg .modal-dialog .modal-header .close {
  color: @text-color-light;
}

.bootbox .modal-dialog.modal-lg .modal-header,
.bootbox .modal-dialog.modal-md .modal-header,
.bootbox .modal-dialog.modal-sm .modal-header {
  padding: 0px 15px;
  border-bottom: none;
}

.bootbox .modal-warning,
.bootbox .modal-error,
.bootbox .modal-success,
.bootbox .modal-info {
  width: 380px;
}

.bootbox .modal-warning .message-content,
.bootbox .modal-error .message-content,
.bootbox .modal-success .message-content,
.bootbox .modal-info .message-content,
.bootbox .modal-confirm .message-content {
  .size(100%, 110px);

  display: table-cell;
  vertical-align: middle;
  text-align: left;
}

.bootbox .modal-warning .modal-body,
.bootbox .modal-error .modal-body,
.bootbox .modal-success .modal-body,
.bootbox .modal-info .modal-body,
.bootbox .modal-confirm .modal-body {
  min-height: 140px;
  word-break: break-all;
}

.bootbox .modal-warning .modal-body .col-xs-3,
.bootbox .modal-error .modal-body .col-xs-3,
.bootbox .modal-success .modal-body .col-xs-3,
.bootbox .modal-info .modal-body .col-xs-3,
.bootbox .modal-confirm .modal-body .col-xs-3 {
  text-align: center;
}

.bootbox .modal-warning .modal-body i,
.bootbox .modal-error .modal-body i,
.bootbox .modal-success .modal-body i,
.bootbox .modal-info .modal-body i,
.bootbox .modal-confirm .modal-body i {
  font-size: 30px;
  vertical-align: middle;
}

.bootbox .modal-warning .modal-body i {
  color: @warning-color;
}

.bootbox .modal-error .modal-body i {
  color: @danger-color;
}

.bootbox .modal-success .modal-body i {
  color: @success-color;
}

.bootbox .modal-info .modal-body i {
  color: @primary-color;
}

.bootbox .modal-dialog .modal-header {
  padding: 0 15px;
}

.bootbox .modal-dialog .modal-header .modal-title {
  line-height: 40px;
  padding: 0;
  font-size: @font-size-lg;
}

.bootbox .modal-dialog .modal-header .close {
  text-shadow: none;
  opacity: 1;
  margin-top: 0;
}

.bootbox .modal-dialog .modal-header .close:hover {
  color: @text-color-inverse;
}

.bootbox .modal-dialog .modal-body {
  padding: 15px;
}

.bootbox .modal-dialog .bootbox-body-tips,
.bootbox .modal-dialog .bootbox-body-tips i,
.bootbox .modal-dialog .bootbox-body-tips-msg,
.bootbox .modal-dialog .bootbox-body-tips-time {
  display: block;
  text-align: center;
  line-height: 1;
}
.bootbox .modal-dialog .bootbox-body-tips.bootbox-body-tips-alert,
.bootbox .modal-confirm .bootbox-body-confirm,
.bootbox .modal-progress .bootbox-body-progress {
  .absolute(50% false false 25px);

  transform: translate(0, -50%);
  width: calc(100% - 50px);
}
.bootbox .modal-progress .bootbox-body-progress {
  text-align: center;
}
.bootbox .modal-confirm .bootbox-body {
  text-align: center;
}
.bootbox .modal-dialog .bootbox-body-tips.bootbox-body-tips-alert .bootbox-body-tips-msg {
  margin-top: 0;
}
.bootbox .modal-dialog .bootbox-body-tips-msg {
  margin-top: 15px;
  color: @text-color;
  line-height: 20px;
}

.bootbox .modal-dialog .bootbox-body-tips-time {
  margin-top: 10px;
  color: @text-color-light;
}

.bootbox .modal-dialog .modal-footer {
  border-top: @border-default-dark;
  padding: 15px 15px;
  display: flex;
  justify-content: flex-end;
}

.bootbox .modal-dialog .modal-footer button {
  border-radius: @border-radius-base;
  padding: 0 20px;
  line-height: 1;
}
.bootbox .modal-dialog .modal-footer button.btn-primary {
  background: @primary-color;
  border-color: @primary-color;
}

.bootbox .modal-dialog .modal-footer button.btn-primary,
.bootbox .modal-dialog .modal-footer button.w-btn-primary {
  order: -100;
}
.bootbox .modal-dialog .modal-footer button.btn-primary.btn-minor,
.bootbox .modal-dialog .modal-footer button.w-btn-primary.w-btn-minor {
  order: -50;
}

.bootbox .modal-dialog .modal-footer button.btn-line {
  background: @component-background;
  color: @primary-color;
  border-color: @primary-color;
}

.bootbox .modal-dialog .modal-footer button.btn-line:hover {
  border-color: @primary-color;
}

.bootbox .modal-dialog .modal-footer button.btn-default {
  background: @component-background;
  color: @text-color;
  border: @border-default-dark;
  transition: all @animation-duration-base ease-in-out;
}
.bootbox .modal-dialog .modal-footer button.btn-default:hover {
  color: @primary-color;
  border-color: @primary-color;
}
.modal-open {
  overflow: hidden;
}

.modal,
.modal.ui-front {
  z-index: 999999999;
}

.modal-bottom-right {
  position: fixed;
  right: 0;
  bottom: 0;
  z-index: 1050;
  display: none;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
  outline: 0;
}

.pt-tips {
  width: 0;
  font-size: 0;
  padding: 16px;
  border-radius: @border-radius-base;
  border: @border-default-inverse;
  box-sizing: border-box;
  line-height: 1;
  position: fixed;
  top: -100px;
  z-index: 999999990;
  color: @text-color-dark;
  background: @component-background;
  opacity: 0;
}

.pt-tips.success {
  color: @success-color;
  background: @success-3;
  border-color: @success-5;
}

.pt-tips.info {
  color: @primary-color;
  background: @primary-3;
  border-color: @primary-5;
}

.pt-tips.warning {
  color: @warning-color;
  background: @warning-3;
  border-color: @warning-5;
}

.pt-tips.error {
  color: @danger-color;
  background: @danger-3;
  border-color: @danger-5;
}

.pt-tips .icon-pre {
  font-size: @font-size-xl;
  display: inline-block;
  vertical-align: middle;
}

.pt-tips .icon-del {
  font-size: 10px;
  color: @text-color-light;
  line-height: 18px;
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
}

.pt-tips .icon-del:hover {
  color: @text-color;
}

.pt-tips .pt-tips-msg {
  margin-left: 10px;
  font-size: @font-size-base;
  word-break: break-all;
  line-height: 20px;
  display: inline-block;
  vertical-align: middle;
  padding-right: 20px;
  width: calc(100% - 40px);
}

.pt-toast {
  display: inline-block;
  padding: 24px 50px;
  color: @text-color-inverse;
  background: rgba(0, 0, 0, 0.65);
  border-radius: 10px;
  font-size: 0;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999999999;
}

.pt-toast i {
  font-size: 24px;
  margin-right: 20px;
  vertical-align: middle;
  line-height: 1;
}

.pt-toast .pt-toast-msg {
  font-size: @font-size-base;
  line-height: 1;
  font-weight: 400;
  vertical-align: middle;
}

.dialog-newToast {
  position: fixed;
  top: 80px;
  display: block;
  left: 50%;
  transform: translateX(-50%);
  max-width: 80%;
  text-align: center;
  z-index: 999999999;
}
.dialog-newToast > div:not(:last-of-type) {
  margin-bottom: 10px;
}
.dialog-newToast .pt-newToast {
  display: block;
  position: relative;
  line-height: 20px;
  font-size: @font-size-base;
  padding: 15px;
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.15);
  border-radius: @border-radius-base;
  display: inline-block;
}
.dialog-newToast .pt-newToast.info {
  background: @primary-3;
  color: @primary-color;
}
.dialog-newToast .pt-newToast.success {
  background: @success-3;
  color: @success-color;
}
.dialog-newToast .pt-newToast.error {
  background: @danger-3;
  color: @danger-color;
}
.dialog-newToast .pt-newToast.error .pt-newToast-msg {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.dialog-newToast .pt-newToast.warning {
  background: @warning-3;
  color: @warning-color;
}
.dialog-newToast .pt-newToast:not(:last-of-type) {
  margin-bottom: 20px;
}
.dialog-newToast .pt-newToast-msg {
  display: inline-block;
  word-break: break-all;
  padding: 0 28px;
  text-align: left;
}
.dialog-newToast .pt-newToast .icon-pre,
.dialog-newToast .pt-newToast .icon-del {
  .absolute(50% false false 15px);

  line-height: 1;

  margin-top: -9px;
  font-size: @font-size-xl;
}
.dialog-newToast .pt-newToast .icon-pre.success {
  color: @success-color;
}
.dialog-newToast .pt-newToast .icon-pre.info {
  color: @primary-color;
}
.dialog-newToast .pt-newToast .icon-pre.warning {
  color: @warning-color;
}
.dialog-newToast .pt-newToast .icon-pre.error {
  color: @danger-color;
}
.dialog-newToast .pt-newToast .icon-del {
  left: initial;
  right: 15px;
  margin-top: -5px;
  font-size: 10px;
  color: @text-color-light;
  cursor: pointer;
}
.dialog-newToast .pt-newToast-msg .pt-tips-msg-sub {
  color: @text-color-darker;
  margin-left: 5px;
}
.bootbox.frontLoginMsgDialog {
  left: initial;
  top: initial;
}
.bootbox.frontLoginMsgDialog .modal-dialog {
  min-width: initial;
}
.bootbox.frontLoginMsgDialog .modal-dialog .modal-content .modal-header,
.bootbox .modal-dialog .modal-content .modal-header.white {
  background: @component-background;
}
.bootbox.frontLoginMsgDialog .modal-dialog .modal-header .modal-title,
.bootbox .modal-dialog .modal-content .modal-header.white .modal-title {
  color: @text-color-dark;
  font-size: @font-size-base;
}
.bootbox.frontLoginMsgDialog .modal-dialog .modal-header .close i,
.bootbox .modal-dialog .modal-content .modal-header.white .close i {
  color: @text-color-light;
}
.bootbox.frontLoginMsgDialog .modal-dialog .modal-header .close:hover i,
.bootbox .modal-dialog .modal-content .modal-header.white .close:hover i {
  color: @primary-color;
}
.bootbox.frontLoginMsgDialog .modal-dialog .modal-body {
  padding: 0 15px;
  min-height: initial;
}
.bootbox.frontLoginMsgDialog .modal-default .bootbox-body {
  padding: 0;
  min-height: initial;
}
.modal.layout-center {
  display: flex !important;
  align-items: center;
}

.rectangle-bounce {
  .square(60px);

  z-index: 10;
  margin: 10px auto;
  position: relative;
  -webkit-transition: width @animation-duration-slow ease-in-out;
  transition: all @animation-duration-slow ease-in-out;
  text-align: center;
}

.rectangle-bounce div {
  .size(4px, 100%);

  margin: 0 8px 0 0;
  border-radius: 2px;
  background-color: @primary-3;
  display: inline-block;
  animation: StretchDelay 1.2s infinite ease-in-out;
}

.rectangle-bounce .rect2 {
  animation-delay: -1.1s;
}

.rectangle-bounce .rect3 {
  animation-delay: -1s;
}

.rectangle-bounce .rect4 {
  animation-delay: -0.9s;
}

.rectangle-bounce .rect5 {
  animation-delay: -0.8s;
}

.alignCenter .modal-content .bootbox-body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@keyframes StretchDelay {
  0%,
  40%,
  100% {
    transform: scaleY(0.4);
    border-radius: 5px;
  }

  20% {
    transform: scaleY(1);
  }
}

.simple-line-loading {
  .box();
  .size(90px 53px);

  text-align: center;
  overflow: hidden;

  margin: auto;
  z-index: 100;

  > div {
    .size(70px 24px);

    display: block;
    animation: changePosition 2s linear infinite;
    margin-bottom: 10px;

    > span {
      .size(4px 100%);

      background: @background-primary-light;
      margin: 0 8px 0 0;
      border-radius: 2px;
      display: inline-block;
    }
  }

  label {
    color: @background-primary-light;
    font-size: @font-size-base;
    font-weight: bold;
  }
}

@-webkit-keyframes changePosition {
  0% {
    -webkit-transform: translate(-75px);
  }
  50% {
    -webkit-transform: translate(0);
  }
  100% {
    -webkit-transform: translate(75px);
  }
}
