.work-view-continuous {
  & + .work-view-content {
    margin-top: 52px;
  }

  .operator-row {
    background-color: #ffffff;
    text-align: center;
    padding: var(--w-padding-2xs) 0;
    display: flex;
    justify-content: space-between;

    position: fixed;
    width: 100vw;
    z-index: 1;

    .uni-col .disabled {
      color: #999999;
      pointer-events: none;
    }

    .next-btn {
      > * {
        display: inline-block;
      }
      .w-icon {
        margin-right: 4px;
      }

      .disabled {
        color: var(--w-button-font-color-disabled);
      }

      .hr {
        height: var(--w-font-size-base);
        width: 1px;
        background: var(--w-primary-color);
        margin: 0 12px;
        vertical-align: middle;
      }
    }

    .w-button {
      --w-button-border-color: var(--w-primary-color-2);
      --w-button-background: var(--w-primary-color-1);
    }
  }
}
.w-work-continues-todo-list {
  height: 75vh;
  .todo-list__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;

    .keyword-query-input {
      flex: 1;
    }
    .list-filter,
    .list-setting {
      padding-right: 10px;
      display: flex;
	  align-items: center;
    }
  }
  .todo-list {
    padding-bottom: var(--w-padding-2xs);
  }
  .todo-list .todo-list-item {
    position: relative;
    padding: var(--w-padding-2xs) var(--w-padding-xs) var(--w-padding-3xs);

    .uni-list-item__container {
      padding: var(--w-padding-xs);
      border-radius: 4px;
      border: 1px solid var(--w-primary-color-2);
      background: linear-gradient(to bottom, var(--w-primary-color-2), rgba(var(--w-primary-color-rgb), 0.02));
      --item-detail-text-color: var(--w-text-color-mobile);

      .item-details {
        > *:not(.title) {
          font-size: var(--w-font-size-base);
          color: var(--w-text-color-base);
          margin-top: var(--w-margin-2xs);

          .w-icon {
            margin-right: var(--w-margin-3xs);
          }
        }
        .title {
          font-size: var(--w-font-size-md);
          color: var(--item-detail-text-color);
          padding-bottom: var(--w-padding-xs);
          border-bottom: 1px solid var(--w-border-color-mobile);
          font-weight: bold;
        }
      }
    }
    &.active .uni-list-item__container {
      border-color: var(--w-primary-color);
      --item-detail-text-color: var(--w-primary-color);
    }
  }
  .todo-list .todo-list-item:hover {
    .uni-list-item__container {
      border-color: var(--w-primary-color);
    }
  }
  .scroll-view {
    /* #ifndef APP-NVUE */
    width: 100%;
    height: 100%;
    /* #endif */
    flex: 1;
  }
  // 处理抽屉内容滚动
  .scroll-view-box {
    height: calc(100% - 56px);
    // padding-top: 100px;
    // padding-bottom: 10px;
    // flex: 1;
    // position: absolute;
    // top: 0;
    // right: 0;
    // bottom: 0;
    // left: 0;
    // z-index: -1;
  }
}
.w-work-continues-todo-list__filter,
.w-work-continues-todo-list__setting {
  .popup-content {
    .popop-title {
      padding: 20px 5rem 8px;
      font-size: 14px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      position: relative;

      .left {
        position: absolute;
        left: 10px;
      }

      .center {
        flex: 1;
        text-align: center;
        font-size: 20px;
        color: #000000;
      }

      .right {
        position: absolute;
        right: 10px;
      }
    }
  }
}
.w-work-continues-todo-list__filter {
  .filter-body {
    .filter-body-content {
      max-height: 70vh;
      overflow-y: auto;
    }
    padding: 0 10px;
    .title {
      font-size: var(--w-font-size-lg);
      margin-top: 10px;
    }
    .timing-state {
      > * {
        --timing-state-text-color: #5b88f6;
        --timing-state-bg-color: #f7f9ff;
        padding-left: 12px;
        border-radius: 4px;
        margin-top: 8px;
        line-height: 40px;
        background-color: var(--timing-state-bg-color);
        font-size: var(--w-font-size-base);
        .text {
          color: var(--timing-state-text-color);
        }
      }
      .timing-state-alarm {
        --timing-state-text-color: var(--w-warning-color);
        --timing-state-bg-color: var(--w-warning-color-1);
      }
      .timing-state-due {
        --timing-state-text-color: var(--w-success-color);
        --timing-state-bg-color: var(--w-success-color-1);
      }
      .timing-state-overdue {
        --timing-state-text-color: var(--w-danger-color);
        --timing-state-bg-color: var(--w-danger-color-1);
      }
    }
    .flow-def-group-list {
      margin-bottom: 12px;
      .uni-data-checklist {
        .checklist-box {
          position: relative;
          padding: 0px 12px;
          border-radius: 4px;
          margin-top: 8px;
          line-height: 40px;
          height: 40px;
          background-color: var(--w-bg-color-mobile-th);
          font-size: var(--w-font-size-base);
          .checkbox__inner {
            position: absolute;
            right: 12px;
          }
          .checklist-text {
            color: var(--w-text-color-mobile) !important;
            padding-right: 20px;
          }
        }
      }
    }
  }
}
.w-work-continues-todo-list__setting {
  .setting-body {
    padding: 0 10px 10px;
    .title {
      font-size: var(--w-font-size-lg);
      margin-top: 10px;
    }
    .setting-body-content {
      max-height: 70vh;
      overflow-y: auto;
      margin-bottom: 12px;
      .uni-data-checklist {
        .checklist-box {
          position: relative;
          padding: 0px 12px;
          border-radius: 4px;
          margin-top: 8px;
          line-height: 40px;
          height: 40px;
          background-color: var(--w-bg-color-mobile-th);
          font-size: var(--w-font-size-base);
          .checkbox__inner,
          .radio__inner {
            position: absolute;
            right: 12px;
          }
          .checklist-text {
            color: var(--w-text-color-mobile) !important;
            padding-right: 20px;
          }
        }
      }
      .uni-stat__w-select {
        .uni-popup {
          *[name="mask"] {
            border-radius: 16px 16px 0 0;
          }
        }
      }
    }
  }
}
