/** 组织树搜索框 */

.div_search_container .form-inline {
  border: @border-default-dark;
  border-radius: @border-radius-base;
  overflow: hidden;

  &:hover {
    border-color: @border-color-primary;
  }

  input {
    border: none;
    outline: none !important;
    width: calc(100% - 28px);
  }

  i {
    color: @text-color-primary;
    vertical-align: middle;
  }
}
