.widget-form-input {
  textarea.ant-input {
    // margin: 4px 0px !important;
  }

  .ant-input-group-wrapper {
    vertical-align: middle;
  }
  .hasAddonAfterOutside {
    display: flex;
    justify-content: space-between;
    .outside-addonAfter {
      margin-left: 12px;
      align-self: center;
      > .zone-draggable > div > .design-row > div > .widget-edit-container > .edit-wrapper-slot > .widget {
        display: flex !important;
        margin-bottom: 0px !important;
      }
      > .widget {
        line-height: normal;
      }
      .ant-form-item-control-wrapper {
        width: fit-content;
      }
      .ant-form-item-control {
        line-height: normal;
      }
    }
  }
}
