.well-theme-tech {
  &.primary-color-1 {
    --w-primary-color: #1677ff;
    --w-primary-color-1: #e6f4ff;
    --w-primary-color-2: #bae0ff;
    --w-primary-color-3: #91caff;
    --w-primary-color-4: #69b1ff;
    --w-primary-color-5: #4096ff;
    --w-primary-color-6: #1677ff;
    --w-primary-color-7: #0958d9;
    --w-primary-color-8: #003eb3;
    --w-primary-color-9: #002c8c;
    --w-primary-color-10: #001d66;
  }
  --w-primary-color: #1677ff;
  --w-primary-color-1: #e6f4ff;
  --w-primary-color-2: #bae0ff;
  --w-primary-color-3: #91caff;
  --w-primary-color-4: #69b1ff;
  --w-primary-color-5: #4096ff;
  --w-primary-color-6: #1677ff;
  --w-primary-color-7: #0958d9;
  --w-primary-color-8: #003eb3;
  --w-primary-color-9: #002c8c;
  --w-primary-color-10: #001d66;
  &.primary-color-2 {
    --w-primary-color: #13c2c2;
    --w-primary-color-1: #e6fffb;
    --w-primary-color-2: #b5f5ec;
    --w-primary-color-3: #87e8de;
    --w-primary-color-4: #5cdbd3;
    --w-primary-color-5: #36cfc9;
    --w-primary-color-6: #13c2c2;
    --w-primary-color-7: #08979c;
    --w-primary-color-8: #006d75;
    --w-primary-color-9: #00474f;
    --w-primary-color-10: #002329;
  }
  &.primary-color-3 {
    --w-primary-color: #2f54eb;
    --w-primary-color-1: #f0f5ff;
    --w-primary-color-2: #d6e4ff;
    --w-primary-color-3: #adc6ff;
    --w-primary-color-4: #85a5ff;
    --w-primary-color-5: #597ef7;
    --w-primary-color-6: #2f54eb;
    --w-primary-color-7: #1d39c4;
    --w-primary-color-8: #10239e;
    --w-primary-color-9: #061178;
    --w-primary-color-10: #030852;
  }
  --w-border-style-base: solid;
  --w-border-width-base: 1px;
  --w-border-width-lg: 2px;
  --w-border-width-xl: 3px;
  --w-border-width-2xl: 4px;
  --w-height-3xs: 20px;
  --w-height-2xs: 24px;
  --w-height-xs: 28px;
  --w-height-sm: 32px;
  --w-height-md: 40px;
  --w-height-lg: 44px;
  --w-height-xl: 48px;
  --w-height-2xl: 60px;
  --w-height-3xl: 72px;
  --w-border-radius-base: 2px;
  --w-border-radius-1: 0px;
  --w-border-radius-2: 4px;
  --w-border-radius-3: 6px;
  --w-border-radius-4: 16px;
  --w-font-family: Microsoft YaHei;
  --w-code-family: SF Mono;
  --w-font-weight-regular: 400;
  --w-font-weight-medium: 500;
  --w-font-weight-semibold: 600;
  --w-font-weight-bold: 700;
  --w-line-height: e("calc(var(--w-font-size) * 1.5715)");
  --w-shadow-1: 0 0 4px 0 #000;
  --w-shadow-1-up: 0 -2px 4px 0 #000;
  --w-shadow-1-down: 0 2px 4px 0 #000;
  --w-shadow-1-left: -2px 0 4px 0 #000;
  --w-shadow-1-right: 2px 0 4px 0 #000;
  --w-shadow-2: 0 0 10px 0 #000;
  --w-shadow-2-up: 0 -4px 10px 0 #000;
  --w-shadow-2-down: 0 4px 10px 0 #000;
  --w-shadow-2-left: -4px 0 10px 0 #000;
  --w-shadow-2-right: 4px 0 10px 0 #000;
  --w-shadow-3: 0 0 20px 0 #000;
  --w-shadow-3-up: 0 -8px 20px 0 #000;
  --w-shadow-3-down: 0 8px 20px 0 #000;
  --w-shadow-3-left: -8px 0 20px 0 #000;
  --w-shadow-3-right: 8px 0 20px 0 #000;
  --w-padding-3xs: 4px;
  --w-padding-2xs: 8px;
  --w-padding-xs: 12px;
  --w-padding-sm: 16px;
  --w-padding-md: 20px;
  --w-padding-lg: 24px;
  --w-padding-xl: 28px;
  --w-padding-2xl: 32px;
  --w-padding-3xl: 36px;
  --w-margin-3xs: 4px;
  --w-margin-2xs: 8px;
  --w-margin-xs: 12px;
  --w-margin-sm: 14px;
  --w-margin-md: 26px;
  --w-margin-lg: 20px;
  --w-margin-xl: 28px;
  --w-margin-2xl: 32px;
  --w-margin-3xl: 48px;
  @import "./theme-input/index.less";
}
