/** 密码更改页面 */

.password-modify {
  .size(100% 100vh);

  display: flex;
  justify-content: center;
  align-items: center;
  background: @component-background;

  .password-modify-content {
    .size(650px 600px);

    border: @border-default-dark;

    .password-modify-title {
      .size(100% 40px);

      padding: 0 @padding-md;
      line-height: 40px;
      box-sizing: border-box;
      background: @primary-color;
      color: @text-color-inverse;
      font-size: @font-size-lg;
    }

    .pwd-dialog {
      padding: @padding-lg @padding-3xl;

      .form-group {
        margin-bottom: @margin-2xl;

        .control-label {
          color: @text-color-dark;
          padding-left: 0;
          padding-right: 0;
        }
      }
    }
  }
}
