/* 图标附件历史版本弹窗样式 */
.fileHistory .fileLocalHistoryTip {
  margin-bottom: @margin-md;
  color: @text-color;
  font-size: @font-size-lg;
  vertical-align: middle;
  line-height: 1;

  i {
    margin-right: @margin-md;
    font-size: @font-size-2xl;
    color: @text-color-light;
    vertical-align: text-bottom;
  }

  span {
    color: @text-color-primary;
    cursor: pointer;
  }
}
