.calendar_weekList{
	background: none repeat scroll 0 0 #E2E7EF;
    color: #434343;
    font-family: "Microsoft YaHei";
    font-size: 18px;
    padding: 0 10px;
    text-align: center;
    width: 110px;
    border-right: 15px solid #FFFFFF;
}

.calendar_weekList_2 {
	background: none repeat scroll 0 0 #F2EDDD;
    color: #434343;
    font-family: "Microsoft YaHei";
    font-size: 18px;
    padding: 10px;
    text-align: center;
    width: 110px;
    border-right: 15px solid #FFFFFF;
}

.calendar_table {
	background: none repeat scroll 0 0 #F1F1F1;
    border-bottom: 5px solid #FFFFFF;
    border-top: 5px solid #FFFFFF;
    color: #145FA1;
    font-family: "Microsoft YaHei";
    font-size: 12px;
    font-weight: normal;
}

.toolbar{
	margin-bottom: 10px;
	padding: 10px 0px 8px 0px;
	background-color: #F4F8FB;
}
.s_today {
    border: medium none;
    display: block;
    float: left;
    font-family: "Microsoft YaHei";
    font-size: 19px;
    margin-left: -5px;
    margin-top: 5px;
    width: 75px;
}

.s_prev_day{
	background: url("../images/arrow_left.png");
    display: block;
    float: left;
    height: 13px;
    width: 14px;
    text-indent: -9999px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 20px;
    margin-top: 12px;	
}
.s_prev_day:hover {
	background: url("../../theme/images/v1_icon.png") no-repeat scroll -62px -25px transparent;
}

.s_next_day{
	background: url("../images/arrow_right.png");
    display: block;
    float: left;
    height: 13px;
    margin-left: 20px;
    margin-right: 10px;
    margin-top: 12px;
    text-indent: -9999px;
    width: 14px;
}

.s_next_day:hover {
	background: url("../../theme/images/v1_icon.png") no-repeat scroll -86px -25px transparent;
}

.fromandto {
    display: block;
    font-family: "Microsoft YaHei";
    font-size: 12px;
    margin-top: 8px;
    float: right;
}

.weekList_table {
    border-collapse: inherit;
}

.weekList_table {
    background: none repeat scroll 0 0 #FFFFFF;
    border-bottom: 1px solid #C3C8CD;
    box-shadow: 1px 1px 1px #B5B5B5;
    display: block;
    margin-bottom: 2px;
    padding: 5px;
    margin-bottom: 8px;
    width: 97%;
    margin-left: 10px;
}

.weekList_table .basic{
	border: 1px solid #eeeeee;
	width:80px;
	margin: 0;
    padding: 0;
    line-height: 18px;
    cursor: pointer;
}

.weekList_table .basicDiv{
	height: 18px;
}

.weekList_table .change1 {
	cursor: pointer;
    width: 80px;
}
.weekList_table .change {
	border: 1px solid #FFFFFF;
	background:#FD6F00;
	width:auto;
}

.weekList_table .right {
	border-right: 1px none;
}

.weekList_table .middle {
	border-right: 1px none;
}

.weekList_table .left {
	border-right: 1px none;
}

.weekList_table .changeDiv {
	background:#FD6F00;
	height: 18px;
}
.weekList_table .changeDiv1 {
	background:#0B78AD;
	height: 18px;
}
.weekList_table .changeDiv2 {
	background:#D2CB80;
	height: 18px;
}
.weekList_table .changeDiv3 {
	background:#AE9EA6;
	height: 18px;
}
.weekList_table .changeDiv4 {
	background:#3E9448;
	height: 18px;
}
.weekList_table .changeDiv5 {
	background:#89A7B6;
	height: 18px;
}
.weekList_table .changeDiv6 {
	background:#946DD5;
	height: 18px;
}
.weekList_table .changeDiv7 {
	background:#D56D79;
	height: 18px;
}
.weekList_table .changeDiv8 {
	background:#4D3235;
	height: 18px;
}
.weekList_table .changeDiv9 {
	background:#E1C8B9;
	height: 18px;
}


.title_text {
    display: block;
    float: left;
    margin-right: 12px;
    padding-left: 12px;
}

.calendar_table > td {
    height: 22px;
    text-align: left;
    width: 52px;
}

.content_table {
    width: 100%;
    border-collapse: collapse;
}

.weekDay {
    font-size: 20px;
}
.weedDay2 {
    font-size: 13px;
}

.autocut {  
    width:80px;  
    overflow:hidden;  
    white-space:nowrap;  
    text-align: center;
    text-overflow:ellipsis;  
    -o-text-overflow:ellipsis;  
    -icab-text-overflow: ellipsis;  
    -khtml-text-overflow: ellipsis;  
    -moz-text-overflow: ellipsis;  
    -webkit-text-overflow: ellipsis;  
}  