.work-view-continuous {
  .operator-row {
    text-align: center;
    line-height: 40px;

    .uni-col .disabled {
      color: #999999;
      pointer-events: none;
    }
  }
}
.w-work-continues-todo-list {
  .todo-list__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;

    .keyword-query-input {
      flex: 1;
    }
    .list-filter,
    .list-setting {
      padding-right: 10px;
      display: inline-flex;
    }
  }
  .todo-list .todo-list-item {
    position: relative;
  }
  .todo-list .todo-list-item:hover {
    background-color: var(--w-primary-color-1);
  }
  .todo-list .item-details {
    font-size: var(--w-font-size-sm);
    line-height: 26px;
    color: #999999;
    cursor: pointer;
  }
  .todo-list .title {
    font-size: var(--w-font-size-base);
    color: #333333;
  }
  .todo-list .item-details.active .title {
    font-weight: bold;
    color: var(--w-primary-color);
  }
  .todo-list .item-details.active::before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    content: "";
    width: 4px;
    background: var(--w-primary-color);
  }
  .todo-list .item-details.active::after {
    position: absolute;
    top: 50%;
    left: 4px;
    content: "";
    margin-top: -6px;
    border-left: 6px solid var(--w-primary-color);
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
  }
  .scroll-view {
    /* #ifndef APP-NVUE */
    width: 100%;
    height: 100%;
    /* #endif */
    flex: 1;
  }
  // 处理抽屉内容滚动
  .scroll-view-box {
    padding-top: 100px;
    // padding-bottom: 10px;
    flex: 1;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
  }
}
.w-work-continues-todo-list__filter,
.w-work-continues-todo-list__setting {
  .popup-content {
    .popop-title {
      padding: 20px 5rem 8px;
      font-size: 14px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      position: relative;

      .left {
        position: absolute;
        left: 10px;
      }

      .center {
        flex: 1;
        text-align: center;
        font-size: 20px;
        color: #000000;
      }

      .right {
        position: absolute;
        right: 10px;
      }
    }
  }
}
.w-work-continues-todo-list__filter {
  .filter-body {
    padding: 0 10px;
    .title {
      font-size: var(--w-font-size-lg);
      margin-top: 10px;
    }
    .timing-state {
      .uni-row {
        padding: 5px 10px;
        border-radius: 4px;
        margin-top: 8px;
        line-height: 30px;
      }
      .timing-state-normal {
        background-color: #e6f7ff;
        border: 1px solid #91d5ff;
      }
      .timing-state-alarm {
        background-color: var(--w-warning-color-1);
        border: 1px solid var(--w-warning-color);
      }
      .timing-state-due {
        background-color: var(--w-warning-color-4);
        border: 1px solid var(--w-warning-color-8);
      }
      .timing-state-overdue {
        background-color: var(--w-danger-color-1);
        border: 1px solid var(--w-danger-color);
      }
    }
    .flow-def-group-list {
      padding: 10px;
      margin: 10px 0;
      border: 1px solid var(--w-border-color-light);
      border-radius: 4px;
    }
  }
}
.w-work-continues-todo-list__setting {
  .setting-body {
    padding: 0 10px 10px;
    .title {
      font-size: var(--w-font-size-lg);
      margin-top: 10px;
    }
  }
}
