body {
  --w-primary-color: #488cee;
  --w-primary-color-rgb: 72, 140, 238;
  // 内置值
  --w-primary-color-1: #f6f9fe;
  --w-primary-color-2: #edf4fd;
  --w-primary-color-3: #dae8fc;
  --w-primary-color-4: #a3c6f7;
  --w-primary-color-5: #6da3f1;
  --w-primary-color-6: var(--w-primary-color);
  --w-primary-color-7: #3a70be;
  --w-primary-color-8: #2b548f;
  --w-primary-color-9: #1d385f;
  --w-primary-color-10: #0e1c30;
  // --w-primary-color-1: color-mix(in srgb, var(--w-primary-color) 5%, white);
  // --w-primary-color-2: color-mix(in srgb, var(--w-primary-color) 10%, white);
  // --w-primary-color-3: color-mix(in srgb, var(--w-primary-color) 20%, white);
  // --w-primary-color-4: color-mix(in srgb, var(--w-primary-color) 50%, white);
  // --w-primary-color-5: color-mix(in srgb, var(--w-primary-color) 80%, white);
  // --w-primary-color-6: var(--w-primary-color);
  // --w-primary-color-7: color-mix(in srgb, var(--w-primary-color) 80%, black);
  // --w-primary-color-8: color-mix(in srgb, var(--w-primary-color) 60%, black);
  // --w-primary-color-9: color-mix(in srgb, var(--w-primary-color) 40%, black);
  // --w-primary-color-10: color-mix(in srgb, var(--w-primary-color) 20%, black);
  --w-gray-color-1: white;
  --w-gray-color-2: #fafafa; //color-mix(in srgb, white, black 2%);
  --w-gray-color-3: #f5f5f5; //color-mix(in srgb, white, black 4%);
  --w-gray-color-4: #f2f2f2; //color-mix(in srgb, white, black 5%);
  --w-gray-color-5: #e6e6e6; //color-mix(in srgb, white, black 10%);
  --w-gray-color-6: #d9d9d9; //color-mix(in srgb, white, black 15%);
  --w-gray-color-7: #cccccc; //color-mix(in srgb, white, black 20%);
  --w-gray-color-8: #b3b3b3; //color-mix(in srgb, white, black 30%);
  --w-gray-color-9: #999999; //color-mix(in srgb, white, black 40%);
  --w-gray-color-10: #808080; //color-mix(in srgb, white, black 50%);
  --w-gray-color-11: #666666; //color-mix(in srgb, white, black 60%);
  --w-gray-color-12: #4d4d4d; //color-mix(in srgb, white, black 70%);
  --w-gray-color-13: #333333; //color-mix(in srgb, white, black 80%);
  --w-gray-color-14: black;
  --w-text-color-darker: var(--w-gray-color-14);
  --w-text-color-dark: var(--w-gray-color-13);
  --w-text-color-base: var(--w-gray-color-11);
  --w-text-color-light: var(--w-gray-color-9);
  --w-text-color-lighter: var(--w-gray-color-7);
  --w-text-color-inverse: white;
  --w-border-color-darker: var(--w-gray-color-8);
  --w-border-color-dark: var(--w-gray-color-7);
  --w-border-color-base: #d9d9d9;
  --w-border-color-light: var(--w-gray-color-5);
  --w-border-color-lighter: var(--w-gray-color-4);
  --w-border-color-inverse: #fff;
  --w-fill-color-base: var(--w-color-white);
  --w-fill-color-light: var(--w-gray-color-4);
  --w-fill-color-dark: var(--w-gray-color-5);
  --w-fill-color-darker: var(--w-gray-color-7);
  --w-bg-color-body: var(--w-color-white);
  --w-bg-color-popup: var(--w-color-white);
  --w-bg-color-component: var(--w-color-white);
  --w-bg-color-popover: var(--w-color-white);
  --w-bg-color-layout: var(--w-gray-color-4);
  --w-bg-color-spotlight: var(--w-gray-color-13);
  --w-success-color: #52c41a;
  --w-success-color-1: #f6fcf4; //color-mix(in srgb, var(--w-success-color) 5%, var(--w-color-white));
  --w-success-color-2: #eef9e8; //color-mix(in srgb, var(--w-success-color) 10%, var(--w-color-white));
  --w-success-color-3: #dcf3d1; //color-mix(in srgb, var(--w-success-color) 20%, var(--w-color-white));
  --w-success-color-4: #a8e28c; //color-mix(in srgb, var(--w-success-color) 50%, var(--w-color-white));
  --w-success-color-5: #75d048; //color-mix(in srgb, var(--w-success-color) 80%, var(--w-color-white));
  --w-success-color-6: var(--w-success-color);
  --w-success-color-7: #429d15; //color-mix(in srgb, var(--w-success-color) 80%, var(--w-color-black));
  --w-success-color-8: #317610; //color-mix(in srgb, var(--w-success-color) 60%, var(--w-color-black));
  --w-success-color-9: #214e0a; //color-mix(in srgb, var(--w-success-color) 40%, var(--w-color-black));
  --w-success-color-10: #102705; //color-mix(in srgb, var(--w-success-color) 20%, var(--w-color-black));
  --w-warning-color: #faad14;
  --w-warning-color-1: #fffbf3; //color-mix(in srgb, var(--w-warning-color) 5%, var(--w-color-white));
  --w-warning-color-2: #fef7e7; //color-mix(in srgb, var(--w-warning-color) 10%, var(--w-color-white));
  --w-warning-color-3: #feefd0; //color-mix(in srgb, var(--w-warning-color) 20%, var(--w-color-white));
  --w-warning-color-4: #fcd68a; //color-mix(in srgb, var(--w-warning-color) 50%, var(--w-color-white));
  --w-warning-color-5: #fbbd43; //color-mix(in srgb, var(--w-warning-color) 80%, var(--w-color-white));
  --w-warning-color-6: var(--w-warning-color);
  --w-warning-color-7: #c88a10; //color-mix(in srgb, var(--w-warning-color) 80%, var(--w-color-black));
  --w-warning-color-8: #96680c; //color-mix(in srgb, var(--w-warning-color) 60%, var(--w-color-black));
  --w-warning-color-9: #644508; //color-mix(in srgb, var(--w-warning-color) 40%, var(--w-color-black));
  --w-warning-color-10: #322304; //color-mix(in srgb, var(--w-warning-color) 20%, var(--w-color-black));
  --w-danger-color: #e33033;
  --w-danger-color-1: #fef5f5; //color-mix(in srgb, var(--w-danger-color) 5%, var(--w-color-white));
  --w-danger-color-2: #fceaeb; //color-mix(in srgb, var(--w-danger-color) 10%, var(--w-color-white));
  --w-danger-color-3: #f9d6d6; //color-mix(in srgb, var(--w-danger-color) 20%, var(--w-color-white));
  --w-danger-color-4: #f19899; //color-mix(in srgb, var(--w-danger-color) 50%, var(--w-color-white));
  --w-danger-color-5: #e9595c; //color-mix(in srgb, var(--w-danger-color) 80%, var(--w-color-white));
  --w-danger-color-6: var(--w-danger-color);
  --w-danger-color-7: #b62629; //color-mix(in srgb, var(--w-danger-color) 80%, var(--w-color-black));
  --w-danger-color-8: #881d1f; //color-mix(in srgb, var(--w-danger-color) 60%, var(--w-color-black));
  --w-danger-color-9: #5b1314; //color-mix(in srgb, var(--w-danger-color) 40%, var(--w-color-black));
  --w-danger-color-10: #2d0a0a; //color-mix(in srgb, var(--w-danger-color) 20%, var(--w-color-black));
  --w-info-color: #2aaedd;
  --w-info-color-1: #f4fbfd; //color-mix(in srgb, var(--w-info-color) 5%, var(--w-color-white));
  --w-info-color-2: #eaf7fc; //color-mix(in srgb, var(--w-info-color) 10%, var(--w-color-white));
  --w-info-color-3: #d4eff8; //color-mix(in srgb, var(--w-info-color) 20%, var(--w-color-white));
  --w-info-color-4: #95d7ee; //color-mix(in srgb, var(--w-info-color) 50%, var(--w-color-white));
  --w-info-color-5: #55bee4; //color-mix(in srgb, var(--w-info-color) 80%, var(--w-color-white));
  --w-info-color-6: var(--w-info-color);
  --w-info-color-7: #228bb1; //color-mix(in srgb, var(--w-info-color) 80%, var(--w-color-black));
  --w-info-color-8: #196885; //color-mix(in srgb, var(--w-info-color) 60%, var(--w-color-black));
  --w-info-color-9: #114658; //color-mix(in srgb, var(--w-info-color) 40%, var(--w-color-black));
  --w-info-color-10: #08232c; //color-mix(in srgb, var(--w-info-color) 20%, var(--w-color-black));
  --w-link-color: #165dff;
  --w-link-color-1: #f3f7ff; //color-mix(in srgb, var(--w-link-color) 5%, var(--w-color-white));
  --w-link-color-2: #e8efff; //color-mix(in srgb, var(--w-link-color) 10%, var(--w-color-white));
  --w-link-color-3: #d0dfff; //color-mix(in srgb, var(--w-link-color) 20%, var(--w-color-white));
  --w-link-color-4: #8aaeff; //color-mix(in srgb, var(--w-link-color) 50%, var(--w-color-white));
  --w-link-color-5: #457dff; //color-mix(in srgb, var(--w-link-color) 80%, var(--w-color-white));
  --w-link-color-6: var(--w-link-color);
  --w-link-color-7: #124acc; //color-mix(in srgb, var(--w-link-color) 80%, var(--w-color-black));
  --w-link-color-8: #0d3899; //color-mix(in srgb, var(--w-link-color) 60%, var(--w-color-black));
  --w-link-color-9: #092566; //color-mix(in srgb, var(--w-link-color) 40%, var(--w-color-black));
  --w-link-color-10: #041333; //color-mix(in srgb, var(--w-link-color) 20%, var(--w-color-black));
  --w-sub-color: #9779e6;
  --w-sub-color-1: #faf8fe;
  --w-sub-color-2: #f5f2fd;
  --w-sub-color-3: #eae4fa;
  --w-sub-color-4: #cbbcf3;
  --w-sub-color-5: #ac94eb;
  --w-sub-color-6: var(--w-sub-color);
  --w-sub-color-7: #7961b8;
  --w-sub-color-8: #5b498a;
  --w-sub-color-9: #3c305c;
  --w-sub-color-10: #1e182e;
  --w-border-style-base: solid;
  --w-border-style-dashed: dashed;
  --w-border-width-0: 0px;
  --w-border-width-base: 1px;
  --w-border-width-lg: 2px;
  --w-border-width-xl: 3px;
  --w-border-width-2xl: 4px;
  --w-height-3xs: 20px;
  --w-height-2xs: 24px;
  --w-height-xs: 28px;
  --w-height-sm: 32px;
  --w-height-md: 40px;
  --w-height-lg: 44px;
  --w-height-xl: 48px;
  --w-height-2xl: 60px;
  --w-height-3xl: 72px;
  --w-border-radius-base: 2px;
  --w-border-radius-1: 0px;
  --w-border-radius-2: 4px;
  --w-border-radius-3: 6px;
  --w-border-radius-4: 16px;
  --w-border-radius-5: 18px;
  --w-font-family: Microsoft YaHei;
  --w-code-family: SF Mono;
  --w-font-size: 14px;
  --w-font-size-6xl: e('calc(var(--w-font-size) + 34px)');
  --w-font-size-5xl: e('calc(var(--w-font-size) + 22px)');
  --w-font-size-4xl: e('calc(var(--w-font-size) + 16px)');
  --w-font-size-3xl: e('calc(var(--w-font-size) + 10px)');
  --w-font-size-2xl: e('calc(var(--w-font-size) + 6px)');
  --w-font-size-xl: e('calc(var(--w-font-size) + 4px)');
  --w-font-size-lg: e('calc(var(--w-font-size) + 2px)');
  --w-font-size-base: var(--w-font-size);
  --w-font-size-sm: e('calc(var(--w-font-size) - 2px)');
  --w-font-weight-regular: 400;
  --w-font-weight-medium: 500;
  --w-font-weight-semibold: 600;
  --w-font-weight-bold: 700;
  --w-line-height: e('calc(var(--w-font-size) * 1.5715)');
  --w-shadow-1: 0 0 4px 0 #000;
  --w-shadow-1-up: 0 -2px 4px 0 #000;
  --w-shadow-1-down: 0 2px 4px 0 #000;
  --w-shadow-1-left: -2px 0 4px 0 #000;
  --w-shadow-1-right: 2px 0 4px 0 #000;
  --w-shadow-2: 0 0 10px 0 #000;
  --w-shadow-2-up: 0 -4px 10px 0 #000;
  --w-shadow-2-down: 0 4px 10px 0 #000;
  --w-shadow-2-left: -4px 0 10px 0 #000;
  --w-shadow-2-right: 4px 0 10px 0 #000;
  --w-shadow-3: 0 0 20px 0 #000;
  --w-shadow-3-up: 0 -8px 20px 0 #000;
  --w-shadow-3-down: 0 8px 20px 0 #000;
  --w-shadow-3-left: -8px 0 20px 0 #000;
  --w-shadow-3-right: 8px 0 20px 0 #000;
  --w-padding-0: 0px;
  --w-padding-3xs: 4px;
  --w-padding-2xs: 8px;
  --w-padding-xs: 12px;
  --w-padding-sm: 16px;
  --w-padding-md: 20px;
  --w-padding-lg: 24px;
  --w-padding-xl: 28px;
  --w-padding-2xl: 32px;
  --w-padding-3xl: 36px;
  --w-padding-4xl: 40px;
  --w-padding-5xl: 44px;
  --w-padding-6xl: 48px;
  --w-margin-0: 0px;
  --w-margin-3xs: 4px;
  --w-margin-2xs: 8px;
  --w-margin-xs: 12px;
  --w-margin-sm: 14px;
  --w-margin-md: 20px;
  --w-margin-lg: 24px;
  --w-margin-xl: 28px;
  --w-margin-2xl: 32px;
  --w-margin-3xl: 48px;
}
