<div class="admin-home">
  <div class="row admin-home-quick clearfix">
    <div class="col-xs-3 admin-home-item" data-menuid="C8D77E7331F0000112691B152D30F8B0">
      <div class="admin-home-quick-icon" style="background: #51c7ed"><i class="iconfont icon-wsbs-shenbaocailiao"></i></div>
      <span class="admin-home-name">文件库管理</span>
    </div>
    <div class="col-xs-3 admin-home-item" data-menuid="C8AB2A2E8C4000016FA866D48FCDC7A0">
      <div class="admin-home-quick-icon" style="background: #f6aaa0"><i class="iconfont icon-ptkj-gerentongxunlu"></i></div>
      <span class="admin-home-name">角色管理</span>
    </div>
    <div class="col-xs-3 admin-home-item" data-menuid="C8AB2A3002000001BFACA1C014449D50">
      <div class="admin-home-quick-icon" style="background: #44d89f"><i class="iconfont icon-ptkj-quanxianguanli"></i></div>
      <span class="admin-home-name">权限管理</span>
    </div>
    <div class="col-xs-3 admin-home-item" data-menuid="C8AB2A1636300001F047175019E01ADF">
      <div class="admin-home-quick-icon" style="background: #99b8f8"><i class="iconfont icon-ptkj-wenshuku"></i></div>
      <span class="admin-home-name">数据字典</span>
    </div>
    <div class="col-xs-3 admin-home-item" data-menuid="C8AB2A26EB90000154FA124110051381">
      <div class="admin-home-quick-icon" style="background: #77dccf"><i class="iconfont icon-ptkj-jichushujuguanli"></i></div>
      <span class="admin-home-name">数据仓库</span>
    </div>
    <div class="col-xs-3 admin-home-item" data-menuid="C8AB2A3E2C300001ADD9874F10F0AB00">
      <div class="admin-home-quick-icon" style="background: #6395f9"><i class="iconfont icon-ptkj-waibutongxunlu"></i></div>
      <span class="admin-home-name">业务通讯录</span>
    </div>
    <div class="col-xs-3 admin-home-item" data-menuid="C8AB2A773BB0000113441FBB1CDE17E0">
      <div class="admin-home-quick-icon" style="background: #ecc866"><i class="iconfont icon-xmch-wodexiaoxi"></i></div>
      <span class="admin-home-name">消息格式</span>
    </div>
    <div class="col-xs-3 admin-home-item">
      <div class="admin-home-quick-icon" style="background: #e996bb"><i class="iconfont icon-xmch-heguixingjiancha"></i></div>
      <span class="admin-home-name">证书授权</span>
    </div>
    <div class="col-xs-3 admin-home-item">
      <div class="admin-home-quick-icon" style="background: #657798"><i class="iconfont icon-oa-mokuaishezhi"></i></div>
      <span class="admin-home-name">功能授权</span>
    </div>
  </div>
  <div class="row mt20 clearfix admin-home-data">
    <div class="admin-home-card card-three admin-show-data">
      <div class="title">数据概览</div>
      <ul class="admin-home-data-list">
        <li class="admin-home-data-item bg1">
          <div class="admin-home-data-title">授权单位数</div>
          <ul class="admin-home-data-detail clearfix">
            <li class="admin-home-detail-item">
              <div class="admin-home-detail-text">总计</div>
              <div class="admin-home-detail-num" data-menuid="C8AB29F440900001D4DC107818302BB0"></div>
            </li>
          </ul>
        </li>
        <li class="admin-home-data-item bg2">
          <div class="admin-home-data-title">流程数</div>
          <ul class="admin-home-data-detail clearfix">
            <li class="admin-home-detail-item">
              <div class="admin-home-detail-text">总计</div>
              <div class="admin-home-detail-num" data-menuid="C8AB2A4CC32000019BAE126019A514F3"></div>
            </li>
          </ul>
        </li>
        <li class="admin-home-data-item bg3">
          <div class="admin-home-data-title">表单数</div>
          <ul class="admin-home-data-detail clearfix">
            <li class="admin-home-detail-item">
              <div class="admin-home-detail-text">总计</div>
              <div class="admin-home-detail-num" data-menuid="C8AB2A24612000019E5C172014E01BD3"></div>
            </li>
            <li class="admin-home-detail-item">
              <div class="admin-home-detail-text">手机单据</div>
              <div class="admin-home-detail-num"></div>
            </li>
          </ul>
        </li>
        <li class="admin-home-data-item bg4">
          <div class="admin-home-data-title">产品集成数</div>
          <ul class="admin-home-data-detail clearfix">
            <li class="admin-home-detail-item">
              <div class="admin-home-detail-text">产品</div>
              <div class="admin-home-detail-num" data-menuid="C8AB2A0701E00001EB951D60A7DB1A31"></div>
            </li>
            <li class="admin-home-detail-item">
              <div class="admin-home-detail-text">系统</div>
              <div class="admin-home-detail-num" data-menuid="C8AB2A0A73300001B26B14C018A01D66"></div>
            </li>
            <li class="admin-home-detail-item">
              <div class="admin-home-detail-text">模块</div>
              <div class="admin-home-detail-num" data-menuid="C8AB2A0C99E0000183CDA93063901961"></div>
            </li>
            <li class="admin-home-detail-item">
              <div class="admin-home-detail-text">应用</div>
              <div class="admin-home-detail-num" data-menuid="C8AB2A0DF2800001A0361F2015801DEC"></div>
            </li>
          </ul>
        </li>
      </ul>
    </div>
    <div class="admin-home-card card-three height2">
      <div class="title">待办事项</div>
      <ul class="admin-home-data-list">
        <li class="admin-home-data-item bg1">
          <div class="admin-home-data-title">
            产品集成完善
            <div class="admin-home-data-tips">
              <i class="iconfont icon-ptkj-tishishuoming"></i>
              <div class="admin-home-data-tooltip">集成信息中的应用无页面时，需要完善，以保障用户可访问和使用</div>
            </div>
          </div>
          <ul class="admin-home-data-detail clearfix">
            <li class="admin-home-detail-item">
              <div class="admin-home-detail-text">产品</div>
              <div class="admin-home-detail-num">3</div>
            </li>
            <li class="admin-home-detail-item">
              <div class="admin-home-detail-text">系统</div>
              <div class="admin-home-detail-num">7</div>
            </li>
            <li class="admin-home-detail-item">
              <div class="admin-home-detail-text">模块</div>
              <div class="admin-home-detail-num">20</div>
            </li>
            <li class="admin-home-detail-item">
              <div class="admin-home-detail-text">应用</div>
              <div class="admin-home-detail-num">68</div>
            </li>
          </ul>
        </li>
        <li class="admin-home-data-item bg3">
          <div class="admin-home-data-title">
            权限完善
            <div class="admin-home-data-tips">
              <i class="iconfont icon-ptkj-tishishuoming"></i>
              <div class="admin-home-data-tooltip">
                权限未设置集成信息时，或角色未设置角色/权限时，需要完善，以保障用户登录系统时，能够显示页面（根据用户所设置的角色中的权限加载）
              </div>
            </div>
          </div>
          <ul class="admin-home-data-detail clearfix">
            <li class="admin-home-detail-item">
              <div class="admin-home-detail-text">角色</div>
              <div class="admin-home-detail-num">3</div>
            </li>
            <li class="admin-home-detail-item">
              <div class="admin-home-detail-text">权限</div>
              <div class="admin-home-detail-num">7</div>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>
