<div class="admin-home">
  <!-- <div class="admin-home-tips">
        <i class="iconfont icon-ptkj-mianxingjinggaotishi"></i>
        CPU、短信 资源不足，请尽快处理！
    </div> -->
  <div class="row admin-home-quick clearfix">
    <div class="col-xs-3 admin-home-item" data-menuid="C8B3446B38200001C7C116B7A9E518BD">
      <div class="admin-home-quick-icon" style="background: #51c7ed"><i class="iconfont icon-wsbs-shenbaocailiao"></i></div>
      <span class="admin-home-name">文件库管理</span>
    </div>
    <div class="col-xs-3 admin-home-item" data-menuid="C8B3446436A00001F38E590D1C94DC40">
      <div class="admin-home-quick-icon" style="background: #f6aaa0"><i class="iconfont icon-ptkj-gerentongxunlu"></i></div>
      <span class="admin-home-name">角色管理</span>
    </div>
    <div class="col-xs-3 admin-home-item" data-menuid="C8B34465E9E00001F92712A11C7B173D">
      <div class="admin-home-quick-icon" style="background: #44d89f"><i class="iconfont icon-ptkj-quanxianguanli"></i></div>
      <span class="admin-home-name">权限管理</span>
    </div>
    <div class="col-xs-3 admin-home-item" data-menuid="C8B34477C2A00001D5621F004E3614EB">
      <div class="admin-home-quick-icon" style="background: #99b8f8"><i class="iconfont icon-ptkj-wenshuku"></i></div>
      <span class="admin-home-name">数据字典</span>
    </div>
    <div class="col-xs-3 admin-home-item" data-menuid="C8B34487C860000174255E7B1510FBC0">
      <div class="admin-home-quick-icon" style="background: #77dccf"><i class="iconfont icon-ptkj-jichushujuguanli"></i></div>
      <span class="admin-home-name">数据仓库</span>
    </div>
    <div class="col-xs-3 admin-home-item" data-menuid="C900709FFA7000016F5B572010E03800">
      <div class="admin-home-quick-icon" style="background: #6395f9"><i class="iconfont icon-ptkj-waibutongxunlu"></i></div>
      <span class="admin-home-name">业务通讯录</span>
    </div>
    <div class="col-xs-3 admin-home-item" data-menuid="C8B34479F2000001AFB1F087F2201D4E">
      <div class="admin-home-quick-icon" style="background: #ecc866"><i class="iconfont icon-xmch-wodexiaoxi"></i></div>
      <span class="admin-home-name">消息格式</span>
    </div>
    <div class="col-xs-3 admin-home-item">
      <div class="admin-home-quick-icon" style="background: #657798"><i class="iconfont icon-oa-mokuaishezhi"></i></div>
      <span class="admin-home-name">模块授权</span>
    </div>
  </div>
  <div class="row mt20 clearfix admin-home-data">
    <div class="admin-home-card card-one admin-show-data">
      <div class="title">数据概览</div>
      <ul class="admin-home-data-list">
        <li class="admin-home-data-item bg1">
          <div class="admin-home-data-title">产品集成数</div>
          <ul class="admin-home-data-detail clearfix">
            <li class="admin-home-detail-item">
              <div class="admin-home-detail-text">产品</div>
              <div class="admin-home-detail-num" data-menuid="C8AB2A0701E00001EB951D60A7DB1A31"></div>
            </li>
            <li class="admin-home-detail-item">
              <div class="admin-home-detail-text">系统</div>
              <div class="admin-home-detail-num" data-menuid="C8AB2A0A73300001B26B14C018A01D66"></div>
            </li>
            <li class="admin-home-detail-item">
              <div class="admin-home-detail-text">模块</div>
              <div class="admin-home-detail-num" data-menuid="C8AB2A0C99E0000183CDA93063901961"></div>
            </li>
            <li class="admin-home-detail-item">
              <div class="admin-home-detail-text">应用</div>
              <div class="admin-home-detail-num" data-menuid="C8AB2A0DF2800001A0361F2015801DEC"></div>
            </li>
          </ul>
        </li>
        <li class="admin-home-data-item bg2">
          <div class="admin-home-data-title">用户数</div>
          <ul class="admin-home-data-detail clearfix">
            <li class="admin-home-detail-item">
              <div class="admin-home-detail-text">总计</div>
              <div class="admin-home-detail-num" data-menuid="C8B3443E4E600001583180B0185218AC"></div>
            </li>
          </ul>
        </li>
        <li class="admin-home-data-item bg3">
          <div class="admin-home-data-title">流程数</div>
          <ul class="admin-home-data-detail clearfix">
            <li class="admin-home-detail-item">
              <div class="admin-home-detail-text">总计</div>
              <div class="admin-home-detail-num" data-menuid="C8B3444B92C00001186016701408FDD0"></div>
            </li>
          </ul>
        </li>
        <li class="admin-home-data-item bg4">
          <div class="admin-home-data-title">表单数</div>
          <ul class="admin-home-data-detail clearfix">
            <li class="admin-home-detail-item">
              <div class="admin-home-detail-text">总计</div>
              <div class="admin-home-detail-num" data-menuid="C8B3445C2B000001CCF31A54833F1990"></div>
            </li>
            <li class="admin-home-detail-item">
              <div class="admin-home-detail-text">手机单据</div>
              <div class="admin-home-detail-num"></div>
            </li>
          </ul>
        </li>
      </ul>
    </div>
    <div class="admin-home-card card-one">
      <div class="title">待办事项</div>
      <ul class="admin-home-data-list">
        <li class="admin-home-data-item bg1">
          <div class="admin-home-data-title">
            产品集成完善
            <div class="admin-home-data-tips">
              <i class="iconfont icon-ptkj-tishishuoming"></i>
              <div class="admin-home-data-tooltip">集成信息中的应用无页面时，需要完善，以保障用户可访问和使用</div>
            </div>
          </div>
          <ul class="admin-home-data-detail clearfix">
            <li class="admin-home-detail-item">
              <div class="admin-home-detail-text">产品</div>
              <div class="admin-home-detail-num">3</div>
            </li>
            <li class="admin-home-detail-item">
              <div class="admin-home-detail-text">系统</div>
              <div class="admin-home-detail-num">7</div>
            </li>
            <li class="admin-home-detail-item">
              <div class="admin-home-detail-text">模块</div>
              <div class="admin-home-detail-num">20</div>
            </li>
            <li class="admin-home-detail-item">
              <div class="admin-home-detail-text">应用</div>
              <div class="admin-home-detail-num">68</div>
            </li>
          </ul>
        </li>
        <li class="admin-home-data-item bg2">
          <div class="admin-home-data-title">
            用户完善
            <div class="admin-home-data-tips">
              <i class="iconfont icon-ptkj-tishishuoming"></i>
              <div class="admin-home-data-tooltip">
                用户的角色和职位均未设置时，需要完善，以保障用户登录系统时，能够显示页面（根据用户和职位关联的角色中的权限加载）
              </div>
            </div>
          </div>
          <ul class="admin-home-data-detail clearfix">
            <li class="admin-home-detail-item">
              <div class="admin-home-detail-text">用户</div>
              <div class="admin-home-detail-num">10</div>
            </li>
          </ul>
        </li>
        <li class="admin-home-data-item bg3">
          <div class="admin-home-data-title">
            权限完善
            <div class="admin-home-data-tips">
              <i class="iconfont icon-ptkj-tishishuoming"></i>
              <div class="admin-home-data-tooltip">
                权限未设置集成信息时，或角色未设置角色/权限时，需要完善，以保障用户登录系统时，能够显示页面（根据用户关联的角色中的权限加载）
              </div>
            </div>
          </div>
          <ul class="admin-home-data-detail clearfix">
            <li class="admin-home-detail-item">
              <div class="admin-home-detail-text">角色</div>
              <div class="admin-home-detail-num">3</div>
            </li>
            <li class="admin-home-detail-item">
              <div class="admin-home-detail-text">权限</div>
              <div class="admin-home-detail-num">7</div>
            </li>
          </ul>
        </li>
        <li class="admin-home-data-item bg4">
          <div class="admin-home-data-title">
            第三方同步
            <div class="admin-home-data-tips">
              <i class="iconfont icon-ptkj-tishishuoming"></i>
              <div class="admin-home-data-tooltip">
                与钉钉、企业微信对接后，当钉钉、企业微信更新人员信息时，针对同步的人员更新信息中待确认的，需要进行确认
              </div>
            </div>
          </div>
          <ul class="admin-home-data-detail clearfix">
            <li class="admin-home-detail-item">
              <div class="admin-home-detail-text">钉钉用户</div>
              <div class="admin-home-detail-num">3</div>
            </li>
            <li class="admin-home-detail-item">
              <div class="admin-home-detail-text">微信用户</div>
              <div class="admin-home-detail-num">0</div>
            </li>
          </ul>
        </li>
      </ul>
    </div>
    <div class="admin-home-card card-two">
      <div class="title">
        系统预警异常处理
        <span class="more">
          更多
          <i class="iconfont icon-ptkj-xianmiaojiantou-you"></i>
        </span>
      </div>
      <ul class="admin-home-exception">
        <li class="admin-home-exception-item active">
          <div class="admin-home-exception-left">
            <span class="admin-home-exception-time">2020-07-08 15:30</span>
            <span class="admin-home-exception-type">数据锁定</span>
          </div>
          <div class="admin-home-exception-right">
            公共库【OA_USR_6_1_DEV】的对象【WM_MAIL_USE】，被服务器【hunt】的程序【JDBCThin Clinent】锁定
          </div>
        </li>
        <li class="admin-home-exception-item active">
          <div class="admin-home-exception-left">
            <span class="admin-home-exception-time">2020-07-06 15:30</span>
            <span class="admin-home-exception-type">数据锁定</span>
          </div>
          <div class="admin-home-exception-right">
            租户库【OA_USR_6_1_DEV】的对象【WM_MAIL_USER_CAPA CITY】，被服务器【hunt】的 程序【JDBC Thin Clinent】锁定
          </div>
        </li>
        <li class="admin-home-exception-item">
          <div class="admin-home-exception-left">
            <span class="admin-home-exception-time">2020-07-06 15:30</span>
            <span class="admin-home-exception-type">定时任务异常</span>
          </div>
          <div class="admin-home-exception-right">任务【配置性数据依赖同步】（ID：JOB_20160616171038）执行异常</div>
        </li>
        <li class="admin-home-exception-item">
          <div class="admin-home-exception-left">
            <span class="admin-home-exception-time">2020-07-08 15:30</span>
            <span class="admin-home-exception-type">日志文件异常</span>
          </div>
          <div class="admin-home-exception-right">日志文件【MAIL_USER】的第【5】行出现异常</div>
        </li>
        <li class="admin-home-exception-item">
          <div class="admin-home-exception-left">
            <span class="admin-home-exception-time">2020-07-08 15:30</span>
            <span class="admin-home-exception-type">数据锁定</span>
          </div>
          <div class="admin-home-exception-right">
            租户库【OA_USR_6_1_DEV】的对象【WM_MAIL_USER_CAPA CITY】，被服务器【hunt】的 程序【JDBC Thin Clinent】锁定
          </div>
        </li>
        <li class="admin-home-exception-item">
          <div class="admin-home-exception-left">
            <span class="admin-home-exception-time">2020-07-08 15:30</span>
            <span class="admin-home-exception-type">日志文件异常</span>
          </div>
          <div class="admin-home-exception-right">日志文件【MAIL_USER】的第【108】行出现异常</div>
        </li>
        <li class="admin-home-exception-item">
          <div class="admin-home-exception-left">
            <span class="admin-home-exception-time">2020-07-08 15:30</span>
            <span class="admin-home-exception-type">定时任务异常</span>
          </div>
          <div class="admin-home-exception-right">任务【配置性数据依赖同步】（ID：JOB_20160616171038）执行异常</div>
        </li>
      </ul>
    </div>
  </div>
  <div class="row mt20 admin-home-chart">
    <div class="title">资源情况</div>
    <div class="admin-home-chart-list">
      <div>
        <img src="/static/images/home/homeChart1.png" alt="" />
      </div>
      <div>
        <img src="/static/images/home/homeChart3.png" alt="" />
      </div>
      <div>
        <img src="/static/images/home/homeChart4.png" alt="" />
      </div>
      <div>
        <img src="/static/images/home/homeChart5.png" alt="" />
      </div>
      <div>
        <img src="/static/images/home/homeChart6.png" alt="" />
      </div>
      <div>
        <img src="/static/images/home/homeChart2.png" alt="" />
      </div>
      <div>
        <img src="/static/images/home/homeChart7.png" alt="" />
      </div>
      <div>
        <img src="/static/images/home/homeChart8.png" alt="" />
      </div>
      <div>
        <img src="/static/images/home/homeChart9.png" alt="" />
      </div>
      <div>
        <img src="/static/images/home/homeChart10.png" alt="" />
      </div>
    </div>
  </div>
</div>
