& {
  --w-input-border-color: var(--w-border-color-base);
  --w-input-border-color-hover: var(--w-primary-color);
  --w-input-border-color-focus: var(--w-primary-color);
  --w-input-border-color-disabled: var(--w-border-color-base);
  --w-input-border-width: var(--w-border-width-base);
  --w-input-border-style: var(--w-border-style-base);
  --w-input-border-radius: var(--w-border-radius-base);
  --w-input-lr-padding: var(--w-padding-2xs);
  --w-input-height: var(--w-height-sm);
  --w-input-font-size: var(--w-font-size-base);
  --w-input-error-border-color: var(--w-danger-color);
  --w-input-error-border-color-hover: var(--w-danger-color);
  --w-input-error-border-color-focus: var(--w-danger-color);
  --w-input-error-border-width: var(--w-border-width-base);
  --w-input-error-border-style: var(--w-border-style-base);
  --w-input-error-word-color: var(--w-danger-color);
  --w-input-error-word-font-size: var(--w-font-size-base);
  --w-input-error-word-font-weight: var(--w-font-weight-regular);
}
