.widget-form-layout {
  .ant-cascader-picker {
    width: 100%;
  }
}
.ant-cascader-menus.widget-form-cascader {
  .ant-cascader-menu {
    height: 240px;
    width: 160px;
    .ant-cascader-menu-item {
      max-width: 100%;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }
}
