.dashbord-circle-overdue {
  height: 8px;
  width: 8px;
  border: #f5b2b3 2px solid;
  border-radius: 50%;
  background: var(--w-danger-color); // #e33033;
  display: inline-block;
  margin: 0 5px 2px 0;
  vertical-align: middle;
}

.dashbord-circle-due {
  height: 8px;
  width: 8px;
  border: var(--w-warning-color-8) 2px solid;
  border-radius: 50%;
  background: var(--w-warning-color-4); // #e33033;
  display: inline-block;
  margin: 0 5px 2px 0;
  vertical-align: middle;
}

.dashbord-circle-alarm {
  height: 8px;
  width: 8px;
  border: #ecce7f 2px solid;
  border-radius: 50%;
  background: var(--w-warning-color); //#d99d00;
  display: inline-block;
  margin: 0 5px 2px 0;
  vertical-align: middle;
}

.dashbord-circle-normal {
  height: 5px;
  width: 5px;
  border: #c2c2c2 2px solid;
  border-radius: 50%;
  background: #c2c2c2;
  display: inline-block;
  margin: 0 5px 2px 0;
  vertical-align: middle;
}
