/* 底部组件 */

.ui-wFooter {
  .fixed(false false 0 0);
  .size(100%, @footer-height);

  z-index: 10;
  font-size: @font-size-base;
  line-height: @footer-height;
  box-shadow: 0px (-@footer-border-width) 0px @footer-border-color;
  background: @footer-background;
  color: @footer-text-color;

  p {
    margin: 0;
  }

  // 下面样式未使用
  .help-info {
    margin: 0;
    color: @text-color-inverse;

    a {
      line-height: 30px;
    }

    .glyphicon:before {
      padding-right: 5px;
    }

    .fa {
      text-decoration: none;

      &:hover {
        color: #f9622a;
      }
    }
  }
}
