body>.widget-box-overlay{
    position: fixed;
}
.widget-box-overlay {
	position: absolute;
	top: -1px;
	bottom: -1px;
	right: -1px;
	left: -1px;
	z-index: 999;
	text-align: center;
	min-height: 100%;
	height: 100%;
    background-color: rgba(0, 0, 0, 0.1);
    >.loading-overlay {
        position: relative;
        top: 35%;
        left: 0;
        right: 0;
        text-align: center;
    }
    >.loading-icon {
        position: relative;
        top: 35%;
        left: 0;
        right: 0;
        text-align: center;
    }
    >.loading-text {
        position: absolute;
        top: 40%;
        left: 0;
        right: 0;
        text-align: center;
        color: #fff;
    }
    >.loading-text.fixed {
        position: fixed;
    }
    >.loading-icon.icon-spin {
        -moz-animation-duration: 1.2s;
        -webkit-animation-duration: 1.2s;
        -o-animation-duration: 1.2s;
        -ms-animation-duration: 1.2s;
        animation-duration: 1.2s;
    }
}
