html,body{
	width:100%;
	height:100%;
}

.login-page{
	height:100%;
	/*background:url("../images/loginBg.jpg") no-repeat center center;
	background-size:cover;*/
}
.login-bg{
	position:fixed;
	top:0;
	left:0;
	right:0;
	bottom:0;
	z-index:-1;
}

.logo{
	text-align:center;
	margin-bottom:20%;
}

.logo-img{
	padding-top:35%;
	width:100%;
	height:120px;
}
.logo-img img{
	width:120px;
	height:120px;
}

.logo-title h3{
	color:#fff;
}

.mui-content{
	background:none;
}

.mui-content .mui-input-group{
	background:none;
	padding:20px 10%;
}
.mui-content .mui-input-group:before,.mui-content .mui-input-group:after{
	display:none;
}
.mui-content .mui-input-group .mui-input-row:after{
	display:none;
}
.mui-content .mui-input-group .mui-input-row{
	border-bottom:1px solid #fff;
	position:relative;
}
.mui-input-row label{
	width:10%;
	color:#fff;
	padding:11px 0;
}
.mui-content .mui-input-group .mui-input-row input{
	width:90%;
	color:#fff;
	padding:10px 15px 0px 0px;
}
.mui-input-row #toggle-view{
	position:absolute;
	right:15px;	
	top:10px;
}
.mui-input-row .mui-input-clear~.mui-icon-clear{
	color:#fff;
}
.mui-input-row:last-child>.mui-icon-clear{
	right:35px;
}
.mui-input-row #toggle-view .mui-icon:before{
	color:#fff;
}
.mui-content .mui-input-group .mui-input-row input::-webkit-input-placeholder{
	color:#fff;
}
.mui-content .mui-input-group .mui-content-padded{
	margin:0;
}

.mui-content-padded .mui-btn{
	border-color:#fff;
	padding:8px 0;
}
.link-area a{
	font-size: 16px;
	color:#fff;
	line-height:21px;
}
.mui-checkbox.mui-left input[type=checkbox]{
	left:0;
	top:0;
}
.mui-checkbox.mui-left input[type=checkbox]:before{
	font-size:20px;
}
.mui-checkbox input[type=checkbox]:checked:before{
	color:#fff;
}
.mui-checkbox.mui-left label{
	padding-left:20px;
	width:auto;
}
