.mui-htmlviewer {
	position: absolute;
	position: fixed;
	background-color: rgba(0, 0, 0, 0.9);
	width: 100%;
	height: 100%;
	z-index: 99;
	left: 0px;
	top: 0px;
	display: none;
	opacity: 0;
	-webkit-transition: all 0.6s ease-in-out;
	transition: all 0.6s ease-in-out;
	-webkit-transform-style: preserve-3d;
	-webkit-backface-visibility: hidden;
	overflow: hidden;
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

.mui-htmlviewer-mask {
	position: absolute;
	z-index: 11;
	width: 100%;
	height: 100%;
	left: 0px;
	top: 0px;
	display: none;
}

.mui-htmlviewer .mui-htmlviewer-header {
	position: absolute;
	height: 45px;
	width: 100%;
	left: 0px;
	top: 0px;
	z-index: 10;
	background-color: rgba(0, 0, 0, 0.5);
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

.mui-htmlviewer .mui-htmlviewer-state {
	display: block;
	width: 100%;
	height: 100%;
	line-height: 100%;
	color: #eee;
	text-align: center;
	font-size: 16px;
	padding: 15px;
}

.mui-htmlviewer .mui-htmlviewer-header .mui-htmlviewer-close {
	position: absolute;
	top: 5px;
	right: 5px;
	font-size: 32px;
	color: #aaa;
}

.mui-htmlviewer .mui-htmlviewer-header .mui-htmlviewer-close:active {
	color: #FF5053;
}

.mui-htmlviewer .mui-htmlviewer-item {
	width: 100%;
	height: 100%;
	left: 0px;
	top: 0px;
	position: absolute;
	z-index: 0;
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	-webkit-transition: -webkit-transform 500ms ease-in-out;
	transition: transform 500ms ease-in-out;
	display: table;
	overflow: hidden;
}

.mui-htmlviewer .mui-htmlviewer-item-center {
	-webkit-transform: translateX(0);
	transform: translateX(0);
}

.mui-htmlviewer .mui-htmlviewer-item-left {
	-webkit-transform: translateX(-100%);
	transform: translateX(-100%);
}

.mui-htmlviewer .mui-htmlviewer-item-right {
	-webkit-transform: translateX(100%);
	transform: translateX(100%);
}

.mui-htmlviewer .mui-htmlviewer-item span {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
	line-height: 100%;
	font-size: 100%;
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	overflow: auto;
}

.mui-htmlviewer .mui-htmlviewer-item img {
	backface-visibility: hidden;
	transform-origin: 50% 50% 0px;
	max-width: 100%;
}

.mui-htmlviewer-left, .mui-htmlviewer-right {
	position: absolute;
	z-index: 2;
	color: #aaa;
	top: 50%;
	margin-top: -18px;
	font-size: 36px;
}

.mui-htmlviewer-left {
	left: 5px;
}

.mui-htmlviewer-right {
	right: 5px;
}

.mui-htmlviewer-left:active, .mui-htmlviewer-right:active {
	color: #fff;
}

.mui-htmlviewer-content {
	position: absolute;
	background-color: white;
	padding: 10px;
	width : auto;
	height: auto;
	margin: 45px auto auto;
}
