.mui-input-group .mui-attach-row {
	height: auto;
	min-height: 38px;
}

.attach-container>.mui-table-view-cell>a {
	margin: 0px !important;/* 防止选中时标签漂移 */
    padding: 0px !important;
}

.attach-container, .mui-table-view-cell.mui-collapse .attach-container.mui-table-view {
	margin : 0px;
}


.attach-container>.mui-table-view-cell, .mui-table-view-cell.mui-collapse .attach-container.mui-table-view>.mui-table-view-cell {
	padding: 0px;
}

.attach-container>.mui-table-view-cell>a {
	margin: 0px;
	height: 38px;
    line-height: 38px;
}

.attach-container>.mui-table-view-cell .mui-collapse-content {
	padding: 0px;
	margin: 0px;
}

.attach-container .mui-button-row {
	height: auto;
	padding-top: 4px;
	padding-bottom: 2px;
}

.attach-button-row .mui-btn {
	width: auto;
	padding: 5px 7px;
	margin: 0px 0px 0px 6px;
}

.attach-button-row label.attach-picker {
	float: left;
	padding: 5px 7px;
}

.attach-button-row label.attach-picker>input.attach-picker {
	width: 50px;
	margin-top: -5px;
	margin-left: -7px;
}

.mui-table-view-cell.mui-collapse .attach-table-view.mui-table-view {
    margin : 0px;
}

.mui-table-view-cell.mui-collapse .attach-table-view.mui-table-view .mui-table-view-cell {
    padding: 4px 4px 0px;
}

.attach-table-view .attach-handler {
	width: 80%;
	height: auto;
/* 	color: #007aff; */
    font-size: 12px;
    word-break: break-word;
}

.attach-table-view .attach-handler>h4{
	margin: 0px;
    font-size: 14px;
	line-height: 1.5;
}


.attach-table-view .attach-handler>h5{
	margin: 0px;
    font-size: 12px;
    line-height: 1.2;
}

ul.attach-table-view>.mui-selected>.mui-badge {
	display: none;
}

.attach-table-view .mui-btn.btn-filedel {
	width: auto;
	font-size: 16px;
	padding: 2px 4px;
}

ul.attach-icon-view>li>.attach-handler:before {
    content: "";
    width: 38px;
    height: 34px;
    display: block;
    float: left;
	background: url("../../../resources/pt/images/file_type/unknown.gif") no-repeat;
}

ul.attach-icon-view>li[data-filename$=".pdf"]>.attach-handler:before {
	background: url("../../../resources/pt/images/file_type/pdf.gif") no-repeat;
}

ul.attach-icon-view>li[data-filename$=".txt"]>.attach-handler:before{
	background: url("../../../resources/pt/images/file_type/txt.gif") no-repeat;
}

ul.attach-icon-view>li[data-filename$=".rar"]>.attach-handler:before{
	background: url("../../../resources/pt/images/file_type/rar.gif") no-repeat;
}

ul.attach-icon-view>li[data-filename$=".zip"]>.attach-handler:before{
	background: url("../../../resources/pt/images/file_type/zip.gif") no-repeat;
}

ul.attach-icon-view>li[data-filename$=".doc"]>.attach-handler:before, ul.attach-icon-view>li[data-filename$=".docx"]>.attach-handler:before{
	background: url("../../../resources/pt/images/file_type/doc.gif") no-repeat;
}

ul.attach-icon-view>li[data-filename$=".xls"]>.attach-handler:before, ul.attach-icon-view>li[data-filename$=".xlsx"]>.attach-handler:before{
	background: url("../../../resources/pt/images/file_type/xls.gif") no-repeat;
}

ul.attach-icon-view>li[data-filename$=".ppt"]>.attach-handler:before, ul.attach-icon-view>li[data-filename$=".pptx"]>.attach-handler:before{
	background: url("../../../resources/pt/images/file_type/ppt.gif") no-repeat;
}

label.attach-picker {
	width: auto;
	margin: 6px;
	padding: 6px 15px;
	line-height: 100%;
	background: #007aff;
	border-radius: 3px;
	color: #fff;
	display: inline-block;
	cursor: pointer;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

label.attach-picker>input.attach-picker {
	padding: 0px;
	margin-top: -6px;
	margin-left: -15px;
	width: inherit;
	height: inherit;
	line-height: inherit;
	display: inline-block;
}