.pt-floatbotton {
	position: fixed;
	z-index: 9999;
	text-align: center;
	padding-top: 1px;
}
.btns-group{
	position:relative;
	height:40px;
	width:40px;
}

.btns-group>.pt-icon {
	position:absolute;
	top:0;
	left:0;
    border-radius: 1em;
    color: #FFFFFF;
    background-color: #3cbaff;
	font-size: 38px;
}

.btns-group>.pt-info {
	font-size: 40px;
	color: #FFFFFF;
    font-size: 44px;
    z-index:1000;
}


.pt-floatbotton.pt-rt {
	right: 30px;
	top: 75px;
}

.pt-floatbotton.pt-rm {
	width: 24px;
	height: 45px;
	line-height: 45px;
	right: 0px;
	top: 50%;
	background-color: #3cbaff;
}

.pt-floatbotton.pt-rm>.pt-info {
	font-size: 24px;
}

.pt-floatbotton.pt-rb {
	right: 30px;
	bottom: 40px;
}

.pt-v.pt-rb .operation{
	top:3px;
	left:5px;
	transition:left ease 0.5s
}
.pt-h.pt-rb .operation{
	top:3px;
	left:5px;
	transition:top ease 0.5s
}
.pt-c.pt-rb .operation{
	top:3px;
	left:5px;
	transition:top ease 0.5s,left ease 0.5s
}

.pt-v.pt-rb .pt-close.active{
	left:-50px;
}
.pt-v.pt-rb .pt-help.active{
	left:-100px;
}
.pt-v.pt-rb .mui-icon-reload.active{
	left:-150px;
}
.pt-h.pt-rb .pt-close.active{
	top:-50px;
}
.pt-h.pt-rb .pt-help.active{
	top:-100px;
}
.pt-h.pt-rb .mui-icon-reload.active{
	top:-150px;
}
.pt-c.pt-rb .pt-close.active{
	left:-80px;
}
.pt-c.pt-rb .pt-help.active{
	top:-55px;
	left:-55px;
}
.pt-c.pt-rb .mui-icon-reload.active{
	top:-80px;
}



.pt-floatbutton-help {
	position: fixed;
	background-color: white;
	z-index: 9998;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
}

.pt-floatbutton-help>.help-list {
	margin: 0px;
	padding: 10px;
}

.pt-floatbutton-help .help-text {
	color: #3cbaff;
	font-weight: bold;
	background-color: #e9ecf1;
}

.pt-floatbutton-help .help-info {
    margin: 5px 2px;
    color: rgba(63, 63, 63, 1);
    word-break: break-all;
    word-wrap: break-word;
}


.pt-floatbutton-help .help-text>.pt-icon {
	border-radius: 1em;
	color: white;
	background-color: #3cbaff;
}