body {
  /* 布局样式*/
  --w-layout-body-background: var(--w-gray-color-3); // #f0f2f5;
  --w-layout-header-background: var(--w-primary-color);
  --w-layout-header-color: #fff;
  --w-layout-footer-background: #fff;
  --w-layout-trigger-color: #fff;
  --w-layout-trigger-background: #002140;

  --w-layout-zero-trigger-width: 36px;
  --w-layout-zero-trigger-height: 42px;
  --w-layout-sider-background: var(--w-layout-header-background);
  --w-layout-zero-trigger-hover-background: tint(#488cee, 10%);
}
