//label&badge
.label {
	background-color: #d1dade;
	color: #5e5e5e;
	font-size: @font-sm;
	font-weight: normal;
	.padding(3,8);
	text-shadow: none
}

.badge {
	background-color: #d1dade;
	color: #5e5e5e;
	font-weight: normal;
	text-shadow: none;
	border-radius: 20px;
}

.badge-primary,.label-primary {
	background-color: @primary;
	color: @white
}

.badge-success,.label-success {
	background-color: @success;
	color: @white
}

.badge-warning,.label-warning {
	background-color: @warning;
	color: @white
}

.badge-warning-light,.label-warning-light {
	background-color: @warning-light;
	color: @white
}

.badge-danger,.label-danger {
	background-color: @danger;
	color: @white
}

.badge-info,.label-info {
	background-color: @info;
	color: @white
}

.badge-inverse,.label-inverse {
	background-color: @inverse;
	color: @white
}

.badge-white,.label-white {
	background-color: @white;
	color: @fontBaseColor;
}

.label-lg{
	font-size: @font-lg;
}
.label-md{
	font-size: @fontBaseSize;
}

.badge-md{
	font-size: @fontBaseSize;
}
.badge-lg{
	font-size: @font-lg;
}