.ant-drawer {
  --w-drawer-padding-lr: var(--w-padding-md);
  .ant-drawer-header {
    padding: 10px var(--w-drawer-padding-lr);

    .ant-drawer-close {
      width: 52px;
      height: 52px;
    }
    .ant-drawer-title {
      font-size: var(--w-font-size-base);
      color: var(--w-text-color-dark);
      line-height: 32px;
    }
  }

  .ant-drawer-body {
    padding: var(--w-padding-xs) var(--w-drawer-padding-lr);
  }
}

.pt-drawer {
  .ant-drawer-header {
    padding: var(--w-padding-xs) var(--w-drawer-padding-lr) var(--w-padding-2xs);
    border-bottom-color: transparent;
    .ant-drawer-title {
      font-weight: bold;
      line-height: 32px;
    }
  }
}
