/* Overlay styles */

*::selection { background-color: transparent; }
body, html { overflow: hidden; width: 800px; }
body::-webkit-scrollbar, html::-webkit-scrollbar { display: none; }
.help-block:empty { display: none; }

/* Toolbar styles */

.nav > li > a:focus { background-color: transparent; }
.nav-tabs { margin-bottom: 9px; }
.nav-tabs > li { font-size: 12px; }
.nav-tabs > li > a { outline-style: none; padding: 3px; }
.nav-tabs > li > a > span { background: url(images/toolbar.png) no-repeat 0 0; display: inline-block; height: 16px; margin-right: 2px; position: relative; top: 2px; width: 16px; }
.overlay-text > li > a > span { background-image: none; margin-right: 0; width: 0; }

/* Menu styles */

.tab-pane > ul, .tab-pane > ul > li > a, .tab-pane > ul > li > a > span { display: inline-block; }
.tab-pane > ul { margin-right: 25px; vertical-align: top; }
.tab-pane > ul > li > a { font-size: 13px; line-height: 20px; }
.tab-pane > ul > li > a > span { height: 16px; margin-right: 4px; position: relative; top: 2px; width: 16px; }
.tab-pane > ul > li > .active > span { background: url(images/feature.png) 0 0 no-repeat; }
.tab-pane > ul > li > .active:hover > span { background-position: 0 -16px; }

@media (-webkit-min-device-pixel-ratio: 1.5), (min-device-pixel-ratio: 1.5)
{
  .tab-pane > ul > li > .active > span { background-image: url(images/feature-2x.png); background-size: 16px 32px; }
}

/* Confirmation and notification styles */

#confirmation, #notification { display: none; margin: 5px; }
#confirmation > span { margin-right: 10px; }
#confirmation > .cancel { margin-right: 5px; }

