<div class="mui-input-row dyform-field-label">
	<label class="mui-ellipsis">${displayName}<font class="required-marker" color="red">*</font></label> <label
		class="dyform-field-label dyform-field-label-checkbox"></label>
</div>
<div class="mui-input-row dyform-field-editable">
	<ul class="mui-table-view checkbox-table-view">
		<li class="mui-table-view-cell mui-collapse mui-active"><a class="mui-navigate-right" href="#"> <label class="mui-ellipsis">${displayName}<font
					class="required-marker" color="red">*</font></label>
		</a>
			<div class="mui-collapse-content">
				<ul class="mui-table-view dyform-field-editable-checkbox">
				</ul>
			</div></li>
	</ul>
	<span class="dyform-field-error mui-hidden"></span>
</div>