<div class="mui-input-row input-row-odd">
	<label class="mui-ellipsis">${displayName}<font class="required-marker" color="red">*</font></label>
</div>
<div class="mui-input-row">
	<label class="dyform-field-label mui-hidden"></label>
	<form class="mui-numbox dyform-field-editable" action="" onsubmit="return false;">
		<button class="mui-btn mui-btn-numbox-minus" type="button">-</button>
		<input class="mui-input-numbox " type="text" value="${fieldValue}" name="${fieldName}" placeholder="请输入"/>
		<button class="mui-btn mui-btn-numbox-plus" type="button">+</button>
	</form>
	<span class="dyform-field-error mui-hidden"></span>
</div>