.w-tabs {
  .u-subsection {
    padding: var(--w-padding-2xs) var(--w-padding-xs);
    &.u-subsection--subsection,
    &.u-subsection--button {
      background-color: var(--w-bg-color-mobile-bg);

      .u-subsection__item {
        padding: 0 var(--w-padding-xs);
        .u-subsection__item__text {
          display: -webkit-box;
          overflow: hidden;
          white-space: normal !important;
          text-overflow: ellipsis;
          word-wrap: break-word;
          -webkit-line-clamp: 1;
          -webkit-box-orient: vertical;
          word-break: break-all;
          line-height: 30px;
        }
      }
    }
    &.u-subsection--subsection {
      height: 56px;
      .u-subsection__item {
        .u-subsection__item__text {
          line-height: 40px;
        }
      }
      .u-subsection__item--first {
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
      }
      .u-subsection__item--last {
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
      }
      .u-subsection__item {
        // background-color: var(--w-fill-color-base);
      }
    }

    &.u-subsection--button {
      height: 44px;
      .u-subsection__item {
        .u-subsection__item__text {
          line-height: 30px;
        }
      }
    }
  }
  .uni-w-subsection {
    &.uni-w-subsection--subsection {
      margin: var(--w-margin-xs) var(--w-margin-xs);
    }
    &.uni-w-subsection--button {
      margin: var(--w-margin-2xs) var(--w-margin-xs);
    }
  }
}
