.widget-modal {
  .footer-align-center .ant-modal-footer {
    text-align: center;
  }

  .footer-align-left .ant-modal-footer {
    text-align: left;
  }

  .ant-modal-body {
    .widget-dyform-setting .widget-dyform-setting-content {
      margin: 0;

      > .ps {
        > .widget-dyform {
          padding: 0 !important;
        }
      }
    }
  }
  .fullscreen-btn {
    --w-button-font-color: var(--w-text-color-light);
    --w-button-font-color-hover: var(--w-text-color-base);
    --w-button-font-color-active: var(--w-text-color-base);
  }
}
