@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?87i17o');
  src:  url('fonts/icomoon.eot?87i17o#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?87i17o') format('truetype'),
    url('fonts/icomoon.woff?87i17o') format('woff'),
    url('fonts/icomoon.svg?87i17o#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

/*[class^="icon-"], [class*=" icon-"]*/ .icon-icomoon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.mui-icon {
  font-family: Muiicons, 'icomoon';
}

.icon-visible:before {
  content: "\e929";
}
.icon-unviewable:before {
  content: "\e92a";
}
.icon-recent-notice:before {
  content: "\e926";
}
.icon-notice:before {
  content: "\e927";
}
.icon-all-notice:before {
  content: "\e928";
}
.icon-all:before {
  content: "\e922";
}
.icon-new:before {
  content: "\e923";
}
.icon-oversee:before {
  content: "\e924";
}
.icon-receiving:before {
  content: "\e925";
}
.icon-audit:before {
  content: "\e900";
}
.icon-biniess:before {
  content: "\e901";
}
.icon-contactList:before {
  content: "\e902";
}
.icon-copy:before {
  content: "\e903";
}
.icon-done:before {
  content: "\e904";
}
.icon-draft:before {
  content: "\e905";
}
.icon-draft1:before {
  content: "\e906";
}
.icon-editor:before {
  content: "\e907";
}
.icon-entrust:before {
  content: "\e908";
}
.icon-file-libary:before {
  content: "\e909";
}
.icon-focus:before {
  content: "\e90a";
}
.icon-inbox:before {
  content: "\e90b";
}
.icon-launchwork:before {
  content: "\e90c";
}
.icon-log:before {
  content: "\e90d";
}
.icon-logstatistical:before {
  content: "\e90e";
}
.icon-logview:before {
  content: "\e90f";
}
.icon-modifypossword:before {
  content: "\e910";
}
.icon-monitor:before {
  content: "\e911";
}
.icon-newFile:before {
  content: "\e912";
}
.icon-outbox:before {
  content: "\e913";
}
.icon-over:before {
  content: "\e914";
}
.icon-personalCenter:before {
  content: "\e915";
}
.icon-personalinformation:before {
  content: "\e916";
}
.icon-presstodo:before {
  content: "\e917";
}
.icon-publicContact:before {
  content: "\e918";
}
.icon-readed:before {
  content: "\e919";
}
.icon-recentContact:before {
  content: "\e91a";
}
.icon-recentEditor:before {
  content: "\e91b";
}
.icon-recyclingBins:before {
  content: "\e91c";
}
.icon-search:before {
  content: "\e91d";
}
.icon-searchfile:before {
  content: "\e91e";
}
.icon-sender:before {
  content: "\e91f";
}
.icon-waittodo:before {
  content: "\e920";
}
.icon-waittoread:before {
  content: "\e921";
}
