<div class="data-import">
  <div class="data-import-header bgc-fafafa">
    <div class="header-title">
      <span class="header-title-text"></span>
      <span>
        (
        <span class="header-title-time"></span>
        )
      </span>
    </div>
    <div class="header-btn pull-right">
      <button type="button" class="well-btn w-btn-primary w-line-btn btn_close">关闭</button>
    </div>
  </div>
  <div class="data-import-body">
    <div class="import-title">
      <span class="c-488cee iconfont icon-ptkj-qukuaibiaotitubiao"></span>
      基本信息
    </div>
    <div class="data-import-info"></div>
    <div class="import-title data-import-result-title">
      <span class="c-488cee iconfont icon-ptkj-qukuaibiaotitubiao"></span>
      <span class="import-title_1">导入结果</span>
      <span class="import-status ml10"></span>
    </div>
    <div class="data-import-result"></div>
    <div class="import-title">
      <span class="c-488cee iconfont icon-ptkj-qukuaibiaotitubiao"></span>
      日志信息
    </div>
    <div class="data-import-log"></div>
  </div>
</div>
