.design-move-item {
  position: absolute;
  display: flex;
  cursor: move;
  &:hover {
    outline: 1px dashed var(--w-primary-color);
  }
  &.selected {
    outline: 1px solid var(--w-primary-color);
  }
}
