.wcfg-item-mixin() {
  padding-left: 20px;
  padding-right: 20px;
}
.wcfg-item {
  .wcfg-item-mixin;
}
.wcfg-select-item {
  .wcfg-item-mixin;

  .table-header-operation {
    margin-bottom: 12px;
  }
}
.wcfg-select-dict-tips {
  padding-bottom: 10px;
  span {
    display: block;
    color: #999;
  }
}
.wcfg-select-dict {
  margin-top: 10px;
  margin-bottom: 10px;
}
.wcfg-select-tree-label {
  padding-top: 10px;
  padding-bottom: 10px;
}
