// 预览面板
.theme-checkbox-base {
  .checkbox_hover {
    color: var(--w-checkbox-text-color-hover);
    font-size: var(--w-checkbox-text-size-hover);
    font-weight: var(--w-checkbox-text-weight-hover);

    .ant-checkbox-inner {
      border-color: var(--w-checkbox-color-hover);
    }
  }
}
