/** 密码规则管理 */
.password_rule_form .form-group {
  margin-bottom: @margin-sm;
}

.form-widget .password-rule-line {
  margin-bottom: @margin-sm;
  font-size: @font-size-base;
  color: @text-color;

  &:not(:last-of-type) {
    padding-left: @margin-sm;
  }
}

.form-widget .textHide {
  display: none;
}

.password_rule_form span {
  color: @text-color;
}

.password_rule_form .error,
.pwd-dialog .error {
  display: none;

  &:before {
    margin-right: @margin-2xs;
  }
}

.pwd-rule-errorTips {
  width: 190px;
  display: inline-block;
  vertical-align: top;
}

.w140 {
  width: 140px;
}

.form-vertical .control-label,
.form-vertical .control-label + div {
  float: none;
  width: 100%;
  color: @text-color;
  font-weight: normal;
}

.form-vertical .error {
  display: none;
}

.form-vertical .reset-pwd-tips {
  padding: 0 @padding-md;
  box-sizing: border-box;
}

.pwd-rule-title {
  position: relative;
  height: 34px;
  line-height: 34px;
  padding-left: 10px;
  margin-bottom: 10px;
  color: @text-color-dark;
  font-weight: bold;
  font-size: @font-size-lg;

  &:before {
    .absolute(50% false false 0);
    .size(@title-decoration-width @title-decoration-height);

    content: '';
    margin-top: (-@title-decoration-height / 2);
    display: block;
    background: @primary-color;
    border-radius: (@title-decoration-width / 2);
  }

  span.ml20 {
    color: @text-color;
    font-weight: normal;
    font-size: @font-size-base;

    span {
      color: @link-color;
      margin-left: 10px;
      text-decoration: underline;
      cursor: pointer;
    }
  }
}

.pwd-rule-odd {
  padding: @padding-2xs 0;
  background: @background-light;
}

.user-detail-add {
  display: none;
}

.password_rule_form .w-tooltip .w-tooltip-content {
  width: 250px;
}

.password_rule_form .w-tooltip .w-tooltip-content {
  &.ruleTips {
    width: 600px;
    max-width: 600px;
    top: 35px;
    left: -300px;
    &:before {
      top: -10px;
      left: 300px;
      border-bottom: 10px solid #fff;
      border-left: 9px solid transparent;
      border-right: 9px solid transparent;
      border-top: initial;
    }
    p {
      color: #666;
      line-height: 1;
    }
  }
}
.password_rule_form .rule-table {
  thead tr {
    background-color: #abc6f8;
  }
  tr td,
  tr th {
    color: #666;
    border: 1px solid #666;
    padding: 5px;
    box-sizing: border-box;
    text-align: center;
  }
  tr td:nth-of-type(4) {
    text-align: left;
  }
}
.password_rule_form .well-form-control .switch-other {
  margin-top: 7px;
  &.active {
    margin-top: 0;
  }
}
