// 预览面板
.theme-radio-base {
  .radio_hover {
    span.ant-radio+* {
      color: var(--w-radio-text-color-hover);
      font-size: var(--w-radio-text-font-size-hover);
      font-weight: var(--w-radio-text-font-weight-hover);
    }

    .ant-radio {
      .ant-radio-inner {
        border-color: var(--w-radio-border-color-hover);
      }
    }
  }
}
