.disabled {
  color: @disabled-text-color;
  pointer-events: none;
}

.cursor-pointer {
  cursor: pointer;
}

.block-center {
  margin: 0 auto;
}

.bg-center {
  background-position: center center;
  background-size: cover;
}

.inline-block {
  display: inline-block;
}

.inline {
  display: inline-block;
  width: auto;
}

.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.flex {
  display: flex;
}

.vertical-mid {
  vertical-align: middle;
}

.relative,
.position-relative {
  position: relative;
}

.clear-both {
  clear: both;
}

/** 阴影 */
.box-shadow {
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
