.widget-form-input-number {
  .hiddenStep>.ant-input-number-handler-wrap {
    display: none;
  }

  .ant-input-group-compact {
    &:has(> button) {
      display: inline-flex;
      align-items: center;
      vertical-align: middle;
    }
  }
}
