/* 文件夹 */
#dms_folder_assign_role_list {
  .editable-buttons {
    margin-left: 10px;
    margin-top: 4px;
    .btn {
      min-width: 36px;
      margin-right: 0;
      padding-left: 5px;
      padding-right: 5px;
    }
  }
}
