/* 配置页 部分按钮 */
.my-del-btn {
  cursor: pointer !important;
  color: @text-color-inverse!important;
  text-align: center !important;
  background-color: @btn-primary-background-color!important;
  min-width: unset;
  padding: 5px 8px !important;
  &:hover {
    background-color: @btn-primary-hover-background-color!important;
  }
}
