/* 下拉框组件 - 其他字段映射 */
#div_ds_field_map_info_toolbar {
  display: block;
  background-color: @white;
  height: 34px;
  line-height: 34px;
}

.table_ds_field_map {
  thead tr th {
    background-color: @primary-color!important;
    height: 36px;
    .th-inner {
      color: @text-color-inverse!important;
      input[type='checkbox'] + label::before {
        color: @text-color-inverse!important;
      }
    }
  }
}
