.dyform {
  table.table-condensed {
    td input[type='checkbox']+label {
      padding-left: 0;
    }
  }

  #table_docExcUrgeTable_info {
    td input[type='checkbox']+label {
      padding-left: 2px;
    }
  }

  // 消息格式 --- 基本信息
  #msg-format-tabs-1 {
    table {
      td input[type='checkbox']+label {
        padding-left: 0;
      }
    }
  }

  // 上传附件 - 图标视图
  table.block-design {
    .fileContainer {
      li input[type='checkbox']+label {
        padding-left: 0;
        margin-left: 10px;
        margin-right: 0px;
      }
    }
  }

  // 单选框控件  备选项设置
  #dataOptsList th {
    color: @text-color-inverse;

    i {
      color: @text-color-inverse;
    }
  }
}
