<div class="holiday_arrangement">
  <div class="holiday_arrangement_left" style="padding-bottom: 20px">
    <ul class="nav nav-tabs" role="tablist">
      <li role="presentation" class="active">
        <a href="#currYear" role="tab" data-toggle="tab" aria-controls="tab-0" aria-expanded="true">当年</a>
      </li>
      <li role="presentation">
        <a href="#historyYear" role="tab" data-toggle="tab" aria-controls="tab-1" aria-expanded="true">历年</a>
      </li>
    </ul>
    <div class="tab-content" style="padding: 0">
      <div role="tabpanel" class="tab-pane active" id="currYear"></div>
      <div role="tabpanel" class="tab-pane" id="historyYear"></div>
    </div>
  </div>
  <div class="holiday_arrangement_right">
    <div class="btn-save-holiday">
      <button class="well-btn w-btn-primary">
        <i class="iconfont icon-ptkj-baocun"></i>
        保存
      </button>
    </div>
    <button type="button" class="well-btn w-btn-primary addHoliday">
      <i class="iconfont icon-ptkj-jiahao"></i>
      添加节假日
    </button>
    <div class="holiday-content"></div>
  </div>
</div>
