.login-basic-center {
  position: absolute;
  top: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: e('calc(100%)');
  height: e('calc(100%)');
  background-size: cover;

  --w-input-border-radius: 0;
  --w-height-md: 44px;
  --w-acc-login-input-border-width: 0px;
  --w-button-height-lg: 44px;
  --w-acc-login-title-bar-margin-bottom: 40px;

  .login-win {
    width: 420px;
    min-height: 300px;
    padding: 40px;
    position: relative;
    > .title-bar {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: var(--w-acc-login-title-bar-margin-bottom);

      .ql-editor {
        position: relative;
        width: auto;
      }
    }

    > .ant-tabs {
      .ant-tabs-tab {
        line-height: 32px;
        --w-tab-font-size: e('calc(var(--w-font-size-base) + 4px)');
        color: var(--w-text-color-base);
        padding: 0 0 12px;
      }
      .ant-tabs-tab-active {
        color: var(--w-primary-color);
      }
      .ant-tabs-ink-bar-animated {
        background-color: var(--w-primary-color);
      }

      > .ant-tabs-bar {
        border-bottom: unset;
        margin-bottom: 24px;
      }
      .acct-login-tab {
        > .rowInput {
          .row {
            margin-bottom: 24px;
            &:last-child {
              margin-bottom: 32px;
            }
            > .ant-input-affix-wrapper {
              &:hover,
              &:focus {
                > .ant-input-prefix {
                  > i {
                    color: var(--w-primary-color);
                  }
                }
              }
            }

            input {
              border-top-width: var(--w-acc-login-input-border-width);
              border-left-width: var(--w-acc-login-input-border-width);
              border-right-width: var(--w-acc-login-input-border-width);
              &:hover,
              &:active,
              &:focus {
                border-top-width: var(--w-acc-login-input-border-width);
                border-left-width: var(--w-acc-login-input-border-width);
                border-right-width: var(--w-acc-login-input-border-width) !important;
                border-color: var(--w-primary-color);
                box-shadow: none;
              }
            }
          }
        }
        > .row {
          margin-bottom: 20px;
        }
      }

      .acct-pwd-reg-forget-link-row {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
    }

    .ant-btn {
      &-primary {
        background-color: var(--w-primary-color);
        border-color: var(--w-primary-color);
      }

      &-primary:hover,
      &-primary:focus,
      &-primary:active {
        color: #fff;
        background-color: var(--w-primary-color-5);
        border-color: var(--w-primary-color-5);
      }
    }

    .ant-checkbox-checked .ant-checkbox-inner {
      background-color: var(--w-primary-color);
      border-color: var(--w-primary-color);
    }
    .ant-alert-error {
      color: #bb0a0a;
      .ant-alert-message {
        color: rgba(255, 0, 0, 0.733);
      }
    }
  }
}
