/** 文件夹目录维护组件 */

.ui-wFileLibrary {
  background: @component-background;

  // - 文件夹目录维护组件 -  标题
  .ui-wFileLibrary-title {
    font-size: @font-size-lg;
    color: @text-color-dark;
    line-height: 1;
    padding: 10px 12px;
    position: relative;

    // - 标题装饰线
    &:before {
      .absolute(10px false false 0);
      .size(@title-decoration-width, @title-decoration-height);

      content: '';
      display: block;
      background: @title-decoration-color;
      border-radius: @title-border-radius;
    }
  }
}

// - 文件夹目录维护组件 - 覆盖 `bootstrap-table` 样式
.ui-wFileLibrary {
  .fixed-table-container .fixed-table-body table tbody > tr.selected > td {
    background-color: @background-light;
  }

  .bootstrap-table .fixed-table-toolbar .bs-bars {
    width: auto;
    margin-bottom: @margin-sm;
  }

  .fixed-table-header table {
    table-layout: fixed;

    thead tr {
      background: @background-light;
    }
  }

  .fixed-table-body {
    overflow-x: hidden !important;

    table {
      table-layout: fixed;

      thead {
        tr {
          background: @background-light;

          th {
            border-left: 0;
            font-size: @font-size-sm;
            vertical-align: middle;
            color: @text-color-dark;
            font-weight: normal;
            border-right: @border-default;
            border-bottom: 0;

            &:last-child {
              border-right: 0;
            }
          }

          > .nav-tag-dot-inner {
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            color: @text-color;
            background: @component-background;
            vertical-align: middle;
            line-height: 34px;
            padding: 4px 8px 3px !important;
            border-right: @border-default;
            border-bottom: @border-default;
          }
        }
      }
    }
  }
}

.dyform .ui-wFileLibrary .bootstrap-table .columns-right button {
  margin-right: 0;
}

form .ui-wFileLibrary .bootstrap-table {
  margin-top: 0;
}

.ui-wFileLibrary .tree-icon {
  color: @text-color-light;
}

.ui-wFileLibrary .bs-checkbox input[type='checkbox'] {
  display: none;

  + label {
    vertical-align: baseline;
    margin-bottom: 0;
    float: initial;
    font-size: @font-size-base;
    color: @text-color;
    font-family: iconfont !important;
    font-weight: normal;

    &:before {
      content: '\e8f2';
    }
  }

  &:checked + label:before {
    content: '\e8de';
    color: @text-color-primary;
  }
}

.ui-wFileLibrary .bs-checkbox input[disabled] + label:before {
  color: @disabled-text-color !important;
}
