#dingtalk_form .fieldText {
  height: @height-md;
  line-height: @height-md;
  padding-left: @padding-xs;
  color: @text-color;
}

.msgLinkTable {
  table-layout: fixed;

  td {
    .text-overflow();
  }
}

.dingtalk-container .ui-wBootstrapTable .fixed-table-container .fixed-table-body table tbody > tr {
  cursor: initial;
}
