/*公共样式*/
label.error {
  color: #e33033;
  font-size: 14px;
  font-weight: normal;
  min-width: 150px;
}
/*表单编辑页*/
.form-widget .form-horizontal .form-group {
  margin-left: 0;
  margin-right: 0;
}
form .bootstrap-table {
  margin-top: 20px;
}
.form-widget .title,
.form-widget .table-title {
  position: relative;
  padding-left: 15px;
  margin-bottom: 10px;
  color: #333;
  font-size: 18px;
  line-height: 30px;
}
.form-widget .title:before,
.form-widget .table-title:before {
  content: '';
  position: absolute;
  top: 7px;
  left: 0;
  width: 4px;
  height: 16px;
  background: #488cee;
  border-radius: 2px;
}
.form-widget .form-table > li {
  padding-bottom: 30px;
}
.form-widget.form-bordered {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 10px;
  box-sizing: border-box;
}
.dev_table_widget .show_0 {
  background: url('../../../pt/img/star-on.png');
  background-size: 100% 100%;
}
.dev_table_widget .show_1 {
  background: url('../../../pt/img/star-off.png');
  background-size: 100% 100%;
}
.dev_table_widget .show_1,
.dev_table_widget .show_0 {
  display: inline-block;
  height: 15px;
  width: 16px;
  text-indent: -9999px;
  padding-right: 0;
  margin-top: 5px;
}
.dyform table td label.error,
.sys_log_list .loglevel_error {
  color: #e33033;
}
.sys_log_list .loglevel_warn {
  color: #eaa900;
}
.sys_log_list .loglevel_info {
  color: #488cee;
}
.form-widget .form-group .well-form-control.w-h35 {
  height: 35px;
  line-height: 35px;
}
.form-widget .form-horizontal .form-group .control-label,
.form-widget .form-table .control-label {
  font-weight: 400;
  font-size: 14px;
  color: #666;
}
.form-widget input[type='checkbox'],
.form-widget input[type='radio'] {
  display: none;
}
.form-widget input[type='radio'] + label,
.form-widget input[type='checkbox'] + label {
  padding-top: 0;
  color: #666;
  font-weight: normal;
  font-size: 14px;
  margin-bottom: 0;
  height: 35px;
  line-height: 35px;
  margin-right: 20px;
  font-family: 'iconfont' !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.form-widget .ztree_check_all_div input[type='radio'] + label,
.form-widget .ztree_check_all_div input[type='checkbox'] + label {
  height: auto;
  margin: 10px 0;
}

.form-widget .bs-checkbox input[type='checkbox'] + label {
  height: auto;
  line-height: 1;
  margin-right: 0;
}
.form-widget .bs-checkbox input[type='checkbox'] + label:before {
  margin-right: 0;
}
.form-widget input[type='radio']:checked + label:before {
  content: '\e8d6';
  color: #488cee;
}
.form-widget input[type='radio'] + label:before {
  content: '\e8db';
  color: #999;
}
.form-widget input[type='checkbox']:checked + label:before {
  content: '\e8de';
  color: #488cee;
}
.form-widget input[type='checkbox'] + label:before {
  content: '\e8f2';
  color: #999;
}
.form-widget input[type='radio'] + label:before,
.form-widget input[type='checkbox'] + label:before {
  margin-right: 8px;
  font-size: 14px;
  font-family: iconfont !important;
}
.form-widget input[type='radio'][disabled='disabled'] + label,
.form-widget input[type='checkbox'][disabled='disabled'] + label {
  color: #ccc;
  cursor: not-allowed;
}
.form-widget input[type='radio'][disabled='disabled'] + label:before,
.form-widget input[type='checkbox'][disabled='disabled'] + label:before {
  color: #ccc;
}
.form-widget .role-actions-item {
  margin-bottom: 15px;
}
.form-widget .role-actions-item input[type='checkbox'] + label {
  position: relative;
  padding-left: 22px;
  width: 31%;
  margin-right: 2%;
  height: auto;
  line-height: 20px;
  vertical-align: middle;
}
.form-widget .role-actions-item input[type='checkbox'] + label:before {
  position: absolute;
  left: 0;
}

.form-widget input[type='file'] {
  border: none;
  box-shadow: none;
  outline: none;
}
#infoDetailContainer pre {
  background: transparent;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid #eee;
  padding: 10px 0;
}

/* 消息格式*/
.msg-content-list {
  clear: both;
}
.msg-content-list .panel-body .tab-content {
  padding: 0;
}
.msg-content-list .ui-wHtml {
  float: left;
  width: 230px;
  /*overflow: hidden;*/
}
.msg-content-list .ui-wBootstrapTable {
  float: left;
  width: calc(100% - 250px);
  margin-left: 20px;
  overflow: hidden !important;
}
.msg-category-content {
  width: 220px;
  height: 100%;
  border-right: 1px solid #ddd;
  padding-top: 10px;
  position: relative;
}
.msg-category-content .msg-category-wrap {
  height: calc(100% - 45px);
}
.msg-category-content .msg-category-folder {
  position: absolute;
  top: 250px;
  right: -12px;
  width: 12px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  background: rgba(232, 232, 232, 1);
  border-radius: 0px 12px 12px 0px;
}
.msg-category-content .msg-category-folder i {
  font-size: 10px;
  color: #666;
  cursor: pointer;
}
.msg-category-content .input-box {
  position: relative;
  width: calc(100% - 20px);
  margin: 0 auto 10px;
}
.msg-category-content .input-box input {
  padding-right: 45px;
}
.msg-category-content .input-box i {
  position: absolute;
  font-size: 20px;
  right: 7px;
  top: 7px;
  line-height: 1;
  color: #999;
  cursor: pointer;
}
.msg-category-content .input-box i + i {
  display: none;
  right: 30px;
  top: 9px;
  font-size: 16px;
}
.msg-category-content .input-box i:hover {
  color: #488cee;
}

.msg-category-list {
  margin-top: 15px;
}

.msg-category-list .add-msg-category {
  position: absolute;
  right: 10px;
  top: 3px;
  font-size: 20px;
  color: #488cee;
  width: 24px;
  height: 24px;
  display: block;
  border: 1px solid #ddd;
  line-height: 22px;
  border-radius: 50%;
  box-sizing: border-box;
  text-align: center;
  cursor: pointer;
}
.msg-category-list .msg-category-title {
  line-height: 30px;
  color: #666;
  position: relative;
  font-size: 0;
  height: 30px;
}
.msg-category-list .msg-category-title span {
  font-size: 14px;
  vertical-align: middle;
  cursor: pointer;
}
.msg-category-list .msg-category-title .icon-folders {
  color: #ccc;
  font-size: 14px;
  vertical-align: middle;
  cursor: not-allowed;
}
.msg-category-list .msg-category-title .icon-folders.hasList {
  color: #999;
  cursor: pointer;
}
.msg-category-list .msg-category-title .icon-folders + i {
  color: #488cee;
  margin: 0 5px 0 2px;
  font-size: 18px;
  vertical-align: middle;
}
.msg-category-list .msg-category-item {
  position: relative;
  padding: 5px 5px 5px 43px;
  transition: all 0.3s;
  cursor: pointer;
}
.msg-category-list .msg-category-item.hasSelectCate {
  background: rgba(72, 140, 238, 0.15);
}
.msg-category-list .msg-category-item:hover {
  background: rgba(72, 140, 238, 0.15);
}
.msg-category-item span {
  vertical-align: middle;
  font-size: 14px;
  color: #666;
}
.msg-category-item span.msg-category-text {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: calc(100% - 46px);
  display: inline-block;
}
.msg-category-item.msg-category-subject span {
  display: inline-block;
  max-width: 120px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.msg-category-item span:first-of-type {
  display: inline-block;
  width: 24px;
  height: 24px;
  line-height: 24px;
  margin-right: 8px;
  border-radius: 50%;
  color: #fff;
  text-align: center;
}
.msg-category-item .msg-badge {
  float: right;
  min-width: 20px;
  height: 20px;
  margin-top: 2px;
  vertical-align: middle;
  border-radius: 10px;
  color: #fff;
  background: #e33033;
  text-align: center;
  padding: 0 4px;
  box-sizing: border-box;
}
.msg-category-item .icon-operate {
  display: none;
  float: right;
  height: 34px;
  font-size: 14px;
  color: #488cee;
  cursor: pointer;
  vertical-align: middle;
}
.msg-category-list .msg-category-item:hover .icon-operate {
  display: inline-block;
}
.msg-category-item .category-item-operate {
  padding: 5px 0;
  position: absolute;
  right: 0;
  top: 34px;
  display: none;
  width: 110px;
  height: 90px;
  background: #fff;
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.15);
  color: #488cee;
  z-index: 10;
}
.msg-category-item .category-item-operate:before {
  content: '';
  display: block;
  position: absolute;
  top: -8px;
  right: 5px;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid #fff;
}
.msg-category-item.detail-up .category-item-operate {
  top: -90px;
}
.msg-category-item.detail-up .category-item-operate:before {
  top: initial;
  bottom: -8px;
  border-top: 8px solid #fff;
  border-bottom: 0;
}
.msg-category-item .icon-operate:hover + .category-item-operate,
.msg-category-item .category-item-operate:hover {
  display: block;
}

.msg-category-item .category-item-operate li {
  padding: 10px 0 10px 15px;
  font-size: 14px;
  cursor: pointer;
}
.msg-category-item .category-item-operate li:hover {
  background: rgba(72, 140, 238, 0.15);
}
.msg-category-item .category-item-operate li i {
  margin-right: 5px;
}
.icon-bg-wrap {
  font-size: 0;
  position: relative;
  display: inline-block;
  vertical-align: middle;
}
.icon-bg-wrap .currBg {
  display: inline-block;
  padding: 4px;
  width: 34px;
  height: 34px;
  border: 1px solid #ccc;
  vertical-align: top;
  cursor: pointer;
}
.icon-bg-wrap .currBg > div {
  width: 100%;
  height: 100%;
  background: #488cee;
}
.icon-bg-wrap .bg-choose-list {
  position: absolute;
  top: 0;
  left: 34px;
  padding: 4px;
  display: none;
  width: 118px;
  border: 1px solid #ddd;
  font-size: 0px;
  box-sizing: border-box;
  background: #fff;
}
.icon-bg-wrap .bg-choose-list li {
  background: #ddd;
  display: inline-block;
  width: 24px;
  height: 24px;
  line-height: 24px;
  margin-bottom: 4px;
  cursor: pointer;
  border: 1px solid #eee;
  text-align: center;
  vertical-align: middle;
}
.icon-bg-wrap .bg-choose-list li i {
  display: none;
  color: #fff;
}
.icon-bg-wrap .bg-choose-list li.hasChoose {
  background: #488cee;
}
.icon-bg-wrap .bg-choose-list li:not(:nth-of-type(4n)) {
  margin-right: 4px;
}
.icon-bg-wrap .bg-choose-list li.hasChoose i {
  display: inline-block;
}
.icon-bg-wrap .bg-choose-list .bg-choose-more {
  color: #666;
  font-size: 14px;
  text-align: right;
}
.icon-bg-wrap .bg-choose-list .bg-choose-more:hover {
  color: #488cee;
  cursor: pointer;
}

.icon-bg-wrap .minicolors-input {
  display: none;
  opacity: 0;
  filter: alpha(opacity=0);
}
.icon-bg-wrap .minicolors .minicolors-swatch {
  opacity: 0;
  filter: alpha(opacity=0);
}
.icon-bg-wrap .minicolors .minicolors-panel {
  display: block;
  top: -34px;
  left: 34px;
}
.icon-bg-wrap .show-more-color {
  border-color: transparent;
}

/*打印模板*/
.print-content-list .ui-wBootstrapTable {
  float: left;
  width: calc(100% - 670px);
  margin-left: 12px;
  overflow: hidden !important;
}
.print-content-list .ui-wHtml-detail {
  float: left;
  width: 418px;
  margin-left: 10px;
}
.print-category-content .msg-category-item .msg-category-text {
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: calc(100% - 70px);
}
.print-category-content .msg-category-item .icon-operate {
  height: 24px;
}

.print-category-content .msg-category-item {
  padding-left: 15px;
}
.print-category-content .msg-category-item-1 {
  padding-left: 46px;
}
.print-category-content .msg-category-item-2 {
  padding-left: 76px;
}
.print-category-content .msg-category-item-3 {
  padding-left: 106px;
}
.print-category-content .msg-category-item-4 {
  padding-left: 136px;
}
.print-category-content .msg-category-item-5 {
  padding-left: 166px;
}
/*套打模板*/
.choose-print-template {
  width: 100%;
  height: 340px;
  border: none;
}
.choose-print-template .msg-category-item {
  padding-left: 24px;
}
.choose-print-template .msg-category-item-1 {
  padding-left: 68px;
}
.choose-print-template .msg-category-item-2 {
  padding-left: 90px;
}
.choose-print-template .msg-category-item-3 {
  padding-left: 112px;
}
.choose-print-template .msg-category-item-4 {
  padding-left: 134px;
}
.choose-print-template .msg-category-item-5 {
  padding-left: 156px;
}
.choose-print-template .msg-category-item span.button.ico_close {
  width: 16px;
  height: 16px;
  display: inline-block;
  border-radius: 0;
  background-image: url('../image/well_tree_icon.png');
  background-repeat: no-repeat;
  background-position: -143px 0;
  margin-right: 8px;
}

.choose-print-template .msg-category-item .slide_icon {
  color: #999;
  font-size: 14px;
  cursor: pointer;
  margin-right: 0;
}
.choose-print-template .msg-category-item .slide_icon .iconfont {
  font-size: 14px;
}
.choose-print-template .msg-category-item .msg-category-text {
  width: calc(100% - 80px);
  color: #666;
  text-align: left;
  border-radius: unset;
}
.choose-print-template-box {
  border: 1px solid #e8e8e8;
}
.choose-print-template-box .input-box {
  background-color: #f6f6f6;
  padding: 8px 200px 8px 10px;
  position: relative;
}
.choose-print-template-box .input-box i {
  position: absolute;
  font-size: 20px;
  right: 207px;
  top: 16px;
  line-height: 1;
  color: #999;
  cursor: pointer;
}
.choose-print-template-box .input-box i + i {
  display: none;
  right: 237px;
  top: 18px;
  font-size: 16px;
}
.choose-print-template-box .form_operate {
  margin: 0px;
  padding: 0px 0px 0px 10px;
  height: 34px;
  line-height: 34px;
  background-color: #f6f6f6;
  border-top: 1px solid #e8e8e8;
}

.choose-print-template-box .form_operate button {
  color: #488cee;
}
