@import './dyform-design.less';
@import './custom-admin-style.less';
@import './layout4tab.less';
@import './table4th.less';
@import './multi-org.less';

.dyform .tab-design {
  border: 1px dotted red;
  padding: 10px;
}

.dyform .subtab-design {
  border: 1px dotted green;
  padding: 10px;
}


.drop_focus_td {
  border: 2px dotted red !important;
}
