// 组织选择控件 专有属性

#typeListSelectAll,
#typeListCancelSelectAll {
  height: @height-3xs;
  margin: 0;
  line-height: 0;
  color: @text-color-inverse;
  background-color: @primary-color!important;
  width: 50px !important;
  text-align: center;

  &:hover {
    outline: none;
    box-shadow: none;
    background-color: @btn-primary-hover-background-color!important;
  }
}
