<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p" xmlns:cache="http://www.springframework.org/schema/cache"
       xsi:schemaLocation="
            http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
            http://www.springframework.org/schema/cache http://www.springframework.org/schema/cache/spring-cache-3.2.xsd"
       default-lazy-init="true">

    <bean id="keyGenerator" class="com.wellsoft.pt.cache.CustomKeyGenerator"></bean>
    <cache:annotation-driven cache-manager="cacheManager" key-generator="keyGenerator"/>
    <bean id="cacheManager" class="com.wellsoft.pt.cache.CacheManagerImpl">
        <!-- <property name="cacheManager" ref="compositeCacheManager" /> -->
        <property name="cacheManager" ref="ehCacheManager"/>
        <!-- <property name="cacheManager" ref="concurrentMapCacheManager" /> -->
        <!-- <property name="cacheManager" ref="memcachedCacheManager" /> -->
    </bean>

    <!-- CompositeCache Manager -->
    <bean id="compositeCacheManager" class="org.springframework.cache.support.CompositeCacheManager">
        <property name="cacheManagers">
            <list>
                <ref bean="ehCacheManager"/>
                <ref bean="concurrentMapCacheManager"/>
                <!-- 				<ref bean="memcachedCacheManager" /> -->
            </list>
        </property>
    </bean>

    <!-- EhCache Manager -->
    <bean id="ehCacheManager" class="org.springframework.cache.ehcache.EhCacheCacheManager"
          p:cache-manager-ref="ehcacheManagerFactory"/>
    <!-- EhCache library setup -->
    <bean id="ehcacheManagerFactory" class="org.springframework.cache.ehcache.EhCacheManagerFactoryBean"
          p:config-location="classpath:ehcache.xml" p:shared="true"/>

    <!-- ConcurrentMapCache Manager -->
    <bean id="concurrentMapCacheManager" class="org.springframework.cache.concurrent.ConcurrentMapCacheManager">
    </bean>


</beans>