/* 提交至子流程或者多路分支的情况，只显示环节名称，环节名称的字体也要加粗显示，与
*/

.toDoUserName,
.toDoTaskName {
  .text-truncate();

  display: inline-block;
  vertical-align: middle;
  margin-bottom: 3px;
}
.toDoUserName {
  max-width: 420px;
}
.toDoTaskName {
  max-width: 240px;
}
