<form action="" id="org_user_form" style="margin-top: 15px">
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active">
      <a href="#org_user_account_info" aria-controls="org_user_account_info" role="tab" data-toggle="tab" aria-expanded="true">账号信息</a>
    </li>
    <li role="presentation">
      <a href="#org_user_personal_info" aria-controls="org_user_personal_info" role="tab" data-toggle="tab" aria-expanded="true">
        个人信息
      </a>
    </li>
    <li role="presentation">
      <a href="#org_user_role_info" aria-controls="org_user_role_info" role="tab" data-toggle="tab" aria-expanded="true">角色信息</a>
    </li>
    <li role="presentation">
      <a href="#org_user_auth_info" aria-controls="org_user_auth_info" role="tab" data-toggle="tab" aria-expanded="true">权限结果</a>
    </li>
  </ul>
  <input type="hidden" id="uuid" name="uuid" />
  <input type="hidden" id="type" name="type" value="1" />
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="org_user_account_info" style="padding-top: 10px">
      <div class="well-form form-horizontal">
        <div class="form-group">
          <label for="org_user_loginName" class="well-form-label control-label required">账号名</label>
          <div class="well-form-control">
            <input type="text" class="form-control" id="org_user_loginName" name="loginName" autocomplete="off" />
          </div>
        </div>
        <div class="form-group">
          <label for="org_user_password" class="well-form-label control-label">密码</label>
          <div class="well-form-control">
            <input type="text" class="form-control" id="org_user_password" name="password" autocomplete="off" />
          </div>
          <div>默认密码为：0</div>
        </div>
        <div class="form-group">
          <label for="org_user_userName" class="well-form-label control-label required">用户名</label>
          <div class="well-form-control">
            <input type="text" class="form-control" id="org_user_userName" name="userName" />
          </div>
        </div>
        <div class="form-group">
          <label for="org_user_id" class="well-form-label control-label">ID</label>
          <div class="well-form-control">
            <input class="form-control" id="org_user_id" name="id" readonly />
          </div>
        </div>
        <div class="form-group">
          <label for="org_user_code" class="well-form-label control-label required">编号</label>
          <div class="well-form-control">
            <input class="form-control" id="org_user_code" name="code" />
          </div>
        </div>
        <div class="form-group">
          <label for="org_user_systemUnitId" class="well-form-label control-label required">归属单位</label>
          <div class="well-form-control">
            <input class="form-control" id="org_user_systemUnitId" name="systemUnitId" />
            <input class="form-control" id="org_user_systemUnitName" name="systemUnitName" type="hidden" />
          </div>
        </div>

        <div class="form-group">
          <label for="org_user_mark" class="well-form-label control-label">备注</label>
          <div class="well-form-control">
            <textarea class="form-control" id="org_user_mark" name="remark"></textarea>
          </div>
        </div>

        <div class="form-group">
          <label class="well-form-label control-label">状态</label>
          <div class="well-form-control">
            <label class="checkbox-inline">
              <input type="checkbox" name="isForbidden" id="isForbidden" />
              <label for="isForbidden">禁用</label>
            </label>
            <label class="checkbox-inline">
              <input type="checkbox" name="isLocked" id="isLocked" />
              <label for="isLocked">冻结</label>
            </label>
          </div>
        </div>
      </div>
    </div>
    <div role="tabpanel" class="tab-pane" id="org_user_personal_info" style="padding-top: 10px">
      <div class="well-form form-horizontal">
        <div class="form-group">
          <label for="org_user_englishName" class="well-form-label control-label">英文名</label>
          <div class="well-form-control">
            <input type="text" class="form-control" id="org_user_englishName" name="englishName" />
          </div>
        </div>
        <div class="form-group">
          <label class="well-form-label control-label">性别</label>
          <div class="well-form-control">
            <label class="radio-inline">
              <input type="radio" name="sex" value="0" id="sex0" />
              <label for="sex0">女</label>
            </label>
            <label class="radio-inline">
              <input type="radio" name="sex" value="1" id="sex1" />
              <label for="sex1">男</label>
            </label>
          </div>
        </div>
        <div class="form-group">
          <label for="org_user_idNumber" class="well-form-label control-label">身份证号</label>
          <div class="well-form-control">
            <input type="text" class="form-control" id="org_user_idNumber" name="idNumber" />
          </div>
        </div>
        <div class="form-group">
          <label for="org_user_mobilePhone" class="well-form-label control-label">手机号</label>
          <div class="well-form-control">
            <input type="text" class="form-control" id="org_user_mobilePhone" name="mobilePhone" />
          </div>
        </div>
        <div class="form-group">
          <label for="org_user_homePhone" class="well-form-label control-label">家庭电话</label>
          <div class="well-form-control">
            <input type="text" class="form-control" id="org_user_homePhone" name="homePhone" />
          </div>
        </div>
        <div class="form-group">
          <label for="org_user_officePhone" class="well-form-label control-label">办公电话</label>
          <div class="well-form-control">
            <input type="text" class="form-control" id="org_user_officePhone" name="officePhone" />
          </div>
        </div>
        <div class="form-group">
          <label for="org_user_mainEmail" class="well-form-label control-label">邮箱</label>
          <div class="well-form-control">
            <input type="text" class="form-control" id="org_user_mainEmail" name="mainEmail" />
          </div>
        </div>
      </div>
    </div>
    <div role="tabpanel" class="tab-pane" id="org_user_role_info" style="padding-top: 10px">
      <div class="pull-left" style="width: 50%">
        <ul id="role_tree" class="ztree"></ul>
      </div>
      <div class="well-box pull-left" style="width: 50%">
        <div>已选角色</div>
        <ul id="roleUuids"></ul>
      </div>
    </div>
    <div role="tabpanel" class="tab-pane" id="org_user_auth_info" style="padding-top: 10px">
      <ul id="privilege_result_tree" class="ztree"></ul>
    </div>

    <div class="row" style="margin-top: 20px">
      <div class="col-sm-12 text-center">
        <button type="button" class="well-btn w-btn-primary" id="btn_save">保存</button>
      </div>
    </div>
  </div>
</form>
<style>
  .well-box {
    margin: 20px 0;
  }
  .well-box ul {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  .well-box ul li {
    line-height: 30px;
    font-size: 14px;
    color: #666;
  }
</style>
