<form action="" id="org_unit_form" style="margin-top: 15px">
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active">
      <a href="#sys_unit_basic_info" aria-controls="sys_unit_basic_info" role="tab" data-toggle="tab" aria-expanded="true">基本信息</a>
    </li>
    <li role="presentation">
      <a href="#sys_unit_custom_set" aria-controls="sys_unit_custom_set" role="tab" data-toggle="tab" aria-expanded="true">自定义属性</a>
    </li>
  </ul>
  <input type="hidden" id="uuid" name="uuid" />
  <input type="hidden" id="recVer" name="recVer" />
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="sys_unit_basic_info" style="padding-top: 10px">
      <div class="well-form form-horizontal">
        <div class="form-group">
          <label for="sys_unit_name" class="well-form-label control-label required">名称</label>
          <div class="well-form-control">
            <input type="text" class="form-control" id="sys_unit_name" name="name" />
          </div>
        </div>
        <div class="form-group">
          <label for="sys_unit_shortName" class="well-form-label control-label">简称</label>
          <div class="well-form-control">
            <input type="text" class="form-control" id="sys_unit_shortName" name="shortName" />
          </div>
        </div>
        <div class="form-group">
          <label for="sys_unit_id" class="well-form-label control-label">ID</label>
          <div class="well-form-control">
            <input type="text" class="form-control" name="id" id="sys_unit_id" readonly="readonly" />
          </div>
        </div>
        <div class="form-group">
          <label for="sys_unit_code" class="well-form-label control-label required">编号</label>
          <div class="well-form-control">
            <input type="text" class="form-control" id="sys_unit_code" name="code" />
          </div>
        </div>
        <div class="form-group">
          <label for="sys_unit_remark" class="well-form-label control-label">备注</label>
          <div class="well-form-control">
            <textarea class="form-control" id="sys_unit_remark" name="remark"></textarea>
          </div>
        </div>
        <div class="form-group">
          <label for="sys_unit_sapCode" class="well-form-label control-label">SAP编号</label>
          <div class="well-form-control">
            <input type="text" class="form-control" id="sys_unit_sapCode" name="sapCode" />
          </div>
        </div>
        {#
        <div class="form-group">
          <label class="well-form-label control-label">集团单位</label>
          <div class="well-form-control">
            <input
              type="checkbox"
              class="form-control"
              id="sys_unit_isGroupUnit"
              name="isGroupUnit"
              value="false"
              style="margin-top: 10px"
            />
            <label for="sys_unit_isGroupUnit"></label>
          </div>
        </div>
        <div class="form-group isGroupUnit" style="display: none">
          <label for="sys_unit_members" class="well-form-label control-label">单位成员</label>
          <div class="well-form-control">
            <input type="text" class="form-control" id="sys_unit_members" name="members" />
          </div>
        </div>
        #}
      </div>
    </div>

    <div role="tabpanel" class="tab-pane" id="sys_unit_custom_set" style="padding-top: 10px">
      <div class="form-horizontal">
        <div id="div_sys_unit_custom_toolbar" class="btn-group">
          <button id="btn_add_sys_unit_custom" type="button" class="well-btn w-btn-primary">
            <i class="iconfont icon-ptkj-jiahao" aria-hidden="true"></i>
            新增
          </button>
          <button id="btn_delete_sys_unit_custom" type="button" class="well-btn w-btn-danger">
            <i class="iconfont icon-ptkj-shanchu" aria-hidden="true"></i>
            删除
          </button>
        </div>
        <table id="sys_unit_custom_table" class=""></table>
      </div>
    </div>

    <div class="row" style="margin-top: 20px">
      <div class="col-sm-12 text-center">
        <button type="button" class="well-btn w-btn-primary" id="btn_save">保存</button>
      </div>
    </div>
  </div>
</form>
