<div class="msg-category-content" id="msg_category_content" style="min-height:100%;">
    <div class="msg-category-wrap">
        <div class="input-box">
            <input id="fullName" type="text" value="" placeholder="搜索"/>
            <i id="searchMsgCategory" class="iconfont icon-ptkj-sousuochaxun"></i>
            <i id="deleteMsgCategory" class="iconfont icon-ptkj-dacha-xiao"></i>
        </div>
        <hr>
        <div class="msg-category-list">
            <ul id="msg_category_tree"></ul>
        </div>
    </div>
    <div class="msg-category-folder"><i class="iconfont icon-ptkj-zuoshouzhan"></i></div>
</div>