<div class="msg-category-content" id="msg_category_content" style="min-height:600px;">
    <div class="msg-category-wrap">
        <div class="input-box">
            <input id="fullName" type="text" value="" placeholder="搜索"/>
            <i id="searchMsgCategory" class="iconfont icon-ptkj-sousuochaxun"></i>
            <i id="deleteMsgCategory" class="iconfont icon-ptkj-dacha-xiao"></i>
        </div>
        <hr>
        <div class="msg-category-list">
            <div class="msg-category-title">
                <i class="iconfont icon-ptkj-shixinjiantou-you icon-folders"></i>
                <i class="iconfont icon-ptkj-fenlei"></i>
                <span id="msgAllCategory">消息分类</span>
                <i id="addMsgCategory" class="iconfont icon-ptkj-jiahao add-msg-category"></i>
            </div>
            <ul id="msg_category_tree"></ul>
        </div>
    </div>
    <div class="msg-category-folder"><i class="iconfont icon-ptkj-zuoshouzhan"></i></div>
</div>