<div class="container-fluid ui-wBootstrapTable">
    <div class="bootstrap-table">
        <div class="fixed-table-toolbar">
            <div class="columns columns-right btn-group pull-right">
                <button class="btn btn-primary btn-query" type="button" name="query" title="查询"><i class="glyphicon glyphicon-search"></i>查询
                </button>
                <button class="btn btn-default btn-reset" type="button" name="reset" title="重置"><i class="glyphicon glyphicon-remove"></i>重置
                </button>
            </div>

            <div class="pull-right search"><input class="form-control" type="search" placeholder="搜索"></div>
        </div>

    </div>

    <div class="row">
        <div class="col-sm-12">
            <ul id="security_category_tree" class="ztree"></ul>

        </div>

    </div>

</div>