{
  "env": {
    "node": {
      "presets": [
        [
          "env",
          {
            "modules": false,
            "targets": {
              "node": "current"
            }
          }
        ]
      ],
      "plugins": [
        "transform-object-rest-spread",
        "syntax-dynamic-import",
        "transform-vue-jsx",
        [
          "transform-runtime",
          {
            "polyfill": false,
            "regenerator": true
          }
        ]
      ]
    },
    "web": {
      "presets": [
        [
          "env",
          {
            "modules": false,
            "targets": {
              "browsers": [
                "last 2 versions",
                "safari >= 7"
              ]
            }
          }
        ]
      ],
      "plugins": [
        "transform-object-rest-spread",
        "syntax-dynamic-import",
        "transform-vue-jsx",
        [
          "transform-runtime",
          {
            "polyfill": false,
            "regenerator": true
          }
        ]
      ]
    }
  },
  "comments": false
}
