<ul class="nav nav-tabs property-tabs">
	<li class="active"><a href="#basic_info" data-toggle="tab">基本属性</a></li>
</ul>
<div class="tab-content">
	<div class="tab-pane fade in active" id="basic_info">
		<form class="form-horizontal property-form" role="form">
			<div class="form-group"></div>
			<div class="form-group">
				<label for="name" class="col-sm-2 control-label">名称<font color="red">&nbsp;*</font></label>
				<div class="col-sm-10">
					<input id="name" name="name" type="text" class="form-control w-configurer-option" />
				</div>
			</div>
			<div class="form-group">
				<label for="id" class="col-sm-2 control-label">ID<font color="red">&nbsp;*</font></label>
				<div class="col-sm-10">
					<input id="id" name="id" type="text" class="form-control w-configurer-option" readonly="readonly" />
				</div>
			</div>
		</form>
	</div>
</div>