@CHARSET "UTF-8";
/* 页面全局配置开始 */
.portal-configurer {
	min-height: 660px;
	cursor: auto;
	padding-top: 5px;
	padding-bottom: 40px;
	margin-right: 220px;
	-webkit-transition: margin 500ms ease;
	-moz-transition: margin 500ms ease;
	-ms-transition: margin 500ms ease;
	-o-transition: margin 500ms ease;
	transition: margin 500ms ease;
}
/* 页面全局配置结束 */

/* 左导航组件列表开始 */
.designer-sidebar-nav {
	position: fixed;
	width: 220px;
	right: 0px;
	bottom: 0;
	top: 5px;
	overflow-x: auto;
	overflow-y: visible;
	padding: 9px 0;
	z-index: 10;
	transition: all 500ms ease;
}

.designer-sidebar-nav .list-group-item {
	margin-top: 1em;
}

.designer-sidebar-nav .list-group-item>.badge {
	/*   float: left; */
	/*   width:120px; */
	
}

.designer-sidebar-nav .panel-title a {
	text-decoration: none;
}

.designer-sidebar-nav .widget {
	min-width: 20em;
	display: none;
}
.designer-sidebar-nav .portal-layouts-info .list-group-item {
	padding: 5px 10px;
}
.designer-sidebar-nav .portal-layouts-info .list-group-item img {
	height:25px;
	max-width: 180px;
	max-height: 30px;
}
.designer-sidebar-nav .portal-apps-info .list-group-item {
	border: none;
}
.designer-sidebar-nav .portal-apps-info .list-group-item {
	margin-top: 0;
}
.designer-sidebar-nav .portal-apps-info .list-group-item i {
    margin-right: 0.4em;
}
/* 左导航组件列表结束 */

/* 页面容器开始 */
.web-app-container {
	margin-left: 0px;
	margin-top: 10px;
	margin-bottom: 150px;
	padding: 30px 15px 15px;
	border: 1px solid #DDDDDD;
	border-radius: 4px;
	position: relative;
	word-wrap: break-word;
}

.web-app-container:after {
	background-color: #F5F5F5;
	border: 1px solid #DDDDDD;
	border-radius: 4px 0 4px 0;
	color: #9DA0A4;
	content: "门户配置";
	font-size: 12px;
	font-weight: bold;
	left: -1px;
	padding: 3px 7px;
	position: absolute;
	top: -1px;
}
.web-app-container > div.container-json-viewer {
	position: absolute;
	z-index: 1;
	left: 4.6em;
	top: 1px;
}
.web-app-container > div.container-actions {
	position: absolute;
	z-index: 1;
	right: 1.1em;
	top: 1px;
}
.web-app-container > div.container-actions > a {
	cursor: point;
}
/* 页面容器结束 */

/* 组件配置开始 */
.widget {
	background-color: #fff;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-box-shadow: inset 0 1px 13px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: inset 0 1px 13px rgba(0, 0, 0, 0.1);
	box-shadow: inset 0 1px 13px rgba(0, 0, 0, 0.1);
	border: 1px solid #e6e6e6;
	border-radius: 4px;
	position: relative;
	width: 100%;
	margin: 0 0 10px 0;
}

.widget .widget-header {
	/* 	background-color: #efefef; */
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-box-shadow: inset 0 1px 13px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: inset 0 1px 13px rgba(0, 0, 0, 0.1);
	box-shadow: inset 0 1px 13px rgba(0, 0, 0, 0.1);
	border-bottom: 0;
	line-height: 20px;
	padding: 3px 5px;
	max-height: 26px;
}

.widget .widget-header .widget-title input {
	height: 20px;
	max-width: 200px;
}

.widget .widget-actions {
	float: right;
}

.widget .widget-actions a {
	cursor: pointer;
	text-decoration: none;
}

.widget .widget-body {
	padding: 0.5em 0.5em;
}

.widget .row-fluid [class*="col-"] {
	padding-right: 5px;
	padding-left: 5px;
}

.widget .column {
	border: 1px solid #ddd;
	border-radius: 4px;
	padding: 10px 10px 0px 10px;
	position: relative;
	min-height: 3em;
}

.widget .ui-sortable {
	display: block;
	min-height: 3em;
	padding-bottom: 30px;
}
.ui-sortable-placeholder {
}

.widget-placeholder {
	border: 2px dashed #ccc;
	/*border: 1px dotted black;*/
	margin: 0 1em 1em 0;
	height: 50px;
}
/* 组件配置结束 */

/* JSON查看器开始 */
.jsonview {
	min-height: 350px;
	height: 350px;
	overflow: auto;
}
/* JSON查看器结束 */

/* 组件样式开始 */
.portal-configurer .wBootstrapTabs-preview .ui-sortable {
	min-height: 280px;
}
/* 组件样式结束 */

/* 门户配置开始 */
.portal-configurer .widget-portal-container {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	z-index: 99;
	background-color: #EEEEEE;
}
.portal-configurer .widget-portal-container > .panel {
	position: relative;
    height: 100%;
    overflow: hidden;
}
.portal-configurer .widget-portal-container > .panel > .panel-body {
    height: 100%;
    overflow: auto;
    padding-bottom: 80px;
}
.portal-configurer .widget-portal-container > .panel > .panel-footer {
	width: 100%;
    position: absolute;
    bottom: 0;
}
.portal-configurer .widget-portal-container .bootstrap-table .fixed-table-toolbar .bs-bars {
	margin-top: 0px;
}
/* 门户配置结束 */