.upload_div {
  background: none repeat scroll 0 0 transparent;
  padding-top: 5px;
  display: inline-block;
}

.upload_div > span.tip,
.ui-image-container > span.tip {
  color: #999999;
  margin-left: 20px;
  font-size: 12px;
}

.upload_div .fileinput-button2 {
  position: relative;
}

.file-list .circle {
  width: 20px;
  display: inline-block;
  height: 20px;
  /*margin:20px;*/
  position: relative;
  background: #ccc;
  border-radius: 50%;
  top: 2px;
  /*margin-left: 9px;*/
}
.file-list .pie_left,
.file-list .pie_right {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 0;
  left: 0;
}
.file-list .left,
.file-list .right {
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 50%;
  background: #488cee;
  /*transform:rotate(-180px);*/
  width: 100%;
  height: 100%;
  transform: rotate(-180deg);
}
.file-list .pie_left,
.file-list .left {
  clip: rect(auto, 10px, auto, auto);
  /*clip:rect(0,100px,auto,0);*/
}
.file-list .pie_right,
.file-list .right {
  clip: rect(0, auto, auto, 10px);
}
.file-list .mask {
  position: absolute;
  top: 2px;
  left: 2px;
  width: 16px;
  height: 16px;
  line-height: 16px;
  font-size: 18px;
  font-weight: 600;
  border-radius: 50%;
  background: #fff;
  text-align: center;
}

/*.file-list .mask .check {*/
/*    font-size: 14px;*/
/*    position: relative;*/
/*    left: -1px;*/
/*    top: -1px;*/
/*}*/
/*.file-list .mask .check::after {*/
/*    content: "\2713";*/
/*}*/

.file-list .mask .fail {
  font-size: 14px;
  position: relative;
  top: -1px;
}

#upload_div .file_source_css {
  cursor: pointer;
  height: 28px;
  left: 0;
  top: 0;
  margin: 0;
  opacity: 0;
  position: absolute;
  width: 100%;
  filter: alpha(opacity=0);
}

#upload_div .fileupload_css {
  z-index: -1;
  cursor: pointer;
  height: 100%;
  left: 0px;
  bottom: 0px;
  margin: 0px;
  opacity: 0;
  position: absolute;
  width: 100%;
  filter: alpha(opacity=0);
}

#upload_div .btn-primary {
  background-color: white;
  border-color: #488cee;
  color: #488cee;
  margin: 0px;
  line-height: normal;
}

#upload_div .btn-primary:hover {
  background-color: #488cee;
  border-color: #488cee;
  color: white;
}

.upload_div span {
}

.files_div {
  /*     min-width:200px; */
  line-height: normal;
  display: inline-block;
  clear: both;
  background: none repeat scroll 0 0 #dddddd;
  text-decoration: none;
  width: calc(98%);
  position: relative;
}

.progress-div {
  float: left;
  height: 10px;
  margin: 10px 0 0 10px;
  width: 10%;
}
.files_div p {
  display: inline-block;
  font-size: 12px;
  margin: 0;
  cursor: pointer;
  text-decoration: none;
  color: #666666;
}
.files_div span {
  cursor: pointer;
}

.files_div .file_icon {
  display: inline-block;
  width: 20px;
  text-align: center;
  margin-right: 5px;
}

.files_div .upload_progress .tran_md5 {
  display: inline-block;
  width: 20px;
  height: 20px;
  background: url('../../../js/fileupload/tran_md5_process.gif') no-repeat center;
}

#files .delete_input,
.files .delete_input {
  cursor: pointer;
  border: 1px none;
  width: 42px;
  font-size: 12px;
  margin-left: 0px;
  background: none repeat scroll 0 0 transparent;
  color: #4b9ad2;
}

#progress .bar-div {
  background: none repeat scroll 0 0 #87b5e7;
  height: 11px;
}

.upload_div .btn-primary {
  position: relative;
}

#files .delete_input:hover {
  color: #ff7200;
}

#upload_div .file_icon {
  background: url('../theme/images/v1_icon4.png') no-repeat scroll -63px 4px transparent;
  width: 10px;
  height: 20px;
  display: block;
  float: left;
  margin-right: 10px;
}

/*#files .file_icon {*/
/*background:url("../theme/images/v1_icon4.png") no-repeat scroll -63px 4px transparent;*/
/*width:10px;*/
/*height:20px;*/
/*display: block;*/
/*float: left;*/
/*}*/

#upload_div .add_icon {
  margin-left: 4px;
  cursor: pointer;
}

.downloadAll {
  display: block;
}

.downloadallbtn {
  cursor: pointer;
}

.clear-both {
  clear: both;
}
.dyform .file-list li:hover {
  background: rgba(72, 139, 237, 0.15);
}

.file-list .sec_dev_btn {
  height: 26px;
  line-height: 26px;
  display: inline;
  margin: 0 0 0 4px;
  padding: 3px 11px;
}

.file-list .btn_span {
  width: auto;
  height: 26px;
  color: #488cee;
  border: 1px solid #488cee;
  border-radius: 10%;
  padding: 0 10px;
  cursor: pointer;
  box-sizing: border-box;
}

.file-list .icon {
  line-height: 26px;
  margin-right: 5px;
  /*color: #999999;*/
  font-size: 14px;
  cursor: pointer;
}

._delete_input,
.download_input,
button.filename {
  cursor: pointer;
  border: 1px none;
  width: 42px;
  font-size: 12px;
  margin-left: 0px;
  background: none repeat scroll 0 0 transparent;
  color: #4b9ad2;
  margin-top: 0px;
}

.tip-file {
  max-width: 400px;
}

.tip-file .tip-filename {
}

.tip-file .tip-s {
  color: #999999;
  margin-right: 20px;
  font-size: 12px;
}

.dyform .fileUpdateload .file_icon {
  margin: 10px 8px 0px 12px;
  background: none;
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.dyform .fileUpdateload .file_icon:before {
  content: '\f0c6';
  color: #488cee;
}

.fileContainer .c-group {
  display: none;
  float: right;
  line-height: 28px;
}

.fileContainer .c-group > button,
.fileContainer .c-group > .dropdown-menu button,
.tip-file .c-group > button {
  font-size: 14px;
  height: 24px;
  padding: 2px 10px;
  margin-right: 6px;
  background: white;
  color: #488cee;
}

.fileContainer .c-group > .dropdown-menu button {
  width: 100%;
  text-align: left;
}

.fileContainer .c-group > button:hover,
.tip-file .c-group > button:hover {
  border: 1px solid #488cee;
}

.fileContainer .c-group > .dropdown-menu > li:hover {
  background: #e4eefc;
}

.fileContainer .c-group > .dropdown-menu > li:hover > button {
  background: none;
  color: #cccccc;
}

.dyform .ui-table .fileContainer {
  padding: 0px;
}
.fileContainer .c-group .dropdown-menu button {
  color: #488cee;
  background: none;
  width: 100%;
  text-align: left;
  font-size: 14px;
}
.fileContainer .c-group .dropdown-menu button:hover {
  background: rgba(72, 140, 238, 0.15);
}
.ui-list .icoItem .c-group {
  float: none;
  margin-left: 20px;
}

.ui-table .fileContainer .c-group {
  display: inline-block !important;
}

.file-table-header {
  display: none;
  position: relative;
  background: #fafafa;
}

.dyform .ui-table .file-table-header {
  display: table;
  width: 100%;
}
.file-nodata {
  padding: 32px 0;
  text-align: center;
}
.file-nodata img {
  width: 80px;
  height: 64px;
  display: inline-block;
}
.file-nodata span {
  color: #ccc;
  font-size: 14px;
  margin-left: 10px;
}
.file-table-header span {
  color: black;
  display: table-cell;
  vertical-align: middle;
  padding: 3px 0px 3px 15px;
  border-left: 1px solid rgba(221, 221, 221, 1);
  border-bottom: 1px solid rgba(221, 221, 221, 1);
}

.file-table-header .td1 {
  width: 40%;
}

.file-table-header .td2 {
  width: 8%;
}

.file-table-header .td3 {
  width: 12%;
}

.file-table-header .td4 {
  width: 10%;
}

.file-table-header .td5 {
  width: 30%;
}

.ui-table .icoItem .fileSize {
  width: 8%;
  display: inline-block;
}
.ui-table .icoItem .fileSize:before {
  left: 40%;
}
.ui-table .icoItem .fileCreatetime:before {
  left: 48%;
}
.ui-table .icoItem .user-name:before {
  left: 60%;
}

.ui-table .icoItem .fileCreatetime {
  display: inline-block;
  width: 12%;
}

.ui-table .icoItem .user-name {
  width: 10%;
  display: inline-block;
}

.ui-table .icoItem .c-group {
  width: 30%;
  padding-left: 10px;
  border-left: 1px solid rgb(221, 221, 221);
  display: inline-block;
  white-space: normal;
  vertical-align: middle;
  float: none;
}

.ui-image .fileContainer .c-group {
  display: none !important;
}

.ui-image .fileContainer .icoItem .file-inline-info {
  display: none;
}

.ui-image .fileContainer .icoItem .fileName {
  height: 16px;
  line-height: 16px;
  display: block;
  position: absolute;
  top: 62px;
  width: 100%;
  text-align: center;
  padding: 0px 10px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.ui-image .fileContainer .icoItem .fileSize {
  display: block;
  height: 14px;
  line-height: 14px;
  position: absolute;
  top: 80px;
  width: 100%;
  text-align: center;
  margin: 0px;
}

button.filename {
}

.ui-image-container {
}

.ui-image-container > ul {
  display: inline-block;
}

.ui-image-container li[filename] {
  display: inline-block;
  position: relative;
  border-radius: 4px;
  padding: 5px;
  border: 1px solid rgba(221, 221, 221, 1);
}

.ui-image-container li[filename] button[type='button'] {
  display: none;
  position: absolute;
  color: white;
  top: 50%;
  z-index: 10;
  margin-top: -18px;
}

.ui-image-container li.active img {
  /* 	background-color: black; */
  /* 	opacity: 0.4; */
}

.ui-image-container li.active button[type='button'] {
  display: inline-block;
  color: white;
}

.ui-image-container li[filename] button[type='button'].filename {
  display: none;
  left: 12px;
  font-size: 16px;
}
.ui-image-container li[filename] button[type='button'].download_input {
  /* left: 50%;
    margin-left: -21px; */
  left: 48%;
  top: 85%;
  background: white;
  color: #488cee;
  font-size: 14px;
  width: 24px;
  height: 24px;
  border-radius: 4px;
}
.ui-image-container li[filename] button[type='button']._delete_input {
  left: calc(48% + 28px);
  top: 85%;
  background: white;
  color: #488cee;
  font-size: 14px;
  width: 24px;
  height: 24px;
  border-radius: 4px;
  right: 12px;
}
.ui-image-container li[filename] button[type='button']:hover {
  color: white;
  background: #488cee;
}

.ui-image-container li[filename] .img-preview {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 110px;
  height: 110px;
  background: rgba(0, 0, 0, 0.15);
  z-index: 9;
  display: none;
}
.ui-image-container li.active div.img-preview {
  display: block;
}
.ui-image-container > ul > li.btn-image-uploader {
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px;
  padding: 5px;
  border-radius: 4px;
  background: rgba(250, 250, 250, 1);
  border: 1px dashed rgba(221, 221, 221, 1);
}

.ui-image-container > ul > li.btn-image-uploader:hover {
  border-color: rgba(72, 140, 238, 1);
}

.ui-image-container li.btn-image-uploader .fileinput-button2 {
  display: inline-block;
  height: 100%;
  width: 100%;
  background: rgba(250, 250, 250, 1);
}

.ui-image-container #upload_div .btn-primary {
  background: rgba(250, 250, 250, 1);
  border-color: #488cee;
  color: #488cee;
  border-width: 0px;
}

.ui-image-container li.btn-image-uploader .fileinput-button2:hover {
  background: rgba(250, 250, 250, 1);
  border-color: #488cee;
  color: #488cee;
}

.ui-image-container li.btn-image-uploader .fileinput-button2 > .icon-ptkj-jiahao {
  margin-top: 24%;
  font-size: 24px;
}

/* Region: 图片库 */
.pic-lib-panel {
  padding-top: 18px;
}

.pic-lib-panel .pic-category-col {
  border: 1px solid #e8e8e8;
  padding: 0;
}

.pic-lib-panel .pic-category-col .pic-category-col-list {
  height: 370px;
  overflow-y: auto;
}

.hide-uploader .pic-lib-panel .pic-category-col .pic-category-col-list {
  height: 410px;
}

.pic-lib-panel .pic-category-col .pic-category-col-title {
  line-height: 36px;
  background: #f6f6f6;
  color: rgba(51, 51, 51);
  font-size: 15px;
}

.pic-lib-panel .pic-category-col .pic-category-col-title::before {
  content: '';
  position: relative;
  display: inline-block;
  width: 4px;
  height: 15px;
  background: #488cee;
  border-radius: 2px;
  margin-left: 16px;
  margin-right: 8px;
  top: 3px;
}

#pic-upload-panel .well-form .well-form-label {
  width: 16%;
}

#pic-upload-panel .well-form .well-form-control {
  width: 75%;
}

#pic-lib-panel .pic-selection-operation-row {
  height: 35px;
}

#pic-lib-panel .pic-category-col-list .category-item {
  height: 28px;
  padding-top: 3px;
}

#pic-lib-panel .pic-category-col-list .category-item:hover {
  background: #e4eefc;
  cursor: pointer;
}

#pic-lib-panel .pic-category-col-list .category-item.active {
  background: #e4eefc;
}

#pic-lib-panel .pic-category-col-list .category-item .category-name {
  display: inline-block;
  width: calc(100% - 60px);
}

#pic-lib-panel .pic-category-col-list .category-item .category-count {
  display: inline-block;
  width: 45px;
}

.hide-uploader .panel-tab-header,
.hide-uploader .tab-content .pic-delete-btn {
  display: none;
}

#pic-lib-panel .pic-selection-cards-row {
  display: flex;
  flex-flow: row wrap;
  justify-content: start;
  height: 360px;
  overflow-y: auto;
  margin-right: -20px;
}

.hide-uploader #pic-lib-panel .pic-selection-cards-row {
  height: 400px;
}

#pic-lib-panel .pic-selection-cards-row .pic-card {
  max-width: 150px;
  height: 159px;
  border: 1px solid #dddddd;
  border-radius: 4px;
  margin: 4px;
  position: relative;
  cursor: pointer;
}

#pic-lib-panel .pic-selection-cards-row .pic-card::before {
  content: '✔';
  position: absolute;
  right: 3px;
  bottom: -2px;
  z-index: 1;
  color: #ffffff;
}

#pic-lib-panel .pic-selection-cards-row .pic-card::after {
  position: absolute;
  content: '';
  right: 0px;
  bottom: 0px;
  width: 0px;
  height: 0px;
  border-bottom: 12px solid #e8e8e8;
  border-right: 15px solid #e8e8e8;
  border-top: 12px solid transparent;
  border-left: 15px solid transparent;
  transition: all 0.3s;
}

#pic-lib-panel .pic-selection-cards-row .pic-card.selected::after {
  border-bottom-color: #488cee;
  border-right-color: #488cee;
  right: -1px;
}

#pic-lib-panel .pic-selection-cards-row .pic-card:hover {
  border: 1px solid #488cee;
  border-bottom-right-radius: 0px;
}

#pic-lib-panel .pic-selection-cards-row .pic-card .pic-card-img {
  padding: 6px;
}

.allow-preview img,
img.allow-preview,
.allow-preview .img-preview {
  cursor: zoom-in !important;
}

#pic-lib-panel .pic-selection-cards-row .pic-card p {
  margin: 5px;
  text-align: center;
  font-size: 12px;
  color: #999999;
  font-weight: 400;
}

#pic-lib-panel .pic-selection-cards-row .pic-card p.pic-card-img-name {
  color: #666666;
}
#pic-lib-panel .pic-selection-cards-row .pic-card .pic-card-img img {
  width: 135px;
  height: 75px;
}

#pic-upload-panel #pic-uploader {
  height: 260px;
  overflow-y: auto;
}

#pic-upload-panel .upload-btn-wrapper {
  text-align: center;
  border-top: 1px solid rgba(232, 232, 232, 1);
  line-height: 40px;

  padding-top: 5px;
  margin-left: -15px;
  margin-right: -15px;
}
/* End Region: 图片库 */

/* Region: 图片预览 */
.pic-previewer .pic-previewer-header {
  height: 39px;
  background: #ffffff;
  box-shadow: 0px 1px 0px 0px #e8e8e8;
  line-height: 39px;
  position: relative;
  z-index: 1;
}

.pic-previewer .pic-previewer-header .pic-previewer-header-title {
  height: 39px;
  color: rgba(51, 51, 51, 1);
  font-size: 16px;
  margin-left: 16px;
}

.pic-previewer .pic-previewer-header .iconfont {
  color: #999999;
  cursor: pointer;
}

.pic-previewer .pic-previewer-header .iconfont:hover {
  color: #488cee;
}

.pic-previewer .pic-previewer-header .pic-previewer-header-middle-operations {
  float: right;
  margin-right: 16px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.pic-previewer .pic-previewer-header .pic-previewer-header-middle-operations span {
  padding-left: 15px;
  padding-right: 15px;
}

.pic-previewer .pic-previewer-header .pic-previewer-header-right-operations {
  float: right;
  margin-right: 16px;
}

.pic-previewer .pic-previewer-body {
  height: calc(100vh - 39px);
  background: rgba(240, 242, 246, 0.95);
  position: relative;
}

.pic-previewer .pic-previewer-body .previous-pic-btn,
.pic-previewer .pic-previewer-body .next-pic-btn {
  border: none;
  width: 64px;
  height: 100px;
  background: rgba(0, 0, 0, 0.1);
  position: absolute;
}

.pic-previewer .pic-previewer-body .previous-pic-btn .iconfont,
.pic-previewer .pic-previewer-body .next-pic-btn .iconfont {
  font-size: 60px;
  font-weight: lighter;
  color: rgba(102, 102, 102, 1);
}

.pic-previewer .pic-previewer-body .previous-pic-btn.disabled,
.pic-previewer .pic-previewer-body .next-pic-btn.disabled {
  background: rgba(0, 0, 0, 0.3);
  cursor: not-allowed;
}

.pic-previewer .pic-previewer-body .previous-pic-btn {
  top: 50%;
  transform: translateY(-50%);
  border-radius: 0px 4px 4px 0px;
}

.pic-previewer .pic-previewer-body .next-pic-btn {
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 4px 0px 0px 4px;
}

.pic-previewer .pic-previewer-body .pic-previewer-img {
  width: auto;
  height: auto;
  max-width: calc(100vw - 200px);
  max-height: calc(100vh - 80px);
  position: absolute;
  top: 20px;
  bottom: 20px;
  right: 20px;
  left: 20px;
  margin: auto;
}

.pic-previewer .pic-previewer-body .pic-previewer-img.inclined {
  max-width: calc(100vh - 80px);
  max-height: calc(100vw - 200px);
}

/* End Region: 图片预览 */
