/* required */
.mergely-column textarea { width: 80px; height: 200px; }
.mergely-column { float: left; }
.mergely-margin { float: left; display: none;}
.mergely-canvas { float: left; width: 28px;opacity: 0;margin:0 2px; }
.CodeMirror-code .line-add{
    height: 20px;
    background: #44D89F;
    margin-bottom: 1px;
}

/* resizeable */
.mergely-resizer { width: 100%; height: 100%; }
.mergely-full-screen-0 { position: absolute; top: 0; bottom: 0; left: 0; right: 0; overflow: hidden; }
.mergely-full-screen-8 { position: absolute; top: 8px; bottom: 8px; left: 8px; right: 8px; overflow: hidden; }
#mergely{
    border-top:1px solid #ddd;
    border-bottom:1px solid #ddd;
}
/* style configuration */
.mergely-column { border: 1px solid #ccc;border-top:none;border-bottom:none; }
.mergely-column-title {height: 40px;line-height: 40px;padding-left:15px;font-size:14px;color:#333;background: #fff;border-bottom: 1px solid #ddd;}
.mergely-active { border: 1px solid #a3d1ff; }

.mergely.a,.mergely.d,.mergely.c { color: #000; }

.mergely.a.rhs.start { border-top: 1px solid #a3d1ff; }
.mergely.a.lhs.start.end,
.mergely.a.rhs.end { border-bottom: 1px solid #a3d1ff; }
.mergely.a.rhs.end ~ .CodeMirror-line span{
    color:#fff;
}
.mergely.a.rhs { background-color: #44D89F; }
.mergely.a.lhs.start.end.first { border-bottom-width: 0; border-top: 1px solid #a3d1ff; }

.mergely.d.lhs { background-color: #F6AAA0; }
.mergely.e.lhs,.mergely.e.rhs { background-color: #1268E3; }
.mergely.d.lhs.end,
.mergely.d.rhs.start.end { border-bottom: 1px solid #f8e8e8; }
.mergely.d.rhs.start.end.first { border-bottom-width: 0; border-top: 1px solid #f8e8e8; }
.mergely.d.lhs.start { border-top: 1px solid #f8e8e8; }

.mergely.c.lhs,
.mergely.c.rhs {
    /*background-color: #fafafa; */
}
.mergely.c.lhs.start,
.mergely.c.rhs.start {
    /*border-top: 1px solid #a3a3a3;*/
}
.mergely.c.lhs.end,
.mergely.c.rhs.end {
    /*border-bottom: 1px solid #a3a3a3; */
}

.mergely.ch.a.rhs { background-color: #44D89F; color:#fff;}
.mergely.ch.d.lhs {
    background-color: #F6AAA0;
    /*text-decoration: line-through; */
    color: #fff !important;
}
.mergely.ch.e.lhs,.mergely.ch.e.rhs{
    background-color: #1268E3;
    color:#fff;
    display: inline-block;
    height: 20px;
}
.CodeMirror-line.mergely.ch.e.lhs,.CodeMirror-line.mergely.ch.e.rhs{
    background-color: #6395F9;
    display: block;
}
.CodeMirror-line{
    margin-bottom: 1px !important;
}
.mergely.current.start {
    /*border-top: 1px solid #000 !important; */
}
.mergely.current.end {
    /*border-bottom: 1px solid #000 !important;*/
}
.mergely.current.lhs.a.start.end,
.mergely.current.rhs.d.start.end { border-top-width: 0 !important; }

.mergely.current.lhs.a.start.end.empty,
.mergely.current.rhs.d.start.end.empty { border-top-width: 1px !important; border-bottom-width: 0px !important; }

.mergely.current.CodeMirror-linenumber { color: #F9F9F9; font-weight: bold; background-color: #777; }
.CodeMirror-linenumber { cursor: pointer; }
.CodeMirror-code { color: #717171; }
span.CodeMirror-selectedtext { background: none !important; }
.CodeMirror-lines{
    padding-bottom: 50px;
}
.CodeMirror{
    background: initial;
}
.type-add .mergely.ch.e.rhs,
.type-add .mergely.ch.a.lhs,
.type-del .mergely.ch.d.lhs{
    background: initial;
    color:#666 !important;
}
.type-add .CodeMirror-line.mergely.ch.e.rhs,
.type-del .mergely.d.lhs,
.type-add .mergely.a.rhs{
    background: initial;
    color:#666;
}

.type-add #mergely-editor-lhs .mergely.current.CodeMirror-linenumber,
.type-del #mergely-editor-rhs .mergely.current.CodeMirror-linenumber{
    display: none;
}

.type-del .mergely.current.CodeMirror-linenumber,
.type-add .mergely.current.CodeMirror-linenumber{
    color:#999;
    background: transparent;
    font-weight: normal;
}
.CodeMirror-scroll,
.CodeMirror-sizer,
.CodeMirror-gutter,
.CodeMirror-gutters,
.CodeMirror-linenumber{
    background: #fff;
}