// TODO: TO less
.workTime-default-icon {
  .absolute();

  font-size: @font-size-4xl !important;
  color: @text-color-primary;
  line-height: 1;
}

.work-plan {
  .work-plan-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    padding: 0 5px 0 15px;
    background: @dyform-header-background;
    box-shadow: @shadow-document-header-default;
  }

  .work-header-text {
    font-size: @font-size-lg;
    color: @text-color-dark;

    i {
      margin-left: 5px;
      font-size: @font-size-base;
      color: @text-color-primary;
    }
  }

  .work-plan-body {
    padding: 0 40px 3px;

    .title {
      position: relative;
      height: @line-height-base * 2;
      line-height: @line-height-base * 2;
      padding-left: 13px;
      margin: 30px 0 20px;
      font-size: 15px;
      font-weight: 400;
      color: @text-color-dark;
      box-shadow: 0px 1px 0px 0px #e8e8e8;

      &::before {
        .absolute(50% false false 0);
        .size(4px 16px);

        content: '';
        margin-top: -8px;
        background-color: @primary-color;
        border-radius: @border-radius-1;
      }
    }
  }
}

.work-body-info {
  border: @border-default;

  .field {
    display: flex;
    align-items: center;
    height: 50px;
    position: relative;

    &:not(:last-of-type)::after {
      .absolute(false false 0 0);
      .size(100% 1px);

      content: '';
      background: @gray-5;
    }

    .label-td {
      .size(240px 50px);

      line-height: 50px;
      padding-right: 20px;
      text-align: right;
      background: @background-light;
      box-sizing: border-box;

      & + div {
        flex: 1;
        padding: 0 10px;
      }
    }
  }
}

.work-time-item {
  margin-top: 20px;
  border: @border-default;

  .work-time-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    height: 42px;
    background: rgba(72, 140, 238, 0.05);

    & > span:first-of-type {
      color: @gray-10;
      font-weight: bold;
      font-size: @font-size-base;
    }

    & > span {
      .add-year {
        position: relative;
        display: inline-block;
        margin-left: 13px;
        padding-right: 5px;
        height: @height-3xs;
        line-height: @height-3xs;
        border: 1px solid #f19799;
        background: #fceaea;
        border-radius: 0 @border-radius-3 @border-radius-3 0;
        font-size: @font-size-sm;
        color: #e33033;
        z-index: 1;
        border-left: none;
        box-sizing: content-box;
      }

      .add-year-angle {
        .square(15px);
        .absolute(2px false false -7px);

        display: inline-block;
        border: 1px solid #f19799;
        background: #fceaea;
        border-bottom-left-radius: @border-radius-3;
        transform: rotate(45deg);
        border-top: none;
        border-right: none;
        z-index: -1;
        box-sizing: content-box;
      }
    }

    span {
      i {
        color: @text-color-primary;
        margin-right: 6px;
        font-weight: normal;
      }
    }
  }

  .work-time-block {
    padding: 10px 20px;
    box-sizing: border-box;
  }

  .work-time-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: @height-lg;
    padding: 0 20px;
    background: rgba(72, 140, 238, 0.05);
  }

  .time-header-info {
    > span {
      font-size: @font-size-base;
      font-weight: bold;
      color: @text-color;

      i {
        color: @text-color-primary;
        margin-right: 5px;
        font-weight: normal;
      }
    }

    .time-count {
      color: @text-color-primary;
      font-weight: normal;
    }
  }

  .time-header-btn {
    span {
      font-size: @font-size-base;
      color: @text-color-primary;
      cursor: pointer;

      i {
        margin-right: 5px;
      }
    }

    > span:last-of-type {
      margin-left: 20px;
    }
  }
}

.work-time-body {
  width: 100%;

  tr td,
  tr th {
    .size(30% 40px);

    padding: 0 20px;
    font-size: @font-size-base;
    font-weight: 400;
    color: @text-color-dark;
    background-color: @gray-2;
  }

  tr td:nth-of-type(2),
  tr th:nth-of-type(2) {
    width: 40%;
  }

  tr:not(:last-of-type) {
    border-bottom: @border-width-base @border-style-base @gray-2;
  }

  tr td {
    height: @height-4xl;
    color: @text-color;
    background-color: @white;
  }

  .time-tag {
    margin-right: 5px;
    padding: 3px 5px;
    background: @background-primary-light;
    border: @border-width-base @border-style-base @border-color-primary;
    border-radius: @border-radius-3;
    color: @text-color-primary;
  }
}

.work-plan-dialog {
  border: @border-default;

  .value-td {
    display: flex;
    align-items: center;

    input[type='text'] {
      width: 75%;
      margin-right: 20px;
    }

    input[type='radio'] + label {
      margin-right: 20px;
    }
  }

  .workTime {
    padding: 15px;
    box-sizing: border-box;

    .title {
      position: relative;
      height: @height-lg;
      line-height: @height-lg;
      padding-left: 13px;
      margin-bottom: 20px;
      font-size: 15px;
      font-weight: 400;
      color: @text-color-dark;
      box-shadow: 0px 1px 0px 0px #e8e8e8;

      &:before {
        .absolute(50% false false 0);
        .size(4px 16px);
        content: '';
        margin-top: -8px;
        background-color: @primary-5;
        border-radius: @border-radius-2;
      }
    }
  }

  .work-time-body {
    margin-bottom: 20px;

    tr th,
    tr td {
      border: @border-default;
      padding: 0 10px;
    }

    tr th:nth-of-type(3),
    tr td:nth-of-type(3) {
      width: 12%;
    }
  }
}

.work-time-flex {
  display: flex;
  align-items: flex-start;

  .line-title {
    padding-left: 30px;
    line-height: 34px;
  }

  .line-input {
    display: flex;
    flex-direction: column;
    margin-left: 15px;

    input[type='number'],
    input[type='text'] {
      margin-bottom: 15px;
    }
  }
}

.dialog-wrapper {
  .row-line {
    display: flex;
    align-items: center;
    margin-bottom: 20px;

    input[type='radio'] + label {
      margin-right: 10px;
    }
  }

  .row-line-label {
    padding-left: 30px;
    margin-right: 20px;
    display: inline-block;
    width: 120px;
    text-align: right;
  }

  &.dialog-work-time .row-line input[type='checkbox'] + label {
    margin-right: 10px;
  }
}

.time-wrapper {
  margin-bottom: 5px;

  .time-line {
    display: flex;
    align-items: center;

    .time-text {
      margin-left: 50px;
      display: inline-block;
      width: 110px;
      color: @text-color-light;
    }

    .time-range {
      color: @text-color-light;
    }

    &.time-content {
      background: #f4f4f4;
      height: 44px;
      padding: 0 15px;
    }

    .time-drag {
      font-size: @font-size-2xl;
      color: @text-color-lighter;
    }

    .time-text-input {
      width: 100px;
      margin: 0 10px;
    }

    .time-date {
      width: 300px;
    }

    .time-day {
      margin: 0 10px;
    }

    .time-delete {
      font-size: @font-size-lg;
      color: @text-color-light;

      &:hover {
        color: @primary-6;
      }
    }
  }
}
