<div style="margin-top: 10px" id="biz_category_and_business_tree">
  <div>
    <input id="systemUnitId" type="hidden" value="" />
  </div>
  <div class="btn-group" style="margin-top: 20px">
    <button id="btn_category_add" type="button" class="well-btn w-btn-primary">新增分类</button>
    <button id="btn_category_delete" type="button" type="button" class="well-btn w-btn-primary">删除分类</button>
    <button id="btn_business_add" type="button" class="well-btn w-btn-primary">新增业务</button>
    <button id="btn_business_delete" type="button" type="button" class="well-btn w-btn-primary">删除业务</button>
  </div>
  <div>
    <ul id="biz_tree" class="ztree" style="min-height: 400px"></ul>
  </div>
</div>
