.well-calendar {
  margin: auto;
  background: #fcfcfc;
}

.well-calendar .well-calendar-header {
  position: relative;
  width: 100%;
  height: 64px;
  padding: 12px 64px;
  background: #fff;
  box-shadow: 0 1px 0 0 #e8e8e8;
}

.well-calendar .well-calendar-header .well-calendar-icon {
  display: inline-block;
  padding: 0 6px;
  transform: scale(0.5);
  cursor: pointer;
}

.well-calendar .well-calendar-header .well-calendar-icon i {
  font-size: 20px;
  color: #999;
}

.well-calendar .well-calendar-header .well-calendar-icon:hover i {
  color: #488cee;
}

.well-calendar .well-calendar-header .well-calendar-cur-year-month {
  display: inline-block;
  width: 90px;
  font-size: 15px;
  color: #333;
  text-align: center;
}

.well-calendar .well-calendar-header .well-calendar-today {
  position: absolute;
  top: 0;
  left: 0;
  width: 64px;
  height: 64px;
  padding: 10px;
  text-align: center;
}

.well-calendar .well-calendar-header .well-calendar-today .well-calendar-date {
  margin-bottom: 10px;
  line-height: 1;
  font-size: 22px;
  color: #488cee;
}

.well-calendar .well-calendar-header .well-calendar-today .well-calendar-week-day {
  line-height: 1;
  font-size: 14px;
  color: #666;
}

.well-calendar .well-calendar-header .well-calendar-date-switcher {
  width: 100%;
  height: 100%;
  line-height: 40px;
  border-left: 1px solid #e8e8e8;
  border-right: 1px solid #e8e8e8;
  text-align: center;
}

.well-calendar .well-calendar-header .well-calendar-add-schedule {
  position: absolute;
  top: 0;
  right: 0;
  width: 64px;
  height: 64px;
  line-height: 64px;
  text-align: center;
  cursor: pointer;
}

.well-calendar .well-calendar-header .well-calendar-add-schedule i {
  line-height: 64px;
  font-size: 18px;
  color: #488cee;
}
.well-calendar .well-calendar-header .well-calendar-add-schedule:hover i {
  color: #2462bc;
}

.well-calendar .well-calendar-body {
  height: calc((100% / 9) * 7);
}

.well-calendar .well-calendar-body .well-calendar-body-week {
  display: table;
  position: relative;
  width: 100%;
  font-size: 14px;
  color: #666;
  background: rgba(72, 140, 238, 0.05);
}

.well-calendar .well-calendar-body .well-calendar-body-week .well-calendar-body-day {
  display: table-cell;
  width: calc(100% / 7);
  height: 30px;
  vertical-align: middle;
}

.well-calendar .well-calendar-body .well-calendar-body-dates {
  display: table;
  width: 100%;
  height: calc((100% / 7) * 6);
  padding-top: 10px;
}

.well-calendar .well-calendar-body .well-calendar-body-dates .well-calendar-body-date {
  float: left;
  display: table-cell;
  width: calc(100% / 7);
  height: 40px;
  font-size: 14px;
  color: #666;
  text-align: center;
  cursor: pointer;
}

.well-calendar .well-calendar-body .well-calendar-body-dates .well-calendar-date-prev,
.well-calendar .well-calendar-body .well-calendar-body-dates .well-calendar-date-next {
  color: #ccc;
}

.well-calendar .well-calendar-body .well-calendar-body-text {
  text-align: center;
}

.well-calendar .well-calendar-content .well-calendar-content-header,
.well-calendar .well-calendar-content .well-calendar-content-body {
  position: relative;
  width: 100%;
  padding: 0 4px;
  text-align: center;
}

.well-calendar .well-calendar-content .well-calendar-content-header {
  position: relative;
}

.well-calendar .well-calendar-content .well-calendar-content-header::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(72, 140, 238, 0.05);
}

.well-calendar .well-calendar-content .well-calendar-content-header tr {
  position: relative;
  height: 30px;
  font-size: 14px;
  color: #666;
}

.well-calendar .well-calendar-content .well-calendar-content-body {
  background: #fcfcfc;
}

.well-calendar .well-calendar-content .well-calendar-content-body td {
  height: 40px;
  color: #666;
  cursor: pointer;
}

.well-calendar .well-calendar-content .well-calendar-content-body td.disabled {
  color: #ccc;
}

.well-calendar .well-calendar-content .well-calendar-content-body td .date,
.well-calendar .well-calendar-body .well-calendar-body-date .well-calendar-body-text {
  width: 24px;
  height: 24px;
  margin: auto;
  line-height: 22px;
  font-size: 14px;
  border: 1px solid transparent;
  border-radius: 50%;
  text-align: center;
}

.well-calendar .well-calendar-content .well-calendar-content-body td:hover .date,
.well-calendar .well-calendar-body .well-calendar-body-date:hover .well-calendar-body-text {
  color: #488cee;
  /*border: 1px solid rgb(73, 142, 238, .15);*/
  background: rgb(72, 140, 238, 0.15);
}

.well-calendar .well-calendar-content .well-calendar-content-body td.current .date,
.well-calendar .well-calendar-body .well-calendar-body-date.current .well-calendar-body-text {
  color: #488cee;
  border: 1px solid #488cee;
}

.well-calendar .well-calendar-content .well-calendar-content-body td.active .date,
.well-calendar .well-calendar-body .well-calendar-body-date.picked .well-calendar-body-text {
  color: #fff;
  border: 1px solid #488cee;
  background: #488cee;
}

.well-calendar .well-calendar-content .well-calendar-content-body td .dot,
.well-calendar .well-calendar-body .well-calendar-body-date .dot {
  width: 6px;
  height: 6px;
  margin: 2px auto 0;
  border-radius: 50%;
  background: #e33033;
}

.well-calendar .well-calendar-footer {
  width: 100%;
  background: #fff;
  border-top: 1px solid #e8e8e8;
}

.well-calendar .well-calendar-footer ul {
  position: relative;
  padding: 0 10px 1px;
  max-height: 103px;
  overflow: auto;
}

.well-calendar .well-calendar-footer ul li.viewEvent {
  position: relative;
  width: 100%;
  height: 34px;
  line-height: 34px;
  padding-left: 20px;
  box-shadow: 0 1px 0 0 #e8e8e8;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
}
.well-calendar .well-calendar-footer ul li.viewEvent:hover {
  background: rgba(72, 140, 238, 0.05);
}
.well-calendar .well-calendar-footer ul li.viewEvent::before {
  content: '';
  position: absolute;
  top: 14px;
  left: 5px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #e33033;
}

.well-calendar .well-calendar-footer ul li .time {
  display: inline-block;
  width: 60px;
  height: 34px;
  line-height: 34px;
  color: #999;
  vertical-align: top;
}

.well-calendar .well-calendar-footer ul li .text {
  display: inline-block;
  width: calc(100% - 60px);
  height: 34px;
  padding-left: 10px;
  line-height: 34px;
  color: #666;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.well-calendar .no-data {
  padding: 15px;
  font-size: 14px;
  color: #ccc;
  text-align: center;
}
