BODY {
  padding-right: 0px;
  padding-left: 0px;
  padding-bottom: 0px;
  margin: 0px;
  padding-top: 0px;
  background-color: #dadada;
  overflow-x: hidden;
  overflow-y: hidden;
  font-size: 9pt;
}

.WORKBODYBACKIMAGE {
  padding-right: 0px;
  padding-left: 0px;
  padding-bottom: 0px;
  margin: 0px;
  padding-top: 0px;
  background-color: #ffffff;
  font-size: 9pt;
  overflow-x: auto;
  overflow-y: auto;

  scrollbar-face-color: #dadada;
  scrollbar-highlight-color: #ffffff;
  scrollbar-3dlight-color: #dadada;
  scrollbar-darkshadow-color: #dadada;
  scrollbar-shadow-color: #808080;
  scrollbar-arrow-color: #999999;
  scrollbar-track-color: #dadada;
}

.WORKBODY {
  padding-right: 0px;
  padding-left: 0px;
  padding-bottom: 0px;
  margin: 0px;
  padding-top: 0px;
  background-color: #ffffff;
  background-image: url('../images/bg.gif');
  font-size: 9pt;
  overflow-x: auto;
  overflow-y: auto;

  scrollbar-face-color: #dadada;
  scrollbar-highlight-color: #ffffff;
  scrollbar-3dlight-color: #dadada;
  scrollbar-darkshadow-color: #dadada;
  scrollbar-shadow-color: #808080;
  scrollbar-arrow-color: #999999;
  scrollbar-track-color: #dadada;
}

IMG {
  border: 0pt;
}

.img-shadow {
  box-shadow: 0px 0px 4px 3px rgba(239, 227, 204, 0.8);
  border-radius: 10px;
}

.img-begin,
.img-end {
  border-radius: 30px;
}

.img-condition {
  border-radius: 30px;
}

.task-todo {
  border: 2px dashed transparent;
  border-radius: 10px;
  background: linear-gradient(white, white) padding-box, repeating-linear-gradient(-45deg, #5cc9c9 0, #5cc9c9 0.5em, white 0, white 1em);
}

TABLE.StatusBar {
  border-right: #808080 1px solid;
  border-bottom: #808080 1px solid;
}

TD.StatusBar {
  border-right: 1px inset;
  padding-right: 5px;
  border-top: 1px inset;
  padding-left: 5px;
  padding-bottom: 1px;
  border-left: 1px inset;
  padding-top: 1px;
  border-bottom: 1px inset;
  font-size: 9pt;
}

TABLE.MenuBar {
  border-width: 1px;
  border-style: outset;
}
.TBHandle {
  border-right: #808080 1px solid;
  border-top: #f8fcf8 1px solid;
  border-left: #f8fcf8 1px solid;
  width: 3px;
  top: 1px;
  height: 21px;
}
.TBSep {
  border-right: #f8fcf8 1px solid;
  border-left: #808080 1px solid;
  width: 1px;
  position: absolute;
  top: 1px;
  height: 21px;
}
TD.Menu {
  cursor: hand;
  width: 60px;
  text-align: center;
  font-size: 9pt;
}
TD.MenuOutset {
  cursor: hand;
  width: 58px;
  text-align: center;
  font-size: 9pt;
  border-width: 1px;
  border-style: outset;
}
TD.MenuInset {
  cursor: hand;
  width: 58px;
  text-align: center;
  font-size: 9pt;
  border-width: 1px;
  border-style: inset;
}

TD.Menu_Big {
  cursor: hand;
  width: 100px;
  text-align: center;
  font-size: 9pt;
}
TD.MenuOutset_Big {
  cursor: hand;
  width: 98px;
  text-align: center;
  font-size: 9pt;
  border-width: 1px;
  border-style: outset;
}
TD.MenuInset_Big {
  cursor: hand;
  width: 98px;
  text-align: center;
  font-size: 9pt;
  border-width: 1px;
  border-style: inset;
}

TABLE.ToolBar {
  border-width: 1px;
  border-style: outset;
  font-size: 9pt;
}

TABLE.table {
  border-collapse: collapse;
}
TABLE.table thead {
  /* background: #ddd; */
}
TABLE.table thead th {
  padding: 5px;
  text-align: left;
}
TABLE.table thead th.col-3 {
  width: 33.33%;
}
TABLE.table thead th.col-4 {
  width: 25%;
}
TABLE.table thead th.col-6 {
  width: 50%;
}

TABLE.table tbody {
  text-align: center;
}
TABLE.table tbody.text-left {
  text-align: left;
}
TABLE.table td select {
  width: 96%;
}
TABLE.table td input {
  width: 96%;
}
TABLE.table .row-selected {
  background-color: #ddd;
}

TD.ToolBar {
  cursor: default;
  height: 25px;
  font-size: 9pt;
}

TD.ToolOutset {
  border-width: 1px;
  border-style: outset;
  height: 25px;
  font-size: 9pt;
}

TD.ToolInset {
  border-width: 1px;
  border-style: inset;
  height: 25px;
  font-size: 9pt;
}

.flowControl > img {
  display: none;
}

.flowControl.img_begin {
  background: #e4f4e1;
  border-radius: 50%;
}
.flowControl.img_begin::before {
  z-index: 1;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 2px solid #4bb633;
  border-radius: 50%;
}
.flowControl.img_begin::after {
  z-index: 1;
  content: '';
  position: absolute;
  top: 5px;
  left: 5px;
  width: calc(100% - 10px);
  height: calc(100% - 10px);
  border: 1px solid #4bb633;
  border-radius: 50%;
}

.flowControl.img_task,
.flowControl.img_subflow {
  background: #88b4f4;
  border: 1px solid #488cee;
  border-radius: 10px;
}

.flowControl.img_subflow .subflow-left {
  z-index: 1;
  position: absolute;
  top: -1px;
  left: -1px;
  width: 48px;
  height: 48px;
  border: 1px solid #488cee;
  border-radius: 50%;
  line-height: 48px;
  color: #fff;
  text-align: center;
  background: #88b4f4;
}
.flowControl.img_subflow .subflow-left i {
  font-size: 24px;
}

.flowControl.img_end {
  background: #93d385;
  border-radius: 50%;
}
.flowControl.img_end::before {
  z-index: 1;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 2px solid #4bb633;
  border-radius: 50%;
}
.flowControl.img_end::after {
  z-index: 1;
  content: '';
  position: absolute;
  top: 5px;
  left: 5px;
  width: calc(100% - 10px);
  height: calc(100% - 10px);
  border: 1px solid #4bb633;
  border-radius: 50%;
}
.flowControl .flow-control-text-wrap {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.flowControl.img_condition .flow-control-text-wrap {
  background: url('/static/workflow/images/wl_condition.png') no-repeat;
  background-position: center;
}

.flowControl.img_condition.flow-control-shadow .flow-control-text-wrap {
  width: calc(100% + 10px);
  height: calc(100% + 10px);
  margin-left: -5px;
  margin-top: -5px;
  background: url('/static/workflow/images/wl_condition_hover.png') no-repeat;
  background-position: center;
}

.flowControl.img_label {
  background: rgba(72, 140, 238, 0);
  border: 1px dashed #80889a !important;
}

.flowControl.img_label.no-border {
  border: none !important;
}
#ID_LABELVALUE {
  width: 100%;
  height: 100%;
  border: 1px dashed transparent !important;
  outline: none !important;
}
#ID_LABELVALUE:focus {
  border: 1px dashed #488cee !important;
  resize: none;
}
.flowControl .flow-control-table {
  position: relative;
  display: table;
  width: 100%;
  height: 100%;
}

.flowControl .flow-control-text {
  display: table-cell;
  color: #fff;
  vertical-align: middle;
  text-align: center;
}

.flowControl.img_line {
  padding-top: 10px;
}
.flowControl.img_line .flow-control-text-wrap {
  min-height: 20px;
}
.flowControl.img_begin .flow-control-text,
.flowControl.img_line .flow-control-text,
.flowControl.img_label .flow-control-text {
  color: #808799;
}
.flowControl.img_line .flow-control-text {
  text-shadow: 1px 1px 0 #f7fbff, -1px -1px 0 #f7fbff, 2px 2px 0 #f7fbff, -2px -2px 0 #f7fbff, 3px 3px 0 #f7fbff, -3px -3px 0 #f7fbff;
}

.flowControl.img_line.flow-control-shadow .flow-control-text {
  color: #076cff;
}

.flowControl.img_subflow .flow-control-text-wrap {
  padding-left: 50px;
}

.flowControl.img_begin .flow-control-text-wrap,
.flowControl.img_end .flow-control-text-wrap {
  border-radius: 50%;
}

.flowControl.img_begin.flow-control-shadow::before {
  border: 2px solid #16d200;
}
.flowControl.img_end.flow-control-shadow::before {
  border: 2px solid #11c40d;
}
.flowControl.img_begin.flow-control-shadow::after {
  border: 1px solid #16d200;
}

.flowControl.img_end.flow-control-shadow::after {
  border: 1px solid #11c40d;
}

.flowControl.img_begin.flow-control-shadow .flow-control-text-wrap {
  box-shadow: 0 0 7px 3px rgba(22, 210, 0, 0.5);
  background: #c5e4c2;
}
.flowControl.img_end.flow-control-shadow .flow-control-text-wrap {
  background: #66d164;
  box-shadow: 0 0 7px 3px rgba(17, 196, 13, 0.5);
}

.flowControl.img_task .flow-control-text-wrap {
  border-radius: 10px;
  padding: 5px;
}
.flowControl.img_task.flow-control-shadow,
.flowControl.img_subflow.flow-control-shadow {
  border: 1px solid #076cff;
}

.flowControl.img_task.flow-control-shadow .flow-control-text-wrap,
.flowControl.img_subflow.flow-control-shadow .flow-control-text-wrap {
  background: #428fff;
  box-shadow: 0 0 7px 3px rgba(7, 108, 255, 0.5);
}

.flowControl.img_subflow.flow-control-shadow .subflow-left {
  background: #428fff;
  border: 1px solid #076cff;
}

.flowControl.img_subflow,
.flowControl.img_subflow .flow-control-text-wrap {
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.flowControl.img_begin.flow-control-error .flow-control-text-wrap,
.flowControl.img_end.flow-control-error .flow-control-text-wrap {
  box-shadow: 0 0 10px 3px rgba(227, 48, 51, 0.75);
}
.flowControl.img_task.flow-control-error .flow-control-text-wrap,
.flowControl.img_subflow.flow-control-error .flow-control-text-wrap {
  box-shadow: 0 0 10px 3px rgba(227, 48, 51, 0.75);
}

.flowControl.img_line.flow-control-error .flow-control-text {
  color: #e33033;
}
.flow-line-error {
  background-color: #e33033 !important;
}

.flowControl.img_task.task-todo::after,
.flowControl.img_subflow.task-todo::after {
  content: '';
  position: absolute;
  top: -3px;
  left: -3px;
  width: calc(100% + 6px);
  height: calc(100% + 6px);
  border: 2px dashed #488cee;
  border-radius: 10px;
}

.flowControl.img_subflow.task-todo::after {
  border-top-left-radius: 24px;
  border-bottom-left-radius: 24px;
}

.flowControl.img_task.task-undo,
.flowControl.img_subflow.task-undo,
.flowControl.img_subflow.task-undo .subflow-left {
  background: #cdd4e2;
  border: 1px solid #a3b0cf;
  color: #777d99;
}

.flowControl.img_task.task-undo .flow-control-text,
.flowControl.img_subflow.task-undo .flow-control-text {
  color: #777d99;
}

.flowControl.img_end.undo .flow-control-text-wrap {
  background: #cdd4e2;
}
.flowControl.img_end.undo .flow-control-text {
  color: #777d99;
}
.flowControl.img_end.undo::before {
  border: 2px solid #a3b0cf;
}
.flowControl.img_end.undo::after {
  border: 1px solid #a3b0cf;
}

.flowControl.img_task.flow-control-shadow.task-undo .flow-control-text-wrap,
.flowControl.img_subflow.flow-control-shadow.task-undo .flow-control-text-wrap,
.flowControl.img_subflow.flow-control-shadow.task-undo .subflow-left {
  background: #b0b9cc;
}

.flowControl.img_end.flow-control-shadow.undo .flow-control-text-wrap,
.flowControl.img_task.flow-control-shadow.task-undo .flow-control-text-wrap,
.flowControl.img_subflow.flow-control-shadow.task-undo .flow-control-text-wrap {
  box-shadow: 0 0 7px 3px rgba(126, 143, 185, 0.5);
}

.flowControl .flow-control-text-wrap .task-timer {
  z-index: 1;
  position: absolute;
  right: -1px;
  bottom: -1px;
  width: 24px;
  height: 24px;
}

.flowControl .flow-control-text-wrap .task-timer.timeDefault {
  background: url('/static/workflow/images/timeDefault.png') no-repeat;
  background-size: cover;
}
.flowControl .flow-control-text-wrap .task-timer.isTimming {
  background: url('/static/workflow/images/isTimming.png') no-repeat;
  background-size: cover;
}
.flowControl .flow-control-text-wrap .task-timer.isAlarm {
  background: url('/static/workflow/images/isAlarm.png') no-repeat;
  background-size: cover;
}
.flowControl .flow-control-text-wrap .task-timer.isOverDue {
  background: url('/static/workflow/images/isOverDue.png') no-repeat;
  background-size: cover;
}

.no-flow {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 192px;
  margin-top: -96px;
  margin-left: -96px;
}
.no-flow img {
  display: block;
  width: 192px;
}
.no-flow p {
  margin-top: 24px;
  line-height: 1;
  font-size: 14px;
  color: #80889a;
  text-align: center;
}

.flowControl.img_label.flow-control-shadow {
  border: 1px dashed #488cee !important;
}
.flowControl.img_label.flow-control-error {
  border: 1px dashed #e33033 !important;
}
.zoom-control {
  display: none;
  z-index: 1000000;
  position: fixed;
  right: 20px;
  bottom: 20px;
  width: 44px;
  height: 142px;
  padding: 5px 0;
  background: rgba(247, 251, 255, 0.85);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}
.zoom-control .zoom-item {
  width: 44px;
  height: 44px;
  text-align: center;
  cursor: pointer;
}
.zoom-control .zoom-item:hover {
  background: rgba(72, 140, 238, 0.1);
}
.zoom-control .zoom-item i {
  line-height: 44px;
  font-size: 20px;
  color: #488cee;
}
.zoom-control .zoom-large {
}
.zoom-control .zoom-small {
}
.zoom-control .zoom-reset {
}

.work-flow-download {
  width: 120px;
  height: 34px;
  background: #488cee;
  border: 1px solid #488cee;
  border-radius: 4px;
  margin-top: 12px;
  line-height: 32px;
  color: #fff;
  text-align: center;
  cursor: pointer;
}
.work-flow-download i {
  margin-right: 5px;
  font-size: 14px;
}
.table > tbody > tr > td,
.table > tbody > tr > th,
.table > tfoot > tr > td,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > thead > tr > th {
  vertical-align: middle;
}
.form-group td.bs-checkbox input[type='checkbox'] + label {
  padding-top: 0;
}
