// 打印模板
#printTemplateFileUpload {
  .formbuilder {
    padding-left: 80px;

    .label-for-upload {
      padding: 7px 15px 0;
      width: 65px !important;
    }

    // .controls-upload {
    // margin-left: -10px;
    // width: unset !important;
    // }
  }
}
