// 流水号
#startDate_datatimepicker {
  .formbuilder {
    padding-left: 130px;
    padding-right: 15px;
    .label-formbuilder {
      padding-right: 6px;
    }
    .controls {
      position: static;
      padding-left: 12px;
      width: unset !important;
      .data .form-control:last-of-type {
        border-radius: 4px 0 0 4px !important;
      }
    }
  }
}
