/*发起工作弹框开始*/
.search-bar {
  padding: 0 15px;
}
.event-contents {
  overflow: hidden;
  height: 390px;
  margin: 20px 15px;
  border: 1px solid #ccc;
}
.event-contents .nav-container {
  height: 42px;
  overflow: hidden;
  position: relative;
  background: #f1f1f1;
}
.event-contents .nav-container .dropdown-icon {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 100;
  width: 30px;
  height: 41px;
  text-align: center;
  padding: 5px;
  font-size: 18px;
  background: #f1f1f1;
  cursor: pointer;
}
.event-contents .nav-container .dropdown-icon:hover {
  background: #ddd;
}
.event-contents .nav-tabs {
  position: relative;
  height: 42px;
  transition: all 500ms;
  border-bottom: 1px solid #ddd;
}
.event-contents .nav-tabs li {
  width: 135px;
  text-align: center;
}
.event-contents .nav-tabs li > a {
  border-radius: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 130px;
  color: #404040;
}
.event-contents .nav-tabs li > a:hover {
  background: #ddd;
}
.event-contents .nav-tabs li a:focus {
  background: #f1f1f1;
}
.event-contents .nav-tabs li.active > a {
  border-radius: 0;
  border: 1px solid transparent;
  color: #333;
}
.event-contents .nav-tabs li.active > a:hover,
.event-contents .nav-tabs li.active > a:focus {
  background-color: #fff;
  border: 1px solid transparent;
}
.event-contents .list-group {
  transition: all 500ms;
  height: 345px;
  overflow-y: auto;
  margin-bottom: 0;
  padding: 20px;
}
.event-contents .list-group .list-group-item {
  display: inline-block;
  width: 33%;
  line-height: 35px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  border-radius: 0;
  color: #404040;
  border: 0;
  padding: 0 15px;
  background: url(images/dian-lan.jpg) 0px center no-repeat;
}
.event-contents .list-group .list-group-item:hover {
  background-color: #f1f1f1;
}
/*发起工作弹框结束*/
