/*-------------------------------------
zTree Style

version:	3.5.19
author:		Hunter.z
email:		hunter.z@263.net
website:	http://code.google.com/p/jquerytree/

-------------------------------------*/

@import url('../../../../jquery.wellSelect/wellSelect.css');
@import url('../../../../pt/css/custom-ztree-style.css');

.ztree * {
  padding: 0;
  margin: 0;
  font-size: 12px;
}
.ztree {
  margin: 0;
  padding: 5px;
  color: #333;
  overflow: auto;
}
.ztree li {
  padding: 0;
  margin: 0;
  list-style: none;
  line-height: 14px;
  text-align: left;
  white-space: nowrap;
  outline: 0;
}
.ztree li ul {
  margin: 0;
  padding: 0 0 0 18px;
}
.ztree li ul.line {
  background: url(./img/line_conn.gif) 0 0 repeat-y;
}

.ztree li a {
  padding: 1px 3px 0 0;
  margin: 0;
  cursor: pointer;
  height: 17px;
  color: #666;
  background-color: transparent;
  text-decoration: none;
  vertical-align: top;
  display: inline-block;
}
/*.ztree li a:hover {text-decoration:underline}*/
/*.ztree li a.curSelectedNode {padding-top:0px; background-color:#FFE6B0; color:black; height:16px; border:1px #FFB951 solid; opacity:0.8;}*/
/*.ztree li a.curSelectedNode_Edit {padding-top:0px; background-color:#FFE6B0; color:black; height:16px; border:1px #FFB951 solid; opacity:0.8;}*/
.ztree li a.tmpTargetNode_inner {
  padding-top: 0px;
  background-color: #316ac5;
  color: white;
  height: 16px;
  border: 1px #316ac5 solid;
  opacity: 0.8;
  filter: alpha(opacity=80);
}
.ztree li a.tmpTargetNode_prev {
}
.ztree li a.tmpTargetNode_next {
}
.ztree li a input.rename {
  height: 14px;
  width: 80px;
  padding: 0;
  margin: 0;
  font-size: 12px;
  border: 1px #7ec4cc solid;
  *border: 0px;
}
.ztree li span {
  line-height: 16px;
  margin-right: 2px;
}
.ztree li span.button {
  line-height: 0;
  margin: 0;
  width: 16px;
  height: 16px;
  display: inline-block;
  vertical-align: middle;
  border: 0 none;
  cursor: pointer;
  outline: none;
  margin-right: 2px;
  background-color: transparent;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-image: url('./img/zTreeStandard.png');
  *background-image: url('./img/zTreeStandard.gif');
}

.ztree li span.button.chk {
  width: 13px;
  height: 13px;
  margin: 0 3px 0 0;
  cursor: auto;
}
.ztree li span.button.chk.checkbox_false_full {
  background-position: 0 0;
}
.ztree li span.button.chk.checkbox_false_full_focus {
  background-position: 0 -14px;
}
.ztree li span.button.chk.checkbox_false_part {
  background-position: 0 -28px;
}
.ztree li span.button.chk.checkbox_false_part_focus {
  background-position: 0 -42px;
}
.ztree li span.button.chk.checkbox_false_disable {
  background-position: 0 -56px;
}
.ztree li span.button.chk.checkbox_true_full {
  background-position: -14px 0;
}
.ztree li span.button.chk.checkbox_true_full_focus {
  background-position: -14px -14px;
}
.ztree li span.button.chk.checkbox_true_part {
  background-position: -14px -28px;
}
.ztree li span.button.chk.checkbox_true_part_focus {
  background-position: -14px -42px;
}
.ztree li span.button.chk.checkbox_true_disable {
  background-position: -14px -56px;
}
.ztree li span.button.chk.radio_false_full {
  background-position: -28px 0;
}
.ztree li span.button.chk.radio_false_full_focus {
  background-position: -28px -14px;
}
.ztree li span.button.chk.radio_false_part {
  background-position: -28px -28px;
}
.ztree li span.button.chk.radio_false_part_focus {
  background-position: -28px -42px;
}
.ztree li span.button.chk.radio_false_disable {
  background-position: -28px -56px;
}
.ztree li span.button.chk.radio_true_full {
  background-position: -42px 0;
}
.ztree li span.button.chk.radio_true_full_focus {
  background-position: -42px -14px;
}
.ztree li span.button.chk.radio_true_part {
  background-position: -42px -28px;
}
.ztree li span.button.chk.radio_true_part_focus {
  background-position: -42px -42px;
}
.ztree li span.button.chk.radio_true_disable {
  background-position: -42px -56px;
}

.ztree li span.button.switch {
  width: 18px;
  height: 18px;
}
.ztree li span.button.root_open {
  background-position: -92px -54px;
}
.ztree li span.button.root_close {
  background-position: -74px -54px;
}
.ztree li span.button.roots_open {
  background-position: -92px 0;
}
.ztree li span.button.roots_close {
  background-position: -74px 0;
}
.ztree li span.button.center_open {
  background-position: -92px -18px;
}
.ztree li span.button.center_close {
  background-position: -74px -18px;
}
.ztree li span.button.bottom_open {
  background-position: -92px -36px;
}
.ztree li span.button.bottom_close {
  background-position: -74px -36px;
}
.ztree li span.button.noline_open {
  background-position: -92px -72px;
}
.ztree li span.button.noline_close {
  background-position: -74px -72px;
}
.ztree li span.button.root_docu {
  background: none;
}
.ztree li span.button.roots_docu {
  background-position: -56px 0;
}
.ztree li span.button.center_docu {
  background-position: -56px -18px;
}
.ztree li span.button.bottom_docu {
  background-position: -56px -36px;
}
.ztree li span.button.noline_docu {
  background: none;
}

.ztree li span.button.ico_open {
  margin-right: 2px;
  background-position: -110px -16px;
  vertical-align: top;
  *vertical-align: middle;
}
.ztree li span.button.ico_close {
  margin-right: 2px;
  background-position: -110px 0;
  vertical-align: top;
  *vertical-align: middle;
}
.ztree li span.button.ico_docu {
  margin-right: 2px;
  background-position: -110px -32px;
  vertical-align: top;
  *vertical-align: middle;
}
.ztree li span.button.edit {
  margin-right: 2px;
  background-position: -110px -48px;
  vertical-align: top;
  *vertical-align: middle;
}
.ztree li span.button.remove {
  margin-right: 2px;
  background-position: -110px -64px;
  vertical-align: top;
  *vertical-align: middle;
}

.ztree li span.button.ico_loading {
  margin-right: 2px;
  background: url(./img/loading.gif) no-repeat scroll 0 0 transparent;
  vertical-align: top;
  *vertical-align: middle;
}

ul.tmpTargetzTree {
  background-color: #ffe6b0;
  opacity: 0.8;
  filter: alpha(opacity=80);
}

span.tmpzTreeMove_arrow {
  width: 16px;
  height: 16px;
  display: inline-block;
  padding: 0;
  margin: 2px 0 0 1px;
  border: 0 none;
  position: absolute;
  background-color: transparent;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: -110px -80px;
  background-image: url('./img/zTreeStandard.png');
  *background-image: url('./img/zTreeStandard.gif');
}

ul.ztree.zTreeDragUL {
  margin: 0;
  padding: 0;
  position: absolute;
  width: auto;
  height: auto;
  overflow: hidden;
  background-color: #cfcfcf;
  border: 1px #00b83f dotted;
  opacity: 0.8;
  filter: alpha(opacity=80);
}
.zTreeMask {
  z-index: 10000;
  background-color: #cfcfcf;
  opacity: 0;
  filter: alpha(opacity=0);
  position: absolute;
}

/* level style*/
/*.ztree li span.button.level0 {
	display:none;
}
.ztree li ul.level0 {
	padding:0;
	background:none;
}*/

.ztree li {
  position: relative;
}
.ztree .ztree-row {
  position: relative;
  padding: 5px 0;
}
.ztree .ztree-row .ztree-diy-control {
  display: none;
}
.ztree .ztree-row:hover {
  background: #e4eefc;
}
.ztree .ztree-row:hover .ztree-diy-control {
  display: block;
  cursor: pointer;
  background: white;
}
.ztree li > .ztree-diy-control {
  display: none;
}

.ztree li:hover > .ztree-diy-control {
  display: block;
}
.ztree-diy-control {
  position: absolute;
  width: 28px;
  height: 28px;
  line-height: 28px;
  right: 0;
  top: 0;
  color: #999;
  text-align: center;
  font-family: iconfont;
}
.ztree .ztree-row .ztree-diy-control:hover {
  color: #488cee;
}
.well-select-control-element {
  margin-top: 20px;
}
.ztree .well-select-control-element .well-select-control-element-event .add-bro {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.ztree .well-select-control-element .well-select-control-element-event .add-child {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.ztree li span.button {
  background-image: url('./img/well_tree_icon_new.png');
}
.ztree li span.button.roots_close,
.ztree li span.button.root_close,
.ztree li span.button.center_close,
.ztree li span.button.bottom_close,
.ztree li span.button.noline_close {
  margin-right: 6px;
  background-position: -85px -135px;
}
.ztree li span.button.roots_open,
.ztree li span.button.root_open,
.ztree li span.button.center_open,
.ztree li span.button.bottom_open,
.ztree li span.button.noline_open {
  margin-right: 6px;
  background-position: -115px -135px;
}
.ztree li span.button.ico_close {
  margin-right: 8px;
  background-position: -143px 0;
  vertical-align: sub;
  *vertical-align: sub;
}
.ztree li span.button.ico_open {
  margin-right: 8px;
  background-position: -143px -34px;
  vertical-align: sub;
  *vertical-align: sub;
}

.ztree li ul.line {
  background: none;
}
.ztree li ul {
  padding-left: 24px;
}
.ztree li span.button.roots_docu,
.ztree li span.button.center_docu,
.ztree li span.button.bottom_docu {
  /*display: none;*/
  background-position: -200px -69px;
  margin-right: 8px;
}
.ztree li span.button.ico_docu {
  margin-right: 8px;
  background-position: -143px -69px;
  vertical-align: middle;
}
.ztree li span.button.chk {
  width: 14px;
  height: 14px;
  margin: 2px 8px 0 0;
}

/* 复选框图标样式 */
.ztree li span.button.chk.checkbox_false_full {
  /* 父级未选，子级都未选中 - 正常效果 */
  background-position: 0 0;
}
.ztree li span.button.chk.checkbox_false_full_focus {
  /* 父级未选，子级都未选中 - 移入效果 */
  background-position: -15px 0px;
}
.ztree li span.button.chk.checkbox_false_part {
  /* 父级未选，子级部分选中 - 正常效果 */
  background-position: 0px -30px;
}
.ztree li span.button.chk.checkbox_false_part_focus {
  /* 父级未选，子级部分选中 - 移入效果 */
  background-position: -15px -30px;
}
.ztree li span.button.chk.checkbox_false_disable {
  /* 未选中 - 禁用效果 */
  background-position: -30px 0;
}
.ztree li span.button.chk.checkbox_true_full {
  /* 父级选中，子级全部选中 - 正常效果 */
  background-position: 0px -15px;
}
.ztree li span.button.chk.checkbox_true_full_focus {
  /* 父级选中，子级全部选中 - 移入效果 */
  background-position: -15px -15px;
}
.ztree li span.button.chk.checkbox_true_part {
  /* 父级选中，子级部分选中 - 正常效果 */
  background-position: 0px -45px;
}
.ztree li span.button.chk.checkbox_true_part_focus {
  /* 父级选中，子级部分选中 - 移入效果 */
  background-position: -15px -45px;
}
.ztree li span.button.chk.checkbox_true_disable {
  /* 选中 - 禁用效果 */
  background-position: -30px -15px;
}

/* 单选框图标样式 */
.ztree li span.button.chk.radio_false_full {
  /* 父级未选，子级都未选中 - 正常效果 */
  background-position: 0 -60px;
}
.ztree li span.button.chk.radio_false_full_focus {
  /* 父级未选，子级都未选中 - 移入效果 */
  background-position: -15px -60px;
}
.ztree li span.button.chk.radio_false_part {
  /* 父级未选，子级福分选中 - 正常效果 */
  background-position: 0 -60px;
}
.ztree li span.button.chk.radio_false_part_focus {
  /* 父级未选，子级福分选中 - 移入效果 */
  background-position: -15px -60px;
}
.ztree li span.button.chk.radio_false_disable {
  /* 父级未选 - 禁用效果 */
  background-position: -30px -60px;
}
.ztree li span.button.chk.radio_true_full {
  /* 父级选中，子级都选中 - 正常效果 */
  background-position: 0 -75px;
}
.ztree li span.button.chk.radio_true_full_focus {
  /* 父级选中，子级都选中 - 移入效果 */
  background-position: -15px -75px;
}
.ztree li span.button.chk.radio_true_part {
  /* 父级选中，子级部分选中 - 正常效果 */
  background-position: 0 -75px;
}
.ztree li span.button.chk.radio_true_part_focus {
  /* 父级选中，子级部分选中 - 移入效果 */
  background-position: -15px -75px;
}
.ztree li span.button.chk.radio_true_disable {
  /* 父级选中 - 禁用效果 */
  background-position: -30px -75px;
}

.tree-select-result {
  /*height: 34px;*/
  padding: 5px;
  border: 1px solid #ddd;
  border-radius: 3px;
}
.cke_reset_all .ztree_select_div,
.ztree_select_div {
  position: relative;
  margin: -10px;
  padding: 10px;
  background: #fafafa;
}

.cke_reset_all .ztree_select_div input:focus,
.ztree_select_div input:focus {
  -webkit-box-shadow: 0 0 4px 0 rgba(72, 140, 238, 0.5) !important;
  box-shadow: 0 0 4px 0 rgba(72, 140, 238, 0.5) !important;
}

.ztree_select_div .search-icon {
  position: absolute;
  top: 8px;
  bottom: 8px;
  right: 10px;
  width: 30px;
  text-align: center;
}
.ztree_select_div .search-icon i {
  position: absolute;
  top: 50%;
  right: 8px;
  line-height: 1;
  font-size: 20px;
  color: #488cee;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
.ztree {
  margin-top: 10px !important;
}
.ztree li span.button.noline_docu {
  margin-right: 8px;
}

.ztree .ztree-row.w-zTree-disabled {
  background: #fff !important;
}
.ztree .ztree-row .node_name {
  font-size: 14px;
}
.ztree .ztree-row.w-zTree-disabled .node_name {
  color: #999;
  vertical-align: middle;
}

.ztree-row.w-curSelectedNode {
  background: rgba(72, 140, 238, 0.15);
}

.w-zTree-content {
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.2);
}
.well-select-multiple + .w-zTree-content .ztree-row.w-curSelectedNode {
  background: #fff;
}

.w-zTree-content .level1 .ztree-row,
.unit-table .ztree .level1 .ztree-row {
  margin-left: -24px;
  padding-left: 24px;
}
.w-zTree-content .level2 .ztree-row,
.unit-table .ztree .level1 .ztree-row {
  margin-left: -48px;
  padding-left: 48px;
}
.w-zTree-content .level3 .ztree-row,
.unit-table .ztree .level1 .ztree-row {
  margin-left: -72px;
  padding-left: 72px;
}
.w-zTree-content .level4 .ztree-row,
.unit-table .ztree .level1 .ztree-row {
  margin-left: -96px;
  padding-left: 96px;
}
.w-zTree-content .level5 .ztree-row,
.unit-table .ztree .level1 .ztree-row {
  margin-left: -120px;
  padding-left: 120px;
}
.w-zTree-content .level6 .ztree-row,
.unit-table .ztree .level1 .ztree-row {
  margin-left: -144px;
  padding-left: 144px;
}

.w-zTree-content input[type='checkbox'] {
  display: none;
}
.w-zTree-content input[type='checkbox'] + label {
  margin-right: 20px;
  padding: 0;
  line-height: 24px;
  vertical-align: text-top;
  font-size: 14px;
  font-family: iconfont !important;
  font-weight: normal;
  color: #666;
}

.w-zTree-content input[type='checkbox'] + label {
  margin-right: 0;
}
.w-zTree-content input[type='checkbox'] + label:before {
  content: '\e8f2';
  margin-right: 5px;
  color: #666 !important;
}
.w-zTree-content input[type='checkbox']:checked + label:before {
  content: '\e8de';
  color: #488cee !important;
}
