@CHARSET "UTF-8";
/* 公共样式开始 */
body {
	background-color: #fff;
}
/* 公共样式结束 */

/*	事件处理开始	*/
.event-handler {
	cursor: pointer;
}
/*	事件处理结束	*/

/*	HTML组件开始	*/
.ui-wHtml {
	overflow: visible;
}
/*	HTML组件结束	*/

/*	组织树开始	*/
.ui-wUnitTree>.panel {
	overflow: auto;
}
/*	组织树结束	*/

/*	绝对布局组件开始	*/
.ui-wAbsoluteLayout {
	overflow: auto;
}
/*	绝对布局组件结束	*/

/* 面板组件开始 */
.ui-wPanel .panel-heading {
	padding: 0;
	height: 38px;
}

.ui-wPanel .panel-heading .panel-title {
	padding: 10px 15px;
	float: left;
}

.ui-wPanel .panel-heading .panel-heading-query {
	padding: 2px;
	float: left;
}
/* 面板组件结束 */

/* 浏览器加载进度条开始 */
.pace {
	height: 2px;
}

.pace .pace-progress {
	height: 2px;
}

.pace .pace-activity {
	background-image: none;
}
/* 浏览器加载进度条结束 */

/* 表单开始 */
.dyform  .title {
	background: none repeat scroll 0 0 #18b3e1;
	color: #fff;
}

.dyform  .title {
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	position: relative;
	min-height: 38px;
	background: #f7f7f7;
	background-image: -webkit-linear-gradient(top, #ffffff 0%, #eeeeee 100%);
	background-image: -o-linear-gradient(top, #ffffff 0%, #eeeeee 100%);
	background-image: linear-gradient(to bottom, #ffffff 0%, #eeeeee 100%);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffeeeeee', GradientType=0);
	color: #FFF;
	border-bottom: 1px solid #DDD;
	padding-left: 12px;
}

.dyform  .title:before, .title:after {
	content: "";
	display: table;
	line-height: 0;
}

.dyform  .title:after {
	clear: right;
}

.dyform  .title.fixed {
	position: fixed;
	top: 0;
	z-index: 99;
	border-top: 1px solid #e7eaec;
}

.dyform  .title {
	border-color: #307ecc;
}

.dyform  .title {
	background: #307ecc;
	border-color: #307ecc;
}
/* 表单结束 */

/* 表单的jqgrid开始 */
.dyform .ui-jqgrid-view {
	border-color: #307ecc;
}

.dyform .ui-jqgrid .ui-jqgrid-titlebar {
	background: #307ecc;
	border-color: #307ecc;
}

.dyform .ui-jqgrid .ui-jqgrid-titlebar span>button {
	background: url(../../images/icon.png) no-repeat scroll 0 -165px transparent;
	border: 1px solid #DEE1E2;
	color: #0F599C;
	font-family: "Microsoft YaHei";
	font-size: 12px;
	height: 22px;
	margin-left: 4px;
	padding: 0 5px;
}

.dyform .ui-th-column, .ui-jqgrid .ui-jqgrid-htable th.ui-th-column, .ui-jqgrid .ui-jqgrid-htable th div {
	color: #707070;
	font-weight: normal;
	background: #F2F2F2;
	background-image: -webkit-linear-gradient(top, #f8f8f8 0%, #ececec 100%);
	background-image: -o-linear-gradient(top, #f8f8f8 0%, #ececec 100%);
	background-image: linear-gradient(to bottom, #f8f8f8 0%, #ececec 100%);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff8f8f8', endColorstr='#ffececec', GradientType=0);
}

.dyform .ui-jqgrid .ui-jqgrid-bdiv {
	overflow-x: hidden;
}
/* 表单的jqgrid结束 */

/* 表单控件开始 */
.dyform input, select, .labelclass, .editableClass {
	margin-top: 1em;
	margin-bottom: 1em;
}

input[readonly] {
	color: #939192;
	background: #f5f5f5 !important;
	cursor: default;
}

textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"],
	input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"],
	input[type="search"], input[type="tel"], input[type="color"] {
	border-radius: 0 !important;
	color: #858585;
	background-color: #ffffff;
	border: 1px solid #d5d5d5;
	padding: 5px 4px 6px;
	font-size: 14px;
	font-family: inherit;
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
	-webkit-transition-duration: 0.1s;
	transition-duration: 0.1s;
}

textarea:hover, input[type="text"]:hover, input[type="password"]:hover, input[type="datetime"]:hover, input[type="datetime-local"]:hover,
	input[type="date"]:hover, input[type="month"]:hover, input[type="time"]:hover, input[type="week"]:hover, input[type="number"]:hover,
	input[type="email"]:hover, input[type="url"]:hover, input[type="search"]:hover, input[type="tel"]:hover, input[type="color"]:hover
	{
	border-color: #b5b5b5;
}

textarea:focus, input[type="text"]:focus, input[type="password"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus,
	input[type="date"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, input[type="number"]:focus,
	input[type="email"]:focus, input[type="url"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="color"]:focus
	{
	-webkit-box-shadow: none;
	box-shadow: none;
	color: #696969;
	border-color: #f59942;
	background-color: #ffffff;
	outline: none;
}

.dyform  .Wdate {
	height: 30px;
}

.dyform .WdateFmtErr {
	font-weight: bold;
	color: red;
}

.dyform select {
	border-radius: 0;
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
	color: #858585;
	background-color: #ffffff;
	border: 1px solid #d5d5d5;
	width: 100%;
}

.dyform .form-control:focus, select:focus {
	color: #696969;
	border-color: #f59942;
	background-color: #ffffff;
	outline: none;
}

.dyform  textarea.form-control {
	padding: 5px 9px;
}

.dyform select {
	padding: 3px 4px;
	height: 30px;
}

.dyform select.form-control {
	padding: 4px 6px;
}

.dyform select[multiple], .dyform select.form-control[multiple] {
	height: auto;
}

.dyform select.input-sm {
	border-radius: 0;
	padding: 2px 3px;
}

.dyform select.input-lg {
	border-radius: 0;
	padding: 6px 8px;
}

.dyform #upload_div .add_icon {
	margin-left: 4px
}

.dyform ul.attach-listoa_file {
	margin-bottom: 0;
}

.dyform .attach-listoa_file input {
	margin-top: 0;
	margin-bottom: 0;
}
/* 表单控件结束 */

/* 表单验证开始 */
.dyform .Validform_checktip span.error:after {
	border-bottom: 6px solid #B94A48;
	border-left: 6px solid rgba(0, 0, 0, 0);
	border-right: 6px solid rgba(0, 0, 0, 0);
	content: "";
	display: block;
	left: 7px;
	position: absolute;
	top: -6px;
}

.dyform .Validform_checktip span.error {
	background: none repeat scroll 0 0 #B94A48;
	border-radius: 3px;
	color: #FFFFFF;
	font-size: 11px;
	font-weight: 600;
	margin-bottom: 1em;
	padding: 4px 8px;
	z-index: 9999;
	position: relative;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.35);
	width: 200px;
	display: block;
	/*  top: 5px; */
}
/* 表单验证结束 */

/* 组织选择框开始 */
.ui-dialog {
	padding: 0;
}

.ui-dialog .ui-widget-header {
	background: url("../../images/v1_icon.png") repeat-x scroll 0 -53px transparent;
}

.ui-dialog .ui-widget-header {
	border: 1px solid #4297d7;
	/*     background: #5c9ccc url(../../images/ui-bg_gloss-wave_55_5c9ccc_500x100.png) 50% 50% repeat-x; */
	color: #fff;
	font-weight: bold;
}

/* .ui-dialog .ui-dialog-titlebar-close .ui-icon { */
/* 	background: url(../../images/v1_close_btn.png) no-repeat scroll 0 0 transparent; */
/* 	height: 32px; */
/* 	margin-left: 0; */
/* 	margin-top: 4px; */
/* 	width: 32px; */
/* } */
.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br {
	border-bottom-right-radius: 0;
}

.ui-corner-all, .ui-corner-bottom, .ui-corner-left, .ui-corner-bl {
	border-bottom-left-radius: 0;
}

.ui-corner-all, .ui-corner-top, .ui-corner-right, .ui-corner-tr {
	border-top-right-radius: 0;
}

.ui-corner-all, .ui-corner-top, .ui-corner-left, .ui-corner-tl {
	border-top-left-radius: 0;
}
/* 组织选择框结束 */

/* 数据管理开始 */
.dms-history-version-table td.remark {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	max-width: 200px;
}
/* 数据管理结束 */
/** fullcalendar 组件样式 start */
.ui-wFullCalendar .fixed-calendar-toolbar .btn-query > i,
.ui-wFullCalendar .fixed-calendar-toolbar .btn-reset > i {
  margin-right: 5px;
  vertical-align: -1px;
}
.ui-wFullCalendar .fixed-calendar-toolbar:after {
  content: "";
  display: table;
  clear: both;
  visibility: hidden;
}
.fixed-calendar-toolbar .columns-right {
    margin-left: 5px;
}
.fixed-calendar-toolbar .bs-bars, .fixed-calendar-toolbar .columns, .fixed-calendar-toolbar .search {
    position: relative;
    margin-top: 10px;
    margin-bottom: 10px;
    line-height: 34px;
}

.jquery-ui-tips .panel-default .panel-body .fixed-calendar-toolbar {
  margin-right: 10px;
}
.list .col-xs-9 .panel-default .panel-body .fixed-calendar-toolbar {
  clear: both;
  margin-bottom: 5px;
}
.list .col-xs-9 .panel-default .panel-body .fixed-calendar-toolbar .btn-group > .btn {
  margin: 0 5px;
  border-radius: 4px !important;
  padding: 3px 13px 5px 13px;
}
.list .col-xs-9 .panel-default .panel-body .fixed-calendar-toolbar .btn-group > .btn::before {
  font-size: 12px;
  padding-right: 5px;
}
/** fullcalendar 组件样式 end */