.tag-editor:hover {
  border: @border-default-primary;
  box-shadow: @shadow-active-default;
}
.addOrgUser,
.email-receipt .email-receipt-text i,
.mail-clear-recent-contact {
  color: @primary-color !important;
}
.email-receipt {
  border-color: @primary-color !important;
}
