.ui-wNavbar .navbar.ui-navbar {
  border-radius: 0;
  border: 0;
  margin: 0;
}
.ui-wNavbar .ui-navbar-nav {
  margin-left: 62px;
  border-bottom: 0;
  float: left;
}
.ui-wNavbar .ui-navbar-nav > li > a {
  margin-right: 0;
  padding: 0 20px;
  line-height: 50px;
  border: 0;
  border-radius: 0;
  font-size: 15px;
}
.ui-wNavbar .ui-navbar-nav > li > a span {
  margin-right: 4px;
  top: 2px;
}
.ui-wNavbar .ui-navbar-nav > li.active > a:hover,
.ui-wNavbar .ui-navbar-nav > li.active > a:focus {
  border: 0;
}
.ui-wNavbar .ui-navbar-nav li {
  position: relative;
}
.ui-wNavbar .ui-navbar-nav li > .nav-dropdown {
  position: absolute;
  left: 100%;
  top: 0;
}
.ui-wNavbar .navbar-right {
  margin: 0;
}
.ui-wNavbar .navbar-right > li {
  display: inline-block;
}
.ui-wNavbar .navbar-right > li > a {
  line-height: 50px;
  padding-top: 0px;
  padding-bottom: 0px;
}
.ui-wNavbar .navbar-right > li > a span {
  margin-right: 2px;
}
