/**
空图表组件
*/
// json配置项
.jsoneditor-menu {
  .size(100%,35px);

  background-color: @primary-color;
  border-bottom: @border-default;
  border-radius: @border-radius-base @border-radius-base 0 0;

  padding: 2px;
  margin: 0;
  box-sizing: border-box;
  color: white;
}
