//底部模块开始
.ui-wFooter{
    position: absolute;
    bottom:0; 
    left:0 ; 
    width:100%; 
    z-index: 10;
    height: 40px;
    line-height:40px; 
    p{
        margin:0;
    }
    .help-info{
        margin:0;
        a{
            line-height:30px;
        }
        .glyphicon:before{
            padding-right:5px
        }
        .fa{
            text-decoration: none;
        }
    }
}
//底部模块结束