/* 行业设置  (来源 `default.less` ) */
.business_set_form .ztree li {
  a {
    height: @height-md;
    vertical-align: middle;
    line-height: @height-md;
  }

  span.button {
    vertical-align: middle;
  }
}

.fixed-table-toolbar .btn-group > .btn-group {
  float: none;
  vertical-align: bottom;
}
