//base variable

//基本颜色
@themebgcolor: #488cee; //主题背景颜色

@themebg-darker:darken (@themebgcolor,9.5%); //主题背景颜色暗色

@themebg-lighter:lighten (@themebgcolor,9.5%); //主题背景颜色亮色

@hovercolor:negation (@themebgcolor,#fff);

@fontBaseColor: #404040; //默认字体颜色

@titleColor: #333; //标题字体颜色

@descColor: #999; //修饰字体颜色

@default: #c2c2c2;

@primary: @themebgcolor;

@info: #59c8e4;

@warning: #eaa429;

@danger: #e65c20;

@success: #5cce66;

@warning-light: #f8ac59;

@inverse: #262626;

@white: #fff;

@disable: #ccc;

@bodybg: #f0f2f6;

/*hover color variables*/
@default-hover:darken (@default,10%);

@primary-hover:darken (@primary,10%);

@info-hover:darken (@info,10%);

@warning-hover:darken (@warning,10%);

@danger-hover:darken (@danger,10%);

@success-hover:darken (@success,10%);

/*disabled color variables*/
@default-disabled:lighten (@default,10%);

@primary-disabled:lighten (@primary,10%);

@info-disabled:lighten (@info,10%);

@warning-disabled:lighten (@warning,10%);

@danger-disabled:lighten (@danger,10%);

@success-disabled:lighten (@success,10%);

//基本字体字号

@fontBaseSize: 14px; //默认字体大小

@font-lg: 18px; //大号字体大小

@font-sm: 12px; //小号字体大小

//常见元素高度

@inputHeight: 35px;

@lineHeight: 1.6;

@borderColor: #ccc;

@labelTdBackground: #f1f1f1;

@lihoverbg: #c8e9f5;

//具体模块主题变量

@leftSideNavbg: @background-light;

//表单模块样式
@dyform-color: #d6effe;

@dyform-header-bg: #fafafa;
