//base variable

//基本颜色
@themebgcolor:#fff;//主题背景颜色

@themebg-darker:darken(@themebgcolor,9.5%); //主题背景颜色暗色

@themebg-lighter:lighten(@themebgcolor,9.5%); //主题背景颜色亮色

@hoverColor:negation(@themebgcolor,#fff);

@fontBaseColor:#404040; //默认字体颜色

@titleColor:#333; //标题字体颜色

@descColor:#999; //修饰字体颜色

@default:#c2c2c2;

@primary:#01a5ff;

@info:#59c8e4;

@warning:#eaa429;

@danger:#e65c20;

@success:#5cce66;

@warning-light:#f8ac59;

@inverse:#262626;

@white:#fff;

@disable:#ccc;

@bodybg:#f2f4f8;

@dyform-color:#d6effe;

/*hover color variables*/
@default-hover:darken(@default,10%);

@primary-hover:darken(@primary,10%);

@info-hover:darken(@info,10%);

@warning-hover:darken(@warning,10%);

@danger-hover:darken(@danger,10%);

@success-hover:darken(@success,10%);

/*disabled color variables*/
@default-disabled:#ccc;

@primary-disabled:#a6d2ff;

@info-disabled:#a4ebff;

@warning-disabled:#ffdaa4;

@danger-disabled:#ffa4a4;

@success-disabled:#c3ed8c;

//基本字体字号

@fontBaseSize:14px; //默认字体大小

@font-lg:18px;//大号字体大小

@font-sm:12px;//小号字体大小

//常见元素高度

@inputHeight: 35px;

@lineHeight: 1.6;

@borderColor:#ccc;

@labelTdBackground:#f1f1f1;

@lihoverbg:#c8e9f5;
