<form action="" id="privilege_form" class="" style="margin-top: 15px;padding:0 30px;box-sizing: border-box;">
    <ul class="form-table">
        <li>
            <div class="row">
                <button id="btn_button_config_add" type="button" data-apply="1"
                        class="well-btn w-btn-primary btn-add-rows"><i class="glyphicon glyphicon-plus"></i>新增
                </button>
                <button id="btn_button_config_del" type="button" class="well-btn w-btn-danger btn-del-rows"><i
                        class="glyphicon glyphicon-trash"></i>删除
                </button>
                <button id="btn_button_config_move_up" type="button"
                        class="well-btn w-btn-primary w-line-btn btn_button_config_move_up"><i
                        class="glyphicon glyphicon-arrow-up"></i>上移
                </button>
                <button id="btn_button_config_move_down" type="button"
                        class="well-btn w-btn-primary w-line-btn btn_button_config_move_down"><i
                        class="glyphicon glyphicon-arrow-down"></i>下移
                </button>
                通过移动调整顺序，对应附件控件中显示的附件按钮顺序
            </div>
            <table id="button_config_list" class="button_config_list"></table>
        </li>
    </ul>
    <div class="row" style="margin-top: 20px;">
        <div class="col-sm-12 text-center">
            <button type="button" class="well-btn w-btn-primary" id="file_list_button_config_btn_save">保存</button>
        </div>
    </div>
</form>

