BODY,
.BODY_SELECT {
    FONT-SIZE: 12px;
    FONT-FAMILY: "Microsoft YaHei", "Arial", "Ms Sans Serif";
    BACKGROUND-COLOR: #FFFFFF;
    MARGIN: 0px;
    overflow-x: auto;
    overflow-y: auto;
    scrollbar-face-color: #DADADA;
    scrollbar-highlight-color: #FFFFFF;
    scrollbar-3dlight-color: #DADADA;
    scrollbar-darkshadow-color: #DADADA;
    scrollbar-shadow-color: #808080;
    scrollbar-arrow-color: #999999;
    scrollbar-track-color: #DADADA;
}

A {
    FONT-FAMILY: "Microsoft YaHei", "Arial", "Ms Sans Serif";
    FONT-SIZE: 12px;
    COLOR: #000000;
    TEXT-DECORATION: none;
}

A:hover {
    COLOR: #FF0000;
    TEXT-DECORATION: underline;
}

FORM {
    margin: 0px;
    padding: 0px;
}

INPUT {
    FONT-FAMILY: "Microsoft YaHei", "Arial", "Ms Sans Serif";
    FONT-SIZE: 12px;
}

TEXTAREA {
    FONT-FAMILY: "Microsoft YaHei", "Arial", "Ms Sans Serif";
    FONT-SIZE: 12px;
    width: 100%;
}

SELECT {
    FONT-FAMILY: "Microsoft YaHei", Arial, "Ms Sans Serif";
    FONT-SIZE: 12px;
    width: 100%;
}

IMG {
    BORDER: 0px;
}

HR {
    size: 1px;
}

TABLE {
    font-size: 9px;
    margin: 0;
    padding: 0;
}

TD {
    FONT-FAMILY: "Microsoft YaHei", "Arial", "Ms Sans Serif";
    FONT-SIZE: 12px;
    FONT-STYLE: normal;
}

FONT {
    FONT-SIZE: 12px;
}


/* 清除浮动 */

.ks-clear:after,
.clear:after {
    content: '\20';
    display: block;
    height: 0;
    clear: both;
}

.ks-clear,
.clear {
    *zoom: 1;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.LabelText {
    text-align: left;
    padding-left: 15px;
    padding-top: 4px;
    padding-bottom: 3px;
    width: 25%;
}

.Remark {
    color: gray;
}


/* .DropDown { */


/* 	font-size: small; */


/* 	background-color: white; */


/* 	background-repeat: no-repeat; */


/* 	background-position: center; */


/* 	background-image: url(act_Down.gif); */


/* 	width: 17pt; */


/* 	height: 17pt; */


/* 	vertical-align: top;  */


/* 	border: 1px solid white; */


/* } */

.HotSpot {
    text-align: left;
    color: blue;
    padding-top: 2px;
    border: 0px solid;
    background-color: transparent;
    width: auto;
    height: auto;
    cursor: pointer;
}

.RADIO {
    border: 0px;
    width: auto;
}

.CHECKBOX {
    border: 0px;
    width: auto;
}

.BORDER_INSET {
    word-break: break-all;
    border: 1px inset;
}

.BORDER_BUTTON {
    padding-top: 3px;
    padding-bottom: 1px;
    border: 1px outset;
    background-color: #DADADA;
    width: auto;
}

.Date {
    border: 1px inset;
    word-break: break-all;
    background-image: url(act_calendar.gif);
    background-position: right center;
    background-repeat: no-repeat;
    width: 90px;
}

.Time {
    border: 1px inset;
    word-break: break-all;
    background-image: url(act_time.gif);
    background-position: right center;
    background-repeat: no-repeat;
    width: 70px;
}


/*************************ҳǩ(Start)*************************/

.PageLabel {
    padding: 10px;
    border-top: 0px outset;
    border-bottom: 1px outset;
    border-left: 1px #EEEEEE solid;
    border-right: 1px outset;
    width: 90%;
}

.PageLabel_Head {
    width: 90%;
    height: 22px;
    cursor: default;
}

.PageLabel_Head .Bar {
    border-collapse: collapse;
    width: 100%;
    height: auto;
    margin: 0px;
}

.PageLabel_Head .Title {
    vertical-align: bottom;
    padding: 0px;
    border: 0px;
}

.PageLabel_Head .Blank {
    border-top: 0px;
    border-bottom: 1px solid #EEEEEE;
    border-left: 0px;
    border-right: 0px;
    width: 100%;
}

.PageLabel_Head .Label {
    line-height: 12pt;
    margin: 0px;
}

.PageLabel_Head .LABEL TD {
    padding: 0px;
    border: 0px;
}

.PageLabel_Head .LABEL SPAN {
    padding-top: 2px;
    padding-bottom: 0px;
    padding-left: 5px;
    padding-right: 5px;
    width: 100%;
    height: 100%;
}

.PageLabel_Head .Line {
    background-color: #EEEEEE;
}

.PageLabel_Head .Line_R1 {
    background-color: #DADADA;
}

.PageLabel_Head .Line_R2 {
    background-color: gray;
}

.PageLabel_Head .Btn_NoSel {
    white-space: nowrap;
    height: 20px;
}

.PageLabel_Head .Btn_Sel {
    font-weight: bold;
    white-space: nowrap;
    height: 21px;
}

.PageLabel_Head .Line_B_NoSel {
    background-color: #EEEEEE;
    height: 1px;
}

.PageLabel_Head .Line_B_Sel {
    background-color: #DADADA;
    height: 1px;
}


/*************************ҳǩ(End)*************************/

.Foot {
    text-align: right;
    background-color: #f8e6e6;
}

.Foot .Line {
    font-size: 0px;
    border-top: 1px solid #e40500;
}

.Foot SPAN.Btn {
    font-family: "����", "Arial", "Helvetica", "sans-serif";
    font-size: 12px;
    color: #000000;
    font-weight: normal;
    vertical-align: middle;
    letter-spacing: 6px;
    line-height: 125%;
    white-space: nowrap;
    text-align: center;
    padding-top: 4px;
    padding-bottom: 2px;
    padding-left: 12px;
    padding-right: 12px;
    border: 1px solid #8B0000;
    background-color: #FFFFFF;
    width: 50px;
    height: 20px;
    cursor: pointer;
}


/*************************(Start)*************************/

.unit-content .ztree {
    width: max-content;
    min-width: 100%;
    padding: 0px;
    height: 100%;
    margin-top: auto !important;
    overflow: unset;
}
.unit-content .ztree.limited-width .node_name{
  width: 8em;
}
.unit-content .ztree .ztree-row:hover,
.unit-content .ztree-row.w-curSelectedNode {
  /* background: transparent; */
}
.unit-content .ztree .ztree-row span {
  line-height: 23px;
  vertical-align: middle;
}
.unit-content .ztree .ztree-row .node_name {
  padding: 0 5px;
}
.unit-content .ztree .ztree-row .node_name:hover {
  background: #e4eefc;
}
.unit-content .ztree * {
    /*font-size: 14px;*/
}

.unit-content .ztree li {
    /*line-height: 28px;*/
}

.unit-content .ztree li .ztree-row {
    width: 100%;
}

.unit-content .ztree li.hover {
    /*background-color: #E4EEFC;*/
}

.unit-content .ztree li.hover>ul {
    background-color: #FFFFFF;
}

.unit-content .ztree li a {
    height: auto;
    line-height: 23px;
    vertical-align: middle;
}

.unit-content .ztree li a:hover {
    text-decoration: none;
}

.unit-content .ztree li a>span {
    color: #666666;
    line-height: 18px;
}

.unit-content .ztree li a>span.node_name {
    /* width: 8em; */
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.unit-content .ztree li a.level0 > .U_ico_docu + .node_name,
.unit-content .ztree li a.level1 > .U_ico_docu + .node_name{
  /* width: 6em; */
}

.unit-content .ztree li a.level0>span.node_name {
    /* width: 260px; */
}

.unit-content .ztree li a.level1>span.node_name {
    /* width: 240px; */
}

.unit-content .ztree li a.level2>span.node_name {
    /* width: 220px; */
}

.unit-content .ztree li a.level3>span.node_name {
    /* width: 200px; */
}

.unit-content .ztree li a.level4>span.node_name {
    /* width: 180px; */
}

.unit-content .ztree li a.level5>span.node_name {
    /* width: 160px; */
}

.unit-content .ztree li a>span.node-dj {
    /* width: 12em; */
    color: #999999;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.ui-dialog {
    font-family: "Microsoft YaHei";
    padding: 0;
}

.ui-dialog .ui-widget-header {
    background: #4297d7;
    border: 1px solid #4297d7;
    color: #fff;
    font-weight: bold;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.ui-dialog .ui-widget-header .ui-button,
.ui-dialog .ui-widget-header .ui-button:hover {
    background: none;
    border: 0;
}

.DIVBORDER {
    border: 1px #cccccc solid;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    BACKGROUND-COLOR: #ffffff;
    padding: 5px;
    overflow: auto;
}

.UT-cont {
    margin: 0px;
    padding: 0px;
    font-family: tahoma;
    white-space: nowrap;
}

.UT-item {
    margin: 0px;
    padding: 0px;
    /*font-family:tahoma;*/
    white-space: nowrap;
    line-height: 22px;
    /*height: 22px;*/
    vertical-align: middle;
}

.UT-icon {
    CURSOR: pointer;
    line-height: 22px;
    vertical-align: middle;
}

.UT-flagimg {
    padding-right: 5px;
    line-height: 22px;
    vertical-align: middle;
}

.UT-checkbox {
    CURSOR: pointer;
    line-height: 22px;
    height: 22px;
    vertical-align: top;
}

.UT-span {
    vertical-align: middle;
    line-height: 22px;
    text-align: center;
}

.UT-span-mouseover {
    CURSOR: pointer;
    line-height: 22px;
    text-align: center;
    vertical-align: middle;
    BACKGROUND-COLOR: #cccccc;
}

.clear {
    clear: both;
}

.unit-type {
    margin-bottom: 10px;
    padding: 10px 0px 8px 0px;
    background-color: #F4F8FB;
}

.unit-type {
    padding-left: 15px;
}

.unit-type .unit-select {
    width: 222px;
}

.unit-type .chosen-single {
    border-radius: 0 0 0 0;
}

.unit-type .chosen-single {
    background: none repeat scroll 0 0 #FAFAFA;
    box-shadow: none;
    height: 26px;
    line-height: 26px;
    color: #0F599C;
    border-top: 1px solid #D6D8D7;
    border-right: 1px solid #E7E8E9;
    border-bottom: 1px solid #D5D9DC;
    border-left: 1px solid #DFE1E0;
}

.unit-type .chosen-container-active .chosen-single {
    border-color: #4492C9;
}

.unit-type .chosen-drop {
    color: #0F599C;
}

.unit-type .chosen-container-active .chosen-drop {
    border-color: #4492C9;
}

#KeyWords {
    height: 25px;
    border: 1px solid #ccc;
    outline: none;
}

.left-tree,
.right-tree {
    position: relative;
    overflow: auto;
    background-color: #fff;
    padding: 5px;
    height: 380px;
    border-width: 1px 0px;
}

.unit-tree {
    height: 300px;
}

.unit-tree-left {
    width: 230px;
    height: 300px;
    margin-left: 15px;
}

.unit-tree-middle {
    width: 190px;
    height: 300px;
    margin-left: 20px;
}

.unit-tree-right {
    width: 255px;
    margin-left: 10px;
    height: 300px;
}

.unit-content {
    height: auto;
    margin-top: 20px;
    padding: 0px;
    margin-left: 21px;
    height: 470px;
}

.unit-left {
    height: 100%;
    width: 450px;
    float: left;
    background-color: #0f0;
    border: 1px #0f0 solid;
}

.unit-left-header {
    margin-left: 20px;
}

.unit-left-header-btn {
    float: left
}

.unit-right {
    height: 100%;
    width: 300px;
    float: right;
    background-color: #00f;
    border: 1px #00f solid;
}

.unit-table {
    border-collapse: collapse;
    border: 0px;
    overflow: hidden;
    background-color: #FFFFFF;
    margin: 0px;
    padding: 0px;
    border-bottom: 1px solid rgba(232, 232, 232, 1);
}

.unit-footer {
    padding: 0px;
    margin: 0px;
    height: 50px;
}

.form_operate {
    margin-top: 5px;
}

.dialog-btns {
    margin-top: 10px;
    text-align: center;
    line-height: 50px;
}

#ok,
#cancel {
    font-size: 14px;
    width: auto;
    height: 35px;
    line-height: 23px;
    padding: 6px 30px;
}

.unit-btn-blue {
    /*background: url("../../../../theme/images/btn_blue.png");*/
    background: #5bb3db;
    border: 0 none;
    height: 25px;
    line-height: 25px;
    margin-left: 5px;
    overflow: hidden;
    width: 50px;
    color: #fff;
    border-radius: 3px;
    cursor: pointer;
    outline: none;
}

.unit-btn-orange:hover {
    /*background: url("../../../../theme/images/btn_orange.png");*/
    background: #469fc7;
    border: 0;
}

.unit-btn-gray {
    /*background: url("../../../../theme/images/btn_gray.png");*/
    background: #c2c2c2;
    border: 0 none;
    height: 23px;
    line-height: 23px;
    margin-left: 5px;
    overflow: hidden;
    width: 50px;
    color: #fff;
    border-radius: 3px;
}

.form_operate label {
    position: relative;
}

.form_operate input {
    border-radius: 3px;
    cursor: pointer;
    display: inline-block;
    height: 26px;
    padding: 0 10px;
    margin: 0;
    line-height: 16px;
    background: #F4F6F7;
    color: #666;
    border: 1px solid #DEE1E2;
    vertical-align: middle;
    outline: none;
    display: none;
}

.form_operate input[type=checkbox],
.form_operate input[type=radio] {
    border: none;
    width: 14px;
    padding: 0 6px;
    margin: 0px 6px 0px 0px;
}

.form_operate label {
    cursor: pointer;
    font-size: 14px;
    height: 26px;
    color: #666;
    border-radius: 3px;
}

.form_operate input:hover,
.form_operate label:hover {
    /* 	color: #0F599C; */
    /* 	background:#ddd; */
    /*     border: 1px solid #488CEE; */
}


/*��֯ѡ������ΰ�ť��ʼ*/

.unit-list {
    float: left;
    width: 80px;
}

.unit-list-content {
    list-style: none;
    padding: 0;
    margin: 0;
}

.unit-list-content .unit-list-item {
    text-align: left;
    margin-top: 6px;
    padding: 7px 7px 7px 15px;
    color: #666;
    cursor: pointer;
    font-size: 14px;
    line-height: 14px;
    line-height: 20px;
    height: 20px;
    position: relative;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.unit-list-content .unit-list-item:hover,
.unit-list-content .unit-list-item.active {
    background: white;
    color: #488CEE;
}

.unit-list-content .unit-list-item.active:before {
    content: "";
    height: 20px;
    width: 3px;
    left: -1px;
    position: absolute;
    background: #488CEE;
    margin-right: 12px;
    display: inline-block;
    vertical-align: middle;
}

.ztree li a span[treenode_ico] {
    height: 14px;
    width: 14px;
    vertical-align: unset;
}

.ztree li a span.L_ico_open,
.ztree li a span.L_ico_close,
.ztree li a span.L_ico_docu .ztree li a span.D_ico_open,
.ztree li a span.D_ico_close,
.ztree li a span.D_ico_docu {
    background: url('../../../img/department.png') no-repeat;
    background-size: contain;
}

.ztree li a span.G_ico_open,
.ztree li a span.G_ico_close,
.ztree li a span.G_ico_docu {
    background: url('../../../img/group.png') no-repeat;
    background-size: contain;
}

.ztree li a span.U_ico_docu {
    background: url('../../../img/person-man.png') no-repeat;
    background-size: contain;
}

.ztree li a span.man_ico_docu {
    background: url('../../../img/person-man.png') no-repeat;
    background-size: contain;
}

.ztree li a span.women_ico_docu {
    background: url('../../../img/person-women.png') no-repeat;
    background-size: contain;
}

.ztree li a span.B_ico_open,
.ztree li a span.B_ico_close,
.ztree li a span.B_ico_docu {
    background: url('../../../img/company.png') no-repeat;
    background-size: contain;
}

.ztree li a span.E_ico_open,
.ztree li a span.E_ico_close,
.ztree li a span.E_ico_docu {
    background: url('../../../img/company.png') no-repeat;
    background-size: contain;
}

.ztree li a span.J_ico_open,
.ztree li a span.J_ico_close,
.ztree li a span.J_ico_docu {
    background: url('../../../img/job.png') no-repeat;
    background-size: contain;
}

.ztree li a span.O_ico_open,
.ztree li a span.O_ico_close,
.ztree li a span.V_ico_open,
.ztree li a span.V_ico_close,
.ztree li a span.O_ico_docu {
    background: url('../../../img/company.png') no-repeat;
    background-size: contain;
}

.ztree li a span.R_ico_open,
.ztree li a span.R_ico_close,
.ztree li a span.R_ico_docu {
    background: url('../../../img/role.png') no-repeat;
    background-size: contain;
}

.ztree li ul {
    padding-left: 20px;
}

.ztree li span.button.roots_close,
.ztree li span.button.root_close,
.ztree li span.button.center_close,
.ztree li span.button.bottom_close,
.ztree li span.button.noline_close {
    margin-right: 0px;
}

.ztree li span.button.roots_open,
.ztree li span.button.root_open,
.ztree li span.button.center_open,
.ztree li span.button.bottom_open,
.ztree li span.button.noline_open {
    margin-right: 0px;
}

.ztree li span.button.roots_docu,
.ztree li span.button.center_docu,
.ztree li span.button.bottom_docu {
    margin-right: 0px;
}

.ztree li span.button.ico_close {
    vertical-align: baseline;
    *vertical-align: baseline;
}

.ztree li span.button.ico_open {
    vertical-align: baseline;
    *vertical-align: baseline;
}

.unit-panel>.unit-table {
    height: 425px;
}

#keySearch {
    position: relative;
}

#KeyWords::placeholder,
#KeyWords2::placeholder {
    color: #ccc;
}

#KeyWords,
#KeyWords2 {
    color: #666666;
    position: relative;
    border-radius: 4px;
    padding: 10px 9px;
    font-size: 14px;
    height: 12px;
    line-height: 12px;
    border: 1px solid rgba(221, 221, 221, 1);
    outline: none;
}

#keySearch .icon-ptkj-dacha {
    display: none;
    position: absolute;
    right: 35px;
    top: 7px;
    font-size: 8px;
    border-radius: 50%;
    background: #F0F0F0;
    color: #999;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
}

input[type=text]:active,
input[type=text]:focus,
input[type=text]:hover {
    border: 1px solid rgba(72, 140, 238, 1) !important;
    box-shadow: 0px 0px 4px 0px rgba(72, 140, 238, 0.5);
}

#keySearch #ID_Search,
#keySearch #ID_Search2 {
    position: absolute;
    right: 8px;
    top: 6px;
    color: #488CEE;
    cursor: pointer;
    font-size: 20px;
    font-weight: 400;
}

#keySearch .ID_clear {
    position: absolute;
    right: 35px;
    top: 7px;
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    background: #F0F0F0;
    border-radius: 50%;
    cursor: pointer;
}

#keySearch .ID_clear i {
    color: #999;
    font-size: 12px;
    line-height: 21px;
}

#keySearch .ID_clear:hover i {
    color: #488CEE;
}

#keySearch #ID_SwitchView {
    color: #999999;
    position: absolute;
    right: -30px;
    top: 5px;
    cursor: pointer;
    padding: 3px;
    border-radius: 3px;
    font-size: 16px;
}

#keySearch #ID_SwitchView.active {
    color: #488CEE;
}

#keySearch #ID_SwitchView:hover {
    color: #488CEE;
}

#ID_OrgType {
    color: #666666;
    width: 97%;
    padding: 1px;
    margin: 5px 5px;
    height: 34px;
    font-size: 14px;
    border-radius: 4px;
    border: 1px solid rgba(221, 221, 221, 1);
}

#ID_OrgType:actvie,
#ID_OrgType:focus,
#ID_OrgType:hover {
    border: 1px solid rgba(72, 140, 238, 1);
}

#ID_SelectedText {
    height: 44px;
    line-height: 45px;
    background-color: #F6F6F6;
    text-align: left;
    padding-left: 15px;
    color: #999999;
    font-size: 14px;
}

#ID_LView {
    height: 100%;
}

.unit-list {
    width: 100px;
    height: 469px;
    background: #F6F6F6;
    padding: 0px 0px;
    border: 1px solid rgba(232, 232, 232, 1);
    overflow-y: auto;
}

.unit-panel {
    height: 100%;
    float: left;
    background-color: white;
    border-top: 1px solid rgba(232, 232, 232, 1);
}

.middle-panel {
    width: 160px;
    float: left;
    background-color: white;
    position: relative;
    border: 1px solid rgba(232, 232, 232, 1);
}

.unit-search-wrapper {
    padding: 5px 0px;
    background-color: #F6F6F6;
}

.left-tree .no-data {
    height: 35px;
    margin-top: 130px;
    line-height: 35px;
    font-size: 14px;
    color: #ccc;
    vertical-align: middle;
    text-align: center;
}

.middle-tree {
    padding: 5px;
    height: 380px;
    background-color: white;
    overflow-y: auto;
    margin: 0;
}

.middle-tree>li {
    color: #666666;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 14px;
    cursor: pointer;
    position: relative;
    list-style: none;
    height: 18px;
    line-height: 18px;
    padding: 5px 0 5px 6px;
}

.middle-tree>li>input {
    margin: 0px;
    height: 15px;
    width: 15px;
    vertical-align: middle;
    display: none;
}

.middle-tree>li>label {
    cursor: pointer;
}


/*.middle-tree>li>label.chkbox{*/


/*position: absolute;*/


/*top: 0;*/


/*left: 6px;*/


/*}*/

.form_operate .chkboxAll {
    padding-left: 20px;
}

.middle-tree>li>.chkbox,
.indexed-list-item>.chkbox {
    position: relative;
}

.form_operate input[type='checkbox']+.chkboxAll:before,
.middle-tree>li>input[type='checkbox']+.chkbox:before,
.indexed-list-item>input[type='checkbox']+.chkbox:before {
    position: absolute;
    content: "\e8f2";
    color: #999;
}

.middle-tree>li>input[type='checkbox']+.chkbox:before {}

.form_operate input[type='checkbox']:checked+.chkboxAll:before,
.middle-tree>li>input[type='checkbox']:checked+.chkbox:before,
.indexed-list-item>input[type='checkbox']:checked+.chkbox:before {
    content: "\e8de";
    color: #488CEE;
}

.middle-tree>li>input[type='radio']+.chkbox:before,
.indexed-list-item>input[type='radio']+.chkbox:before {
    position: absolute;
    content: "\e8db";
    color: #999;
}

.middle-tree>li>input[type='radio']+.chkbox:before {}

.middle-tree>li>input[type='radio']:checked+.chkbox:before,
.indexed-list-item>input[type='radio']:checked+.chkbox:before {
    content: "\e8d6";
    color: #488CEE;
}

.form_operate input[type='checkbox']+.chkboxAll:before {
    top: 0;
    left: 0;
    line-height: 1;
}

.middle-tree>li:hover {
    background-color: #E4EEFC;
}

.middle-tree>li.no-data {
    color: #ccc;
    height: 370px;
    line-height: 370px;
    vertical-align: middle;
    text-align: center;
}

.middle-tree>li.no-data:hover {
    background-color: white;
}
.right-tree-list {
  width: max-content;
  height: 100%;
  min-width: 100%;
}
.right-tree .org-item {
    height: 28px;
    line-height: 28px;
    padding-left: 0px;
    position: relative;
    white-space: nowrap;
}

.right-tree .org-item:hover,
.right-tree .org-item.active {
  background: rgba(72, 140, 238, 0.15);
}

.right-tree .org-item>label {
    font-size: 14px;
    color: #666;
    cursor: pointer;
    width: 7em;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    vertical-align: middle;
}

.right-tree .org-item>label.node-dj {
    display: inline-block;
    width: auto;
    color: #999;
}

.right-tree .org-item>label+span {
    color: #999;
    font-size: 10px;
    display: none;
    cursor: pointer;
}

.right-tree .org-item>label+span:hover {
    color: #488cee;
}

.right-tree .org-item:hover>label+span {
    display: inline;
}

/* 不兼容ie 及 edge 15以下 */
.right-tree .org-item .btn-del {
    position: -webkit-sticky;
    position: sticky;
    float: right;
    right: 0;
    font-size: 12px;
    margin: 4px 5px;
    width: 20px;
    height: 20px;
    line-height: 20px;
    border-radius: 50%;
    text-align: center;
    background: #e8e8e8;
}

.form_operate {
    margin: 0px;
    padding: 0px 0px 0px 10px;
    height: 34px;
    line-height: 34px;
    background-color: #F6F6F6;
    border-top: 1px solid #e8e8e8;
}

.form_operate>button {
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
    height: 26px;
    padding: 0 6px;
    margin-top: 4px;
    line-height: 16px;
    background: none;
    color: #488CEE;
    border: 1px solid #F6F6F6;
    outline: none;
    FONT-SIZE: 14px;
}

.form_operate>button:hover {
    border: 1px solid rgba(72, 140, 238, 0.3);
}

.form_operate>button.disabled {
    color: #ccc;
    cursor: not-allowed;
}

.form_operate>button.disabled:hover {
    border: 1px solid transparent;
}

.form_operate>button>i.iconfont {
    margin-right: 4px;
}

.operate-move {
    display: block;
    border-radius: 4px;
    width: 36px;
    text-align: center;
    position: absolute;
    padding: 5px;
    background-color: #488CEE;
    margin: 5px;
    font-size: 17px;
    color: white;
    cursor: pointer;
    border: none;
}

.operate-move.gt {
    top: 120px;
}

.operate-move.lt {
    top: 160px;
    color: rgba(221, 221, 221, 1);
    border: 1px solid rgba(221, 221, 221, 1);
    background-color: rgba(246, 246, 246, 1);
}

.operate-move.gtgt {
    top: 240px;
    color: #488CEE;
    border: 1px solid #488CEE;
    background-color: white;
}

.operate-move.ltlt {
    top: 280px;
    color: #488CEE;
    border: 1px solid #488CEE;
    background-color: white;
}

.indexed-list {
    position: relative;
    overflow: hidden;
    background-color: white;
    height: 100%;
    cursor: default;
    padding: 0px;
}

.indexed-list .indexed-list-bar {
    width: 30px;
    background: transparent;
    position: absolute;
    height: 100%;
    z-index: 10;
    right: 0;
    display: table;
    -webkit-transition: .2s;
}

.indexed-list .indexed-list-bar>.bar-inner {
    text-align: center;
    position: absolute;
    top: 50%;
    width: 100%;
    transform: translateY(-50%);
    background: #ffff;
    cursor: pointer;
}

.indexed-list .indexed-list-bar a {
    display: block;
    text-align: center;
    font-size: 12px;
    padding: 0px;
    margin: 0px;
    line-height: 12px;
    color: #666666;
    vertical-align: middle;
}

.indexed-list .indexed-list-bar a.active,
.indexed-list .indexed-list-bar a:HOVER {
    border-radius: 12px;
    color: white;
    background-color: #488CEE;
}

.indexed-list .indexed-list-alert {
    position: absolute;
    z-index: 20;
    background-color: rgba(0, 0, 0, 0.5);
    width: 80px;
    height: 80px;
    left: 50%;
    top: 50%;
    margin-left: -40px;
    margin-top: -40px;
    border-radius: 40px;
    text-align: center;
    line-height: 80px;
    font-size: 35px;
    color: #fff;
    display: none;
    -webkit-transition: .2s;
}

.indexed-list .indexed-list-inner {
    margin: 0px;
    padding: 0px;
    overflow-y: auto;
    border: none;
}

.indexed-list .indexed-list-empty-alert,
.indexed-list .indexed-list-inner.empty ul {
    display: none;
}

.indexed-list .indexed-list-inner li.table-view-cell:HOVER {
    background-color: rgba(72, 140, 238, 0.15);
}
.indexed-list-inner .table-view {
  width: max-content;
  min-width: 100%;
}
.indexed-list-inner .table-view-list {
    padding: 0px;
    margin-block-start: 0px;
    margin-block-end: 0px;
    padding-inline-start: 0px;
    padding-inline-end: 0px;
}

.indexed-list-inner .indexed-list-group {
    background-color: #f7f7f7;
}

.indexed-list-inner .indexed-list-group,
.indexed-list-inner .indexed-list-item {
    font-size: 14px;
    cursor: pointer;
    position: relative;
    list-style: none;
    height: 18px;
    line-height: 18px;
    margin-right: 22px;
    padding: 5px 25px 5px 10px;
}

.indexed-list-inner .indexed-list-group>label,
.indexed-list-inner .indexed-list-item>label {
    cursor: pointer;
    color: #666666;
}

.indexed-list-inner .indexed-list-item>label.name {
    width: 90px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
    vertical-align: text-bottom;
}

li.table-view-cell>label.job {
    color: #999;
    left: 140px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

li.table-view-cell input[type=radio],
li.table-view-cell input[type=checkbox] {
    display: none;
    margin: 0px;
    height: 15px;
    width: 15px;
    vertical-align: middle;
}

li.table-view-cell i.icon {
    line-height: 0;
    margin: 0px 8px;
    width: 14px;
    height: 14px;
    display: inline-block;
    vertical-align: baseline;
    border: 0 none;
    cursor: pointer;
    outline: none;
    background-color: transparent;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-image: url(./img/zTreeStandard.png);
    *background-image: url(./img/zTreeStandard.gif);
}

li.indexed-list-item i.icon {
    margin-left: 24px;
}

.indexed-list-item>input[type='checkbox']+.chkbox:before {
    top: -1px;
}

.right-tree .org-item>i.icon,
.middle-tree>li>i.icon {
    line-height: 0;
    margin: 0px 8px;
    width: 14px;
    height: 14px;
    display: inline-block;
    vertical-align: middle;
    border: 0 none;
    cursor: pointer;
    outline: none;
    background-color: transparent;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-image: url(./img/zTreeStandard.png);
}

.middle-tree>li>i.icon {
    margin-left: 24px;
    vertical-align: baseline;
}

li.table-view-cell i.U,
.right-tree .org-item>i.U,
.middle-tree>li>i.U {
    background: url('../../../img/person-man.png') no-repeat;
    background-size: contain;
}

li.table-view-cell .U.man,
.right-tree .org-item>.U.man,
.middle-tree>li>.U.man {
    background: url('../../../img/person-man.png') no-repeat;
    background-size: contain;
}
li.table-view-cell i.C, .right-tree .org-item>i.C,
li.table-view-cell i.D, .right-tree .org-item>i.D {
	background:url('../../../img/department.png') no-repeat;
	background-size:contain;
}
li.table-view-cell .U.women,
.right-tree .org-item>.U.women,
.middle-tree>li>.U.women {
    background: url('../../../img/person-women.png') no-repeat;
    background-size: contain;
}

li.table-view-cell i.B,
.right-tree .org-item>i.B,
li.table-view-cell i.E,
.right-tree .org-item>i.E {
    background: url('../../../img/orgtree.png') no-repeat;
    background-size: contain;
}

li.table-view-cell i.C,
.right-tree .org-item>i.C,
li.table-view-cell i.D,
.right-tree .org-item>i.D {
    background: url('../../../img/department.png') no-repeat;
    background-size: contain;
}

li.table-view-cell i.J,
.right-tree .org-item>i.J {
    background: url('../../../img/job.png') no-repeat;
    background-size: contain;
}

li.table-view-cell i.DU,
.right-tree .org-item>i.DU,
li.table-view-cell i.G,
.right-tree .org-item>i.G {
    background: url('../../../img/group.png') no-repeat;
    background-size: contain;
}

li.table-view-cell i.O,
.right-tree .org-item>i.O,
li.table-view-cell i.V,
.right-tree .org-item>i.V {
    background: url('../../../img/company.png') no-repeat;
    background-size: contain;
}

li.table-view-cell i.R,
.right-tree .org-item>i.R,
.middle-tree>li>i.R {
    background: url('../../../img/role.png') no-repeat;
}

.right-tree::-webkit-scrollbar,
.left-tree > .ztree::-webkit-scrollbar,
.middle-tree::-webkit-scrollbar {
    background-color: #F6F6F6;
}


/*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*/

.right-tree::-webkit-scrollbar:vertical,
.left-tree > .ztree::-webkit-scrollbar:vertical,
.middle-tree::-webkit-scrollbar:vertical {
    width: 4px;
}


/*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*/

.right-tree::-webkit-scrollbar:horizontal,
.left-tree > .ztree::-webkit-scrollbar:horizontal,
.middle-tree::-webkit-scrollbar:horizontal {
    height: 4px;
}


/*定义滚动条轨道 内阴影+圆角*/

.right-tree::-webkit-scrollbar-track,
.left-tree > .ztree::-webkit-scrollbar-track,
.middle-tree::-webkit-scrollbar-track {
    border-radius: 1px;
    background-color: #F6F6F6;
}


/*定义滑块 内阴影+圆角*/

.right-tree::-webkit-scrollbar-thumb,
.left-tree > .ztree::-webkit-scrollbar-thumb,
.middle-tree::-webkit-scrollbar-thumb {
    border-radius: 1px;
    background-color: #CCCCCC;
}


/*��֯ѡ������ΰ�ť����*/


/*************************��֯ѡ���(End)*************************/

-->
