@charset "UTF-8";
@import url('../../../../../css/pt-iconfont/iconfont.css');
/* 组织选择美化 */
.org-select-container {
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  border-width: 0px;
  position: relative;
  display: inline-block;
  zoom: 1;
  *display: inline;
  vertical-align: middle;
  outline: none;
}

.org-select-container,
.org-select-container .org-label {
  cursor: pointer;
}
.org-select-container[readonly] .org-select {
  background: #f1f1f1;
}
.org-select-container[readonly],
.org-select-container[readonly] .org-select,
.org-select-container[readonly] .org-select li.org-entity,
.org-select-container[readonly] .org-select li.org-entity:before,
.org-select-container[readonly] .org-select li .org-label {
  cursor: not-allowed;
}
.org-select-container > i.icon {
  position: absolute;
  right: 8px;
  top: 0px;
  bottom: 0px;
  margin: auto;
  line-height: 14px;
  height: 14px;
  width: 14px;
  color: rgba(153, 153, 153, 1);
}

.org-select-container > .org-select {
  margin: 0;
  height: auto;
  min-height: 34px;
  padding: 2px 32px 2px 11px;
  position: relative;
  cursor: text;
  overflow: hidden;
  border-radius: 4px;
  background-color: #fff;
  outline: none;
}

.org-select-container:not(.error-style) > .org-select {
  border: 1px solid #ddd;
}

.org-select-container:not(.error-style) > .org-select:hover {
  border: 1px solid rgba(72, 140, 238, 1);
  box-shadow: 0 0 4px 0 rgba(72, 140, 238, 0.5);
}

.org-select > .org-entity {
  float: left;
  list-style: none;
  padding: 0px;
  margin: 0px;
  position: relative;
  font-size: 14px;
  line-height: 28px;
  color: rgba(102, 102, 102, 1);
  cursor: default;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* normal style */
.org-entity:before {
  display: inline-block;
}

.org-entity:before {
  content: ';';
  width: 8px;
}

.org-entity:first-child:before {
  display: none;
}
/* normal style end */

/* style1 */
.org-style1 .org-entity:before {
  width: 12px;
}

.org-style1 .V + .V:before,
.org-style1 .O + .O:before,
.org-style1 .J + .J:before,
.org-style1 .D + .D:before,
.org-style1 .B + .B:before,
.org-style1 .E + .E:before,
.org-style1 .U + .U:before {
  content: ',';
  width: 8px;
}
/* style1 end */

/* style2 */ /* (先实现style3的情况下，实现style2) */
.org-style2 .org-entity {
  line-height: 16px;
  border-radius: 4px;
  padding: 3px 5px;
  margin: 2px 5px 2px 0px;
  background-color: #f6f6f6;
  border: 1px solid rgba(221, 221, 221, 1);
}

.org-style2 .org-entity:before {
}

.org-style2 .V + .V.org-entity,
.org-style2 .O + .O.org-entity,
.org-style2 .J + .J.org-entity,
.org-style2 .D + .D.org-entity,
.org-style2 .B + .B.org-entity,
.org-style2 .E + .E.org-entity,
.org-style2 .U + .U.org-entity {
  border-radius: 4px;
  padding: 3px 5px 3px 2px;
  margin: 2px 5px 2px -11px; /* padding-right + marging-right + border-right-width = 11px*/
  border: 1px solid rgba(221, 221, 221, 1);
  border-left-width: 0px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

.org-style2 .V + .V:before,
.org-style2 .O + .O:before,
.org-style2 .J + .J:before,
.org-style2 .D + .D:before,
.org-style2 .B + .B.before,
.org-style2 .E + .E:before,
.org-style2 .U + .U:before {
  content: ',';
  width: 8px;
  line-height: 16px;
  background: none;
}

/* style2 end */

/* style3 */
.org-style3 .org-entity {
  line-height: 18px;
  border-radius: 4px;
  padding: 3px 5px 3px 20px;
  margin: 2px 5px 2px 0;
  background-color: #f6f6f6;
  border: 1px solid rgba(221, 221, 221, 1);
}
.org-style3 .org-entity:before {
  position: absolute;
  left: 4px;
  top: 4px;
  content: '';
  line-height: 0;
  margin: 0px 6px 0px 0px;
  width: 14px;
  height: 14px;
  display: inline-block;
  vertical-align: middle;
  border: 0 none;
  cursor: pointer;
  outline: none;
  background-color: transparent;
  background-repeat: no-repeat;
  background-attachment: scroll;
}

.org-style3 .org-entity.no-icon {
  padding-left: 5px;
}
.org-style3 .org-entity.no-icon::before {
  display: none;
}

/* style3 end */
.org-style2 .org-entity:before,
.org-style3 .org-entity:before {
  content: '';
  line-height: 0;
  margin: 0px 6px 0px 0px;
  width: 14px;
  height: 14px;
  display: inline-block;
  vertical-align: middle;
  border: 0 none;
  cursor: pointer;
  outline: none;
  background-color: transparent;
  background-repeat: no-repeat;
  background-attachment: scroll;
}

.org-style2 .U:before,
.org-style3 .U:before {
  background: url(../../../img/person.png) no-repeat;
  background-size: contain;
}

.org-style2 .B:before,
.org-style3 .B:before,
.org-style2 .E:before,
.org-style3 .E:before {
  background: url('../../../img/orgtree.png') no-repeat;
  background-size: contain;
}

.org-style2 .C:before,
.org-style3 .C:before,
.org-style2 .D:before,
.org-style3 .D:before {
  background: url('../../../img/department.png') no-repeat;
  background-size: contain;
}

.org-style2 .J:before,
.org-style3 .J:before {
  background: url('../../../img/job.png') no-repeat;
  background-size: contain;
}

.org-style2 .V:before,
.org-style2 .O:before,
.org-style3 .V:before,
.org-style3 .O:before {
  background: url('../../../img/company.png') no-repeat;
  background-size: contain;
}

.org-style2 .DU:before,
.org-style2 .G:before,
.org-style3 .DU:before,
.org-style3 .G:before {
  background: url('../../../img/group.png') no-repeat;
  background-size: contain;
}
